@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model SupportItemDTO
@{
    var requestTypes = Enum.GetValues(typeof(RequestTypeID)).Cast<RequestTypeID>();
    var requestTypeList = from requestType in requestTypes
                          select new SelectListItem
                          {
                              Text = (requestType.GetIntValue() == 680 || requestType.GetIntValue() == 685 || requestType.GetIntValue() == 688 || requestType.GetIntValue() == 689) ? requestType.GetStringValue() : "----- " + requestType.GetStringValue(),
                              Value = ((int)requestType).ToString()
                          };
}
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addSupportItemLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12"><h4 class="modal-title" id="addSupportItemLabel">Request Support</h4></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("AddSupportItem", "SupportItem", new { area = "Admin" })" method="POST" id="addSupportItem-form" class="smart-form"
                              data-upload-url="@Url.Action("UploadFile", "Messages", new { area = "Admin" })"
                              data-remove-upload-url="@Url.Action("RemovePendingUpload", "Messages", new { area = "Admin" })">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="AttachmentsID" id="AttachmentsIDSi" />
                            <fieldset>
                                <div class="row">
                                    <section class="col col-sm-6">
                                        <label class="label">User Name</label>
                                        <label class="input ">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBox("UserName", (string)ViewBag.UserName, new { @class = "form-control", disabled = "disabled", style = "background-color: rgba(218, 218, 218, 1);" })
                                        </label>
                                    </section>
                                    <section class="col col-sm-6">
                                        <label class="label">Email</label>
                                        <label class="input ">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBox("Email", (string)ViewBag.Email, new { @class = "form-control", disabled = "disabled", style = "background-color: rgba(218, 218, 218, 1);" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-6">
                                        <label class="label">Request Type</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.RequestTypeID, requestTypeList, "Please Select", new { tabindex = "1" })
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-sm-6">
                                        <label class="label">Telephone</label>
                                        <label class="input ">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.Telephone, new { tabindex = "2", maxlength = 20 })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-12">
                                        <label class="label">Title</label>
                                        <label class="input ">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.Title, new { tabindex = "3", maxlength = 150 })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-12">
                                        <label class="label">Content</label>
                                        <label class="textarea">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextAreaFor(m => m.Description, new { tabindex = "4", maxlength = "500", rows = 5, id = "description" })
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddSupportItem" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitAddSupportItem" class="btn btn-primary" tabindex="5">
                    Send
                </button>
                <div id="uploadSi" class="smart-form new-conversation-form dropzone" style="margin-left:13px; margin-right:13px;">
                    <div class="fallback">
                        <form method="post" enctype="multipart/form-data" id="multiformSi">
                            <input style="display:none;" type="file" name="file" id="fileSi" title="Add File" />
                            <button type="button" id="testSi">Upload file...</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/SupportItem/_AddSupportItem")"></script>
