@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@model AddHelpDTO

<style>
    .k-grid tbody .k-button {
        min-width: 20px;
        width: 24px;
    }
</style>
<div id="addHelpContainer" />
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addHelpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1200px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addHelpLabel">Add Help</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AddHelp", "Help", new { area = "Admin" })" method="POST" id="addHelp-form" class="smart-form">
                    @Html.ValidationBootstrap()
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m =>m.TempStoreID)
                    @Html.HiddenFor(m =>m.HelpID)
                    <fieldset>
                        <div class="row">
                            <div class="col col-6">
                                <section>
                                    <label class="label">Type</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.HelpTypeID, Html.EnumListWithIntValue<HelpTypeEnum>().Where(s => !s.Text.Equals("All")), "Please Select", new { tabindex = "1", data_url = Url.Action("CheckForOnlyOneOfType", "Help", new { Area = "Admin" }) })
                                        <i></i>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Name</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.Name, new { tabindex = "2", maxlength = 200 })
                                    </label>
                                </section>
                            </div>
                            <div class="col col-6">
                                <section>
                                    <label class="label">Description</label>
                                    <label class="input ">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", tabindex = "3", rows = 3, style = "width:100%; resize:none;" })
                                    </label>
                                </section>
                                <section id="uiPageUrlSection">
                                    <label class="label">Page Url</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.UiPageUrl, new { tabindex = "4", maxlength = 200,data_url = Url.Action("DoesShowMeHowUiPageUrlExist", "Help", new { Area = "Admin" }) })
                                    </label>
                                </section>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col col-12">
                                <div class="row">
                                    <a id="addHelpItemButton" data-href="@Url.Action("AddHelpItem", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" data-edit="@Url.Action("EditAddHelpItem", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" data-modallink="true" data-toggle="modal" class="btn btn-primary btn-sm inline-heading">
                                        <i class="fa fa-plus margin-right-5"></i>Add Item
                                    </a>
                                    <a id="editAddHelpItemButton" data-href="@Url.Action("EditAddHelpItem", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" data-modallink="true" data-toggle="modal" class="btn btn-primary btn-sm inline-heading"></a>
                                    <a id="upItemButton" data-href="@Url.Action("MoveUpAdd", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" class="display: none"></a>
                                    <a id="downItemButton" data-href="@Url.Action("MoveDownAdd", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" class="display: none"></a>
                                    <a id="deleteItemButton" data-href="@Url.Action("DeleteHelpItemTemp", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" class="display: none"></a>
                                </div>
                                <div class="row">
                                    <div id="hiGrid" data-url="@Url.Action("GetHelpItemsTemp", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer" id="addHelpControls">
                <button type="button" data-href="@Url.Action("CancelHelp", "Help", new { area = "Admin", tempStoreID = Model.TempStoreID })" id="cancelAddHelp" class="btn btn-default" data-dismiss="modal" tabindex="30">
                    Cancel
                </button>
                <button type="button" id="submitAddHelp" class="btn btn-primary" tabindex="5">
                    Add Help
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Help/_AddHelp")"></script>
