@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model HelpPageItemDTO
<div class="modal-header">
    <button type="button" id="cancelAddItem" class="btn btn-default" tabindex="7">
        Reset
    </button>
    <button type="button" id="submitAddItem" class="btn btn-primary" tabindex="6">
        Add
    </button>
</div>
<form action="@Url.Action("AddTempHelpPageItem", "Help", new { area = "Admin" })" method="POST" id="addItem-form" class="smart-form">
    @Html.ValidationBootstrap()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.HelpPageID)
    @Html.HiddenFor(m => m.DisplayOrder)
    <input type="hidden" id="helpPageItemId" name="helpPageItemId" />
    <fieldset>
        <section>
            <label class="label">Item Title:</label>
            <label class="input ">
                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                @Html.TextBoxFor(m => m.Title, new { tabindex = "1", maxlength = 100, id = "helpItemTitle" })
            </label>
        </section>
        <section>
            <label class="label">Item Selector:</label>
            <label class="input">
                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                @Html.TextBoxFor(m => m.Selector, new { tabindex = "2", maxlength = 200, id = "helpItemSelector" })
            </label>
        </section>

        <section id="tabIdSection" style="display:none">
            <label class="label">Item belong to Tab id: (Eg. #tabId)</label>
            <label class="input">
                @Html.TextBoxFor(m => m.TabContainerId, new { tabindex = "3", maxlength = 50, id = "helpItemTabContainerId" })
            </label>
        </section>

        <section id="tourSection" style="display:none">
            <label class="label">Effective On</label>
            <label class="input">
                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                <input type="text" id="effectiveDateInput" tabindex="3" readonly="readonly" />
                @Html.HiddenFor(m => m.EffectiveOn)
            </label>
        </section>
        <section>
            <label class="label">Description:</label>
            <label class="textarea">
                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", tabindex = "4", rows = 5, style = "width:100%; resize:none;", id = "helpItemDescription" })
            </label>
        </section>
        <section>
            <label class="label">Position:</label>
            <label class="select">
                @Html.DropDownListFor(m => m.Position, EnumHelper.GetSelectList(typeof(HtmlPositionEnum)), null, new { tabindex = "5", style = "width:100%; min-height:25px;", id = "helpItemPosition" })
                <i></i>
            </label>
        </section>
    </fieldset>
</form>
<div style="display:none">
    <form action="@Url.Action("GetItem", "Help", new { area = "Admin" })" method="POST" id="getItem-form" class="smart-form">
        @Html.AntiForgeryToken()
        <input type="hidden" id="helpItemEditId" name="id" />
    </form>
    <form action="@Url.Action("DeleteTempHelpPageItem", "Help", new { area = "Admin" })" method="POST" id="deleteItem-form" class="smart-form">
        @Html.AntiForgeryToken()
        <input type="hidden" id="helpItemDeleteId" name="id" />
    </form>
</div>
<script async src="@Scripts.Url("~/Scripts/Admin/Help/_AddItem")"></script>
