@using Bec.TargetFramework.Entities
@model HelpPageDTO
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="deleteHelpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteHelpLabel">Delete Help</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("DeleteHelp", "Help", new { area = "Admin" })" method="POST" id="deleteHelp-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.HelpPageID)
                            <fieldset>
                                <div class="row">
                                    <section class="col">
                                        <label class="label">This Help and all of its items will be deleted. Are you sure?</label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col">
                                        <dl class="dl-horizontal">
                                            <dt>Page Type:</dt>
                                            @{
                                                var type = Model.HelpPageTypeId == 800000 ? "Tour" : (Model.HelpPageTypeId == 800002 ? "Show Me How" : "Callout");
                                            }
                                            <dd><p>@Html.Label("PageType", @type)</p></dd>
                                            @if (Model.HelpPageTypeId == 800002)
                                            {
                                                <dt>Page Name:</dt>
                                                <dd><p>@Html.DisplayFor(m => m.PageName)</p></dd>                                           
                                                <dt>Page URL:</dt>
                                                <dd><p>@Html.DisplayFor(m => m.PageUrl)</p></dd>
                                            }
                                        </dl>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelDeleteHelp" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitDeleteHelp" class="btn btn-primary" tabindex="5">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Help/_DeleteHelpPage")"></script>
