@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@model ConversationsModel
<div class="row view-messages-container" id="viewMessagesContainer"
     data-templateurl="@Url.Action("GetTemplate", "App", new { area = "" })"
     @if (Model.IsActivitySpecific) { @: data-conversations-url="@Url.Action("GetConversationsActivity", "Messages", new { area = "Admin" })"
          } else { @: data-conversations-url="@Url.Action("GetConversations", "Messages", new { area = "Admin" })"
     }
     data-messages-url="@Url.Action("GetMessages", "Messages", new { area = "Admin" })"
     data-recipients-url="@Url.Action("GetRecipients", "Messages", new { area = "Admin" })"
     data-convrank-url="@Url.Action("GetConversationRank", "Messages", new { area = "Admin" })"
     data-is-activity-specific="@Model.IsActivitySpecific.ToString().ToLower()"
     data-activity-type="@Model.ActivityType"
     data-activity-id="@Model.ActivityId"
     data-target-conversation-id="@Model.SelectedConversationId">
    <div id="conversationsContainer" class="col-xs-12 col-md-4 conversations-container">
        <h3>
            Conversations
            <i class="fa fa-pulse fa-spinner margin-left-5" id="conversationsSpinner" style="display:none;"></i>
            <span class="pull-right">
                @if (Model.IsActivitySpecific)
                {
                    <a id="createConversationButton" class="btn btn-sm btn-primary" title="Create Conversation">
                        <i class="fa fa-plus margin-right-5"></i>
                        New
                    </a>
                }
            </span>
        </h3>
        <div id="conversationsList"></div>
        <div id="conversationsPager"></div>
        <div id="conversationsError" class="alert alert-danger" style="display:none;">An error has occurred when trying to load the data. Please try again later.</div>
    </div>

    <div id="messagesContainer" class="col-xs-0 col-sm-0 col-md-8 messages-container">
        <div id="messagesList">
            @Html.Partial("~/Areas/Admin/Views/Messages/_emptyMessagesTmpl.cshtml")
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Messages/_Conversations")"></script>
