@model IEnumerable<Bec.DynamicForm.Entities.DTO.FormDTO>

@{
    ViewBag.Title = "Forms_Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts {
    
}

<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Form Summary</h2></div>
        <div class="portlet-content">

            <div class="row">                
             
                <a href="@Url.Action("add", "Form")" class="btn">Create New Form</a>              
                </div>
                <table class="table" style="width:100%">
                    <tr>

                        <th>
                           Name
                        </th>
                        <th>
                           Description
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.FormName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FormDescription)
                            </td>
                           
                            <td>
                                <a href="@Url.Action("index", "section", new { area="dynamicform", FormId = item.FormId })" class="btn">Sections</a> |
                                @Html.ActionLink("Edit", "Edit", new { id = item.FormId }, new { @class="btn" })</td>
                        </tr>
                    }

                </table>
            </div></div></div>
