@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ext.NET MVC Examples Explorer</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css")" />

    <script>
        Ext.onReady(function () {
            if (top !== self) {
                Ext.select("a[class!=exclude]").on("click", function (e, el) { 
                    parent.location = el.href; 
                }, null, { preventDefault : true });
            }
        });
    </script>
</head>
<body class="welcome">
    @Html.X().ResourceManager()

    @(Html.X().Container()
        .Content(
            @<text>
                @*<a class="exclude" href="http://www.ext.net/store/" target="_top">
                    <img src="http://speed.ext.net/www/images/ext.net.sale.banner.png" alt="Ext.NET Sale Banner" class="banner" title="Ext.NET Sale Banner">
                </a>*@
                <div id="welcome-title">
                    Build <span class="mvc">ASP.NET MVC</span> Applications<br> With Ease
                </div>
            </text>
        )
    )

    @(Html.X().Container()
        .Content(
            @<text>
                <div id="welcome-info">
                    <span>
                        <p><span class="f-icon-ok-circle f-icons-standout"></span> Full support for ASP.NET MVC, including the Razor View Engine.</p>
                    </span>
                </div>
            </text>
        )
    )

    @(Html.X().Container()
        .Content(
            @<text>
                <div id="welcome-grid">
  		            <div id="screens">
                    </div>
                    <a class="button" href="/#/Events/DirectMethod/"><span class="f-icon-cog"></span> Events</a>
  			            <a class="button" href="/#/Portal/Complex/"><span class="f-icon-cog"></span> Portal</a>
                    <a class="button" href="/#/DTO/FormPanelFor/"><span class="f-icon-cog"></span> DTO</a>               
	            </div>
            </text>
        )
    )
</body>
</html>
