@using Bec.TargetFramework.Entities

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="generatePinLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="generatePinLabel">Regenerate PIN</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form action="@Url.Action("GeneratePin", "Transaction", new { area = "SmsTransaction" })" method="POST" id="generatePin-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <input type="hidden" name="txId" value="@ViewBag.txID" />
                                <input type="hidden" name="uaoId" value="@ViewBag.uaoID" />
                                @Html.Hidden("pageNumber", (object)ViewBag.pageNumber)

                                <div class="row">
                                    <section class="col">
                                        <label class="label">Are you sure you wish to regenerate a PIN number for @ViewBag.email?</label>
                                    </section>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button typw="button" id="cancelGeneratePin" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitGeneratePin" class="btn btn-primary">
                    Regenerate PIN
                </button>
            </div>
        </div>
    </div>
</div>
<script async src="@Scripts.Url("~/Scripts/SmsTransaction/Shared/_ViewGeneratePIN")"></script>