@using System.Activities.Statements
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header"> View Temporary Companies </h2>
        <hr class="simple">
        <div class="col-sm-12">
            <!-- Widget ID (each widget will need unique ID)-->

            <ul id="myTab1" class="nav nav-tabs bordered" role="tablist">
                <li id="tabu">
                    <a data-target="#s1" data-toggle="tab"> Unverified </a>
                </li>
                <li id="tabv">
                    <a data-target="#s2" data-toggle="tab"> Verified </a>
                </li>
            </ul>
            <div id="myTabContent1" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="s1" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="well">
                                <a data-href="@Url.Action("ViewAddTempCompany","TempCompany",new {area  = "Admin"})" id="aModalAdd" class="btn btn-primary btn-sm" data-target="#addModal" data-modal="">Add Company</a>
                            </div>
                            <div class="well">
                                <div id="unverifiedGrid"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- well -->
                            <div class="well">
                                <a data-href="@Url.Action("ViewRejectTempCompany","TempCompany",new {area  = "Admin"})" id="aModalReject" class="btn btn-primary btn-sm" data-target="#rejectModal" data-modal="">Reject Company</a>
                                <a data-href="@Url.Action("ViewGeneratePin","TempCompany",new {area  = "Admin"})" id="aModalGeneratePin" class="btn btn-primary btn-sm" data-target="#generatePinModal" data-modal="">Generate PIN</a>
                                <h5>Company</h5>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd><p id="dduCompanyName"></p></dd>
                                    <dt>Address:</dt>
                                    <dd><p id="dduCompanyAddress1"></p></dd>
                                    <dd><p id="dduCompanyAddress2"></p></dd>
                                    <dd><p id="dduCompanyTownCity"></p></dd>
                                    <dd><p id="dduCompanyCounty"></p></dd>
                                    <dd><p id="dduCompanyPostCode"></p></dd>
                                    <dd><p id="dduAdditional"></p></dd>
                                    <dt>Regulator:</dt>
                                    <dd><p id="dduRegulator"></p></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- well -->
                            <div class="well">
                                <h5>System Administrator</h5>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd><p id="dduSystemAdminName"></p></dd>
                                    <dt>Email:</dt>
                                    <dd><p id="dduSystemAdminEmail"></p></dd>
                                    <dt>Telephone:</dt>
                                    <dd><p id="dduSystemAdminTel"></p></dd>
                                </dl>
                                <h5>Other Details</h5>
                                <dl class="dl-horizontal">
                                    <dt>Created On:</dt>
                                    <dd><p id="dduCompanyCreatedOn"></p></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="s2" role="tabpanel">
                    <div class="row">
                        <div class="col-12">
                            <div class="well">
                                <div id="verifiedGrid"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- well -->
                            <div class="well">
                                <h5>Company</h5>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd><p id="ddvCompanyName"></p></dd>
                                    <dt>Address:</dt>
                                    <dd><p id="ddvCompanyAddress1"></p></dd>
                                    <dd><p id="ddvCompanyAddress2"></p></dd>
                                    <dd><p id="ddvCompanyTownCity"></p></dd>
                                    <dd><p id="ddvCompanyCounty"></p></dd>
                                    <dd><p id="ddvCompanyPostCode"></p></dd>
                                    <dd><p id="ddvAdditional"></p></dd>
                                    <dt>Regulator:</dt>
                                    <dd><p id="ddvRegulator"></p></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- well -->
                            <div class="well">
                                <h5>System Administrator</h5>
                                <dl class="dl-horizontal">
                                    <dt>Name:</dt>
                                    <dd><p id="ddvSystemAdminName"></p></dd>
                                    <dt>Email:</dt>
                                    <dd><p id="ddvSystemAdminEmail"></p></dd>
                                    <dt>Telephone:</dt>
                                    <dd><p id="ddvSystemAdminTel"></p></dd>
                                </dl>
                                <h5>Other Details</h5>
                                <dl class="dl-horizontal">
                                    <dt>Created On:</dt>
                                    <dd><p id="ddvCompanyCreatedOn"></p></dd>
                                    <dt>Pin Code:</dt>
                                    <dd><p id="ddvPINNumber"></p></dd>
                                    <dt>Pin Created On:</dt>
                                    <dd><p id="ddvPINCreatedOn"></p></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade in" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="addModalContent"></div>
        </div>
    </div>
</div>
<div class="modal fade in" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="rejectModalContent"></div>
        </div>
    </div>
</div>
<div class="modal fade in" id="generatePinModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="generatePinModalContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">Are you sure you want to Cancel?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelNo" class="btn btn-default" data-dismiss="modal">
                    No
                </button>
                <button type="button" id="cancelYes" class="btn btn-primary" data-dismiss="modal">
                    Yes
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="duplicatesModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">Duplicate companies found</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p id="dupeMessage"></p>
                        <p>Please confirm that you have checked for potential duplicates and you wish to continue with your save. This will create a new temporary company on the system.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="duplicatesGrid"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="abortSave" class="btn btn-default" data-dismiss="modal">
                    Back to Add Company
                </button>
                <button type="button" id="saveWithDuplicates" class="btn btn-primary" data-dismiss="modal">
                    Continue with Save
                </button>
            </div>
        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        var verifiedId = '@TempData["VerifiedCompanyId"]';

        var newCompanyId = '@TempData["AddTempCompanyId"]';
        var uSelectedItem, vSelectedItem;
        var unVerifiedLoaded = false, verifiedLoaded = false;

        var getUnverifiedCompaniesUrl = '@Url.Action("LoadCompanies", "TempCompany", new {area = "Admin", orgStatus = Bec.TargetFramework.Presentation.Web.Api.Client.Models.ProfessionalOrganisationStatusEnum.Unverified})';
        var getVerifiedCompaniesUrl = '@Url.Action("LoadCompanies", "TempCompany", new { area = "Admin", orgStatus = Bec.TargetFramework.Presentation.Web.Api.Client.Models.ProfessionalOrganisationStatusEnum.Verified })';

        $(document).ready(function () {
            $.ajaxSetup({ cache: false });

            $('#myTab1 li a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if ($(e.target).data('target') == '#s1') makeUnverifiedGrid();
                if ($(e.target).data('target') == '#s2') makeVerifiedGrid();
            });

            if (verifiedId) {
                $('#myTab1 li:eq(1) a').tab('show');
            }
            else {
                $('#myTab1 li:eq(0) a').tab('show');
            }

            $("#aModalAdd").on("click", function (e) {
                e.preventDefault();
                $('#addModalContent').load($(this).data('href'), function (response, status) {
                    if (status == "error")
                        checkRedirect(JSON.parse(response));
                    else {
                        $('#addModal').modal({
                            backdrop: 'static',
                            keyboard: false
                        }, 'show');
                    }
                });
                return false;
            });

            $("#aModalReject").on("click", function (e) {
                e.preventDefault();
                if (uSelectedItem) {
                    $('#rejectModalContent').load($(this).data('href') + '?orgId=' + uSelectedItem.OrganisationID, function (response, status) {
                        if (status == "error")
                            checkRedirect(JSON.parse(response));
                        else {
                            $('#rejectModal').modal({
                                backdrop: 'static',
                                keyboard: false
                            }, 'show');
                        }
                    });
                    return false;
                }
            });

            $("#aModalGeneratePin").on("click", function (e) {
                e.preventDefault();
                if (uSelectedItem) {
                    $('#generatePinModalContent').load($(this).data('href') + '?orgId=' + uSelectedItem.OrganisationID, function (response, status) {
                        if (status == "error")
                            checkRedirect(JSON.parse(response));
                        else {
                            $('#generatePinModal').modal({
                                backdrop: 'static',
                                keyboard: false
                            }, 'show');
                        }
                    });
                    return false;
                }
            });
        });

        function makeUnverifiedGrid() {
            if (unVerifiedLoaded) return;
            unVerifiedLoaded = true;
            $("#unverifiedGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: getGridDataFromUrl(getUnverifiedCompaniesUrl)
                    },
                    schema: {
                        data: "list",
                        total: "total",
                        model: { id: "OrganisationID" }
                    },
                    sort: loadGridSort("unverifiedGrid") || { field: "CreatedOn", dir: "asc" }
                },
                height: 300,
                selectable: "row",
                filterable: false,
                sortable: true,
                navigatable: true,
                pageable: {
                    numeric: false,
                    previousNext: false,
                    messages: { display: "{2} rows" }
                },
                columns: [
                    {
                        field: "OrganisationID",
                        hidden: true,
                    },
                    {
                        field: "Name",
                        title: "Company Name"
                    },
                    {
                        field: "Line1",
                        title: "Address 1"
                    },
                    {
                        field: "PostalCode",
                        title: "Post Code"
                    },
                    {
                        field: "OrganisationAdminLastName",
                        title: "System Administrator",
                        template: function (dataItem) {
                            return kendo.htmlEncode(dataItem.OrganisationAdminFirstName) + " " + kendo.htmlEncode(dataItem.OrganisationAdminLastName);
                        }
                    },
                    {
                        field: "OrganisationAdminTelephone",
                        title: "Telephone Number"
                    },
                    {
                        field: "OrganisationAdminEmail",
                        title: "Email"
                    },
                    {
                        field: "CreatedOn",
                        title: "Created On",
                        template: function (dataItem) {
                            return dateString(dataItem.CreatedOn);
                        }
                    }
                ],
                dataBound: unverifiedDataBound,
                change: unverifiedChange
            });
        };


        function makeVerifiedGrid() {
            if (verifiedLoaded) return;
            verifiedLoaded = true;
            $("#verifiedGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: getGridDataFromUrl(getVerifiedCompaniesUrl)
                    },
                    schema: { data: "list", total: "total", model: { id: "OrganisationID" } },
                    sort: loadGridSort("verifiedGrid") || { field: "CreatedOn", dir: "asc" }
                },
                height: 300,
                selectable: "row",
                filterable: false,
                sortable: true,
                navigatable: true,
                pageable: {
                    numeric: false,
                    previousNext: false,
                    messages: { display: "{2} rows" }
                },
                columns: [
                    {
                        field: "OrganisationID",
                        hidden: true,
                    },
                    {
                        field: "Name",
                        title: "Company Name"
                    },
                    {
                        field: "OrganisationPinCode",
                        title: "PIN Number"
                    },
                    {
                        field: "OrganisationPinCreated",
                        title: "PIN Created",
                        template: function (dataItem) {
                            return dateString(dataItem.OrganisationPinCreated);
                        }
                    },
                    {
                        field: "PostalCode",
                        title: "Post Code"
                    },
                    {
                        field: "OrganisationAdminLastName",
                        title: "System Administrator",
                        template: function (dataItem) {
                            return kendo.htmlEncode(dataItem.OrganisationAdminFirstName) + " " + kendo.htmlEncode(dataItem.OrganisationAdminLastName);
                        }
                    },
                    {
                        field: "OrganisationAdminTelephone",
                        title: "Telephone Number"
                    },
                    {
                        field: "OrganisationAdminEmail",
                        title: "Email"
                    },
                    {
                        field: "CreatedOn",
                        title: "Created On",
                        template: function (dataItem) {
                            return dateString(dataItem.CreatedOn);
                        }
                    }
                ],
                dataBound: verifiedDataBound,
                change: verifiedChange
            });
        };

        function unverifiedDataBound(e) {
            saveGridSort("unverifiedGrid");

            var grid = $("#unverifiedGrid").data("kendoGrid");
            var gridData = grid.dataSource.data();
            if (gridData.length == 0) return;

            if (newCompanyId != null && newCompanyId != "") {
                for (var i = 0; i < gridData.length; i++) {
                    if (newCompanyId.replace(/-/g, "") == gridData[i].OrganisationID) {
                        scrollToRow(grid, gridData[i]);
                        newCompanyId = null;
                        break;
                    }
                }
            } else {
                scrollToRow(grid, uSelectedItem);
            }
        }

        function verifiedDataBound(e) {
            saveGridSort("verifiedGrid");

            var grid = $("#verifiedGrid").data("kendoGrid");
            var gridData = grid.dataSource.data();
            if (gridData.length == 0) return;

            if (verifiedId != null && verifiedId != "") {
                for (var i = 0; i < gridData.length; i++) {
                    if (verifiedId.replace(/-/g, "") == gridData[i].OrganisationID) {
                        scrollToRow(grid, gridData[i]);
                        verifiedId = null;
                        break;
                    }
                }
            }
            else {
                scrollToRow(grid, vSelectedItem);
            }
        }

        function unverifiedChange(e) {
            var selectedRows = this.select();
            if (selectedRows.length == 1) {

                var dataItem = this.dataItem(selectedRows[0]);
                uSelectedItem = dataItem;

                $("p#dduCompanyName").text(dataItem.Name || "");
                $("p#dduCompanyCreatedOn").text(dateString(dataItem.CreatedOn));
                $("p#dduCompanyCounty").text(dataItem.County || "");
                $("p#dduCompanyPostCode").text(dataItem.PostalCode || "");
                $("p#dduCompanyTownCity").text(dataItem.Town || "");
                $("p#dduCompanyAddress2").text(dataItem.Line2 || "");
                $("p#dduCompanyAddress1").text(dataItem.Line1 || "");
                $("p#dduAdditional").text(dataItem.AdditionalAddressInformation || "");
                $("p#dduSystemAdminEmail").text(dataItem.OrganisationAdminEmail || "");
                $("p#dduSystemAdminTel").text(dataItem.OrganisationAdminTelephone || "");
                $("p#dduSystemAdminName").text(dataItem.OrganisationAdminSalutation + " " + dataItem.OrganisationAdminFirstName + " " + dataItem.OrganisationAdminLastName);

                var regulatorName = dataItem.Regulator || "";
                if (regulatorName.toLowerCase() == 'other') regulatorName = dataItem.RegulatorOther;
                $("p#dduRegulator").text(regulatorName);
            }
        }

        function verifiedChange(e) {
            var selectedRows = this.select();
            if (selectedRows.length == 1) {

                var dataItem = this.dataItem(selectedRows[0]);
                vSelectedItem = dataItem;

                $("p#ddvCompanyName").text(dataItem.Name || "");
                $("p#ddvCompanyCreatedOn").text(dateString(dataItem.CreatedOn));
                $("p#ddvCompanyCounty").text(dataItem.County || "");
                $("p#ddvCompanyPostCode").text(dataItem.PostalCode || "");
                $("p#ddvCompanyTownCity").text(dataItem.Town || "");
                $("p#ddvCompanyAddress2").text(dataItem.Line2 || "");
                $("p#ddvCompanyAddress1").text(dataItem.Line1 || "");
                $("p#ddvAdditional").text(dataItem.AdditionalAddressInformation || "");
                $("p#ddvSystemAdminEmail").text(dataItem.OrganisationAdminEmail || "");
                $("p#ddvSystemAdminTel").text(dataItem.OrganisationAdminTelephone || "");
                $("p#ddvSystemAdminName").text(dataItem.OrganisationAdminSalutation + " " + dataItem.OrganisationAdminFirstName + " " + dataItem.OrganisationAdminLastName);

                var regulatorName = dataItem.Regulator || "";
                if (regulatorName.toLowerCase() == 'other') regulatorName = dataItem.RegulatorOther;
                $("p#ddvRegulator").text(regulatorName);

                $("p#ddvPINNumber").text(dataItem.OrganisationPinCode);
                $("p#ddvPINCreatedOn").text(dateString(dataItem.OrganisationPinCreated));
            }
        }

        function scrollToRow(grid, item) {
            if (!grid || !item) return;
            var row = grid.tbody.find("tr[data-uid='" + item.uid + "']");
            grid.select(row);

            var scrollContentOffset = grid.tbody.offset().top;
            var selectContentOffset = grid.select().offset().top;
            var distance = selectContentOffset - scrollContentOffset;

            grid.content.animate({
                scrollTop: distance
            }, 400);
        };

    </script>
}
