<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--Page Title-->
    <title>Safe Move Scheme System.</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-gb" />
    <meta name="robots" content="all" />
    <meta name="country" content="UK" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 day" />
   

    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.2.custom.css")" media="all" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/reset.css")" media="all" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")" media="all" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.autocomplete.css")"  type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/newstyle.css")" type="text/css" media="all" />
    <link type="text/css" href="@Url.Content("~/Content/jquery.jgrowl.css")" rel="stylesheet" media="all" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/head.load.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bec/functions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.autocomplete.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.wirehouse.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/columns.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery-easing.1.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.jgrowl_minimized.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bec/jquery.wirehouse.config.js")"></script>
    
    
    
 
 </head>

<body>
    <div id="wrap">
        <div id="header">
            <div id="logo"><a href="#" id="aLogo"  title="Safe Move Scheme">Safe Move Scheme </a></div>
            @RenderPage("~/Views/Shared/_dropdown.cshtml")            
        </div>
       @RenderPage("~/Views/Shared/_topnav.cshtml")     
        <div id="main_wrap">
            @RenderBody()
            </div>

        <div id="footer">
            <span class="left">Copyright &copy; 2013 – BE Consultancy Ltd. All Rights Reserved</span>
           
        </div>

        </div>
      

        
        @RenderSection("PageScripts", required: false)
        @RenderSection("PagePopups", false)


    <script type="text/javascript">

    if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) { //test for MSIE x.x;
        var ieversion = new Number(RegExp.$1) // capture x.x portion and store as a number
        /*if (ieversion >= 9)
        alert("You're using IE9 or above")
        else if (ieversion >= 8)
        alert("You're using IE8 or above")
        else if (ieversion >= 7)
        alert("You're using IE7.x")
        else if (ieversion >= 6)
        alert("You're using IE6.x")
        else if (ieversion >= 5)
        alert("You're using IE5.x")*/
    }
    else {
        //alert(ieversion);
        ieversion = 999;
    }

    var oHead = document.getElementsByTagName('HEAD').item(0);

    var oScript = document.createElement("script");

    oScript.type = "text/javascript";

    oScript.src = "@Url.Content("~/Scripts/bec/jquery.wirehouse.config.js")";

    if (ieversion > 7 || ieversion == 999)
        oHead.appendChild(oScript);
    </script>
    <script type="text/javascript">

        function showProgressBar() {


            try {
                $find('pnProgressBar').show();
            } catch (Error) { }

            window.scrollTo = function (x, y) { return true; };

        }

        var _gaq = _gaq || [];

        _gaq.push(['_setAccount', 'UA-19643427-1']);

        _gaq.push(['_trackPageview']);



        (function () {

            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        })();



    </script>
    </body>





</html>
