@using Ext.Net;
@using Ext.Net.MVC;
@{
    Layout = null;
    HttpContext.Current.Items["Safe Move Schem"] = true;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/examples.css")" />
    @RenderSection("headtag", false)
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as Ext.Net.MVC.MvcResourceManagerConfig)
    @RenderSection("Body", true)
</body>
</html>