@using Bec.TargetFramework.Presentation.Web.Models
@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Web.Helpers
@model AddSmsClientDTO
@{
    var personaName = (string)ViewBag.personaName;
}
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addSmsLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addSmsLabel">Add @personaName</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <section class="col-12">
                        <form id="addSmsClientForm" class="smart-form" data-url="@Url.Action("AddSmsClient", "SmsClient", new { area = "SmsTransaction" })" data-redirectto="@Url.Action("Index", "Transaction", new { selectedTransactionID = Model.TransactionID, pageNumber = ViewBag.pageNumber })" data-message="@Url.Action("ViewMessage", "Message", new { Area = "", })">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.TransactionID)
                            @Html.HiddenFor(m => m.UserAccountOrganisationTransactionType)
                            @Html.Hidden("pageNumber", (object)ViewBag.pageNumber)
                            <fieldset>
                                <legend>@personaName Details</legend>
                                <div class="row">
                                    <section class="col col-sm-4">
                                        <label class="label">Title</label>
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.Salutation, Html.EnumListString<SalutationEnum>(), "Please Select", new { tabindex = "1" })
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-sm-4">
                                        <label class="label">First Name</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.FirstName, new { tabindex = "2", maxlength = 50 })
                                        </label>
                                    </section>
                                    <section class="col col-sm-4">
                                        <label class="label">Last Name</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.LastName, new { tabindex = "3", maxlength = 50 })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-8">
                                        <label class="label">Email</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                            @Html.TextBoxFor(m => m.Email, new { tabindex = "4", maxlength = 100, type = "email", data_url = Url.Action("CheckEmailPersonal", "App", new { Area = "", txId = Model.TransactionID }) })
                                        </label>
                                    </section>
                                    <section class="col col-sm-4">
                                        <label class="label">Date of Birth</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.BirthDate, "{0:O}", new { tabindex = "5", id = "birthDateInput", @readonly = true })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-sm-8">
                                        <label class="label">Personal Mobile Phone Number</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { tabindex = "6", maxlength = 11, autocomplete = "off", @class = "form-control" })
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>@personaName Registered Home Address</legend>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">Lookup Postcode</label>
                                        <label class="input">
                                            <input id="smsClientPostcodeLookup" type="text" tabindex="8" maxlength="10" />
                                        </label>
                                    </section>

                                    <section class="col">
                                        <label class="label">&nbsp;</label>
                                        <button id="smsClientFindAddressButton" data-url="@Url.Action("FindAddress", "PostcodeLookup", new { Area = "" })" data-requestverificationtoken="@Html.AntiForgeryTokenValue()" type="button" class="btn btn-primary btn-sm" tabindex="9">Find Address</button>
                                    </section>
                                </div>

                                <section>
                                    <label class="select">
                                        <select id="smsClientAddressResults" tabindex="10"></select>
                                        <i></i>
                                    </label>
                                </section>


                                <div class="row">
                                    <section class="col" id="smsClientNoMatch">
                                        <em style="color: #d56161">No matches found, please enter address below</em>
                                    </section>
                                </div>

                                <div class="row" id="smsClientManAddRow">
                                    <section class="col">
                                        <input type="checkbox" id="smsClientManualAddress" />
                                        <label for="smsClientManualAddress" tabindex="11">Edit Address Details</label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            @Html.TextBoxFor(m => m.RegisteredHomeAddressDTO.Line1, new { id = "smsClientLine1", @readonly = "readonly", placeholder = "Address Line 1", tabindex = "12", maxlength = 50 })
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            @Html.TextBoxFor(m => m.RegisteredHomeAddressDTO.County, new { id = "smsClientCounty", @readonly = "readonly", placeholder = "County", tabindex = "15", maxlength = 50 })
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            @Html.TextBoxFor(m => m.RegisteredHomeAddressDTO.Line2, new { id = "smsClientLine2", @readonly = "readonly", placeholder = "Address Line 2", tabindex = "13", maxlength = 50 })
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            @Html.TextBoxFor(m => m.RegisteredHomeAddressDTO.PostalCode, new { id = "smsClientPostalCode", @readonly = "readonly", placeholder = "Postcode", tabindex = "16", maxlength = 50 })
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            @Html.TextBoxFor(m => m.RegisteredHomeAddressDTO.Town, new { id = "smsClientTown", @readonly = "readonly", placeholder = "Town", tabindex = "14", maxlength = 50 })
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>@personaName Source of Funds</legend>
                                @Html.Partial("_SrcFundsBankAccounts", new SrcFundsModel { IsRequired = false })
                            </fieldset>
                        </form>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddSmsClient" class="btn btn-default" data-dismiss="modal" tabindex="18">
                    Cancel
                </button>
                <button type="button" id="submitAddSmsClientBtn" class="btn btn-primary" tabindex="17">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/SmsTransaction/SmsClient/AddSmsClient")"></script>