@model Guid
@{
    ViewBag.Title = "extr-page";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well no-padding">
                <form action="@Url.Action("Done", "AcceptTCs", new { area = "Account"})" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Terms and Conditions
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <input type="hidden" name="notificationID" value="@ViewBag.NotificationID" />
                    <fieldset>
                        <label>Please read the following Terms and Conditions, once you are happy <strong>please check the checkbox at the bottom of the Terms and Conditions</strong> to confirm you have read, understood and accept the Terms and Conditions <strong>before you click 'Continue'.</strong></label>
                    </fieldset>
                    <div style="height:400px;overflow-y:scroll">
                        <fieldset>
                            @foreach (var line in ViewBag.Lines)
                            {
                                <p>@line</p><br />
                            }
                            <input type="checkbox" id="tc" autocomplete="off" class="margin-right-10" />
                            <label for="tc">I have read, understood and accept the Terms and Conditions</label>
                        </fieldset>
                    </div>
                    <footer>
                        @Html.ActionLink("Save as PDF", "GetPDF", new { area = "Account", ncID = @ViewBag.NotificationConstructID, version = @ViewBag.NotificationConstructVersionNumber }, new { @class = "btn btn-sm btn-default pull-left", id = "download-btn" })
                        <input type="submit" id="formSubmit" class="btn btn-primary" value="Continue" data-message="@Url.Action("ViewMessage", "Message", new { Area = "", title = "Accept Terms and Conditions", message = "Please read and accept the Terms and Conditions. You can find the acceptance statement at the bottom of the text content.", button = "Close" })" />
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/AcceptTCs/Index")"></script>
}