@using Bec.TargetFramework.Entities.Enums
<!-- MAIN CONTENT -->
<div id="content" data-showmessage="@TempData["ShowMessage"]" data-url="@Url.Action("ViewMessage", "Message", new { Area = "", })">
    <div class="row">

        <h2 class="row-seperator-header inline-heading txt-color-blueDark"><i class="fa fa-lg fa-bank margin-right-10"></i>Manage Bank Accounts</h2>
        @if (Bec.TargetFramework.Security.ClaimsHelper.UserHasClaim("Add", "BankAccount"))
        {
            <a data-href="@Url.Action("ViewAddBankAccount", "Account", new { area  = "BankAccount" })" class="btn btn-primary btn-sm inline-heading" data-modallink="true">Add Bank Account</a>
        }
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="baGrid" data-url="@Url.Action("GetBankAccounts", "Account", new { area = "BankAccount" })" data-jumpto="@TempData["OrganisationBankAccountID"]"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <!-- well -->
                    <div class="well">

                        <a id="markFraudSuspiciousButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewStatus", "Account", new { area = "BankAccount" })?status=@BankAccountStatusEnum.FraudSuspicion">Mark as Fraud Suspicious</a>
                        @if (Bec.TargetFramework.Security.ClaimsHelper.UserHasClaim("Add", "BankAccount"))
                        {
                            <a id="confirmPotentialButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewStatus", "Account", new { area = "BankAccount" })?status=@BankAccountStatusEnum.PotentialFraud">Confirm Potential Fraud</a>
                            <a id="markSafeButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewStatus", "Account", new { area = "BankAccount" })?status=@BankAccountStatusEnum.Safe">Mark Safe</a>
                            <br />
                            <br />
                            <a id="activateButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewToggleActive", "Account", new { area = "BankAccount" })">Activate</a>
                            <a id="deactivateButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewToggleActive", "Account", new { area = "BankAccount" })">Deactivate</a>
                        }

                        <h5>Selected Bank Account</h5>
                        <dl class="dl-horizontal">
                            <dt>Account Number:</dt>
                            <dd><p id="ddAccountNumber"></p></dd>
                            <dt>Sort Code:</dt>
                            <dd><p id="ddSortCode"></p></dd>
                            <dt>Created:</dt>
                            <dd><p id="ddCreated"></p></dd>
                            <dt>Status:</dt>
                            <dd><p id="ddStatus"></p></dd>
                        </dl>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="well">
                        <h5>Account History</h5>
                        <div id="history"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/BankAccount/Account/Index")"></script>
}
