@model int
<span id="activity" class="activity-dropdown" title="Notifications">
    <i class="sms sms-safe-send"></i>
    <b class="badge @(Model > 0 ? "bounceIn bg-color-red" : "")" id="unreadConversationsCountId" data-get-unread-count-url="@Url.Action("GetLatestConversationsCount", "MessagesNotifications", new { area = "Admin" })">@Model</b>
</span>
<div class="ajax-dropdown">
    <h4>Notifications</h4>
    <div id="latestConversationsError" class="alert alert-danger" style="display:none;">Ooops... Something went wrong. Please try again later.</div>
    <div id="latestConversationsContainer" class="ajax-notifications custom-scroll" data-load-conversations-url="@Url.Action("LatestConversations", "MessagesNotifications", new { area = "Admin" })"></div>
    <span>
        @Html.ActionLink("See all Safe Send Messages", "Index", "Messages", new { area = "Admin" }, new { @class = "btn btn-default pull-right" })
    </span>
</div>
<script async src="@Scripts.Url("~/Scripts/Admin/MessagesNotifications/_LatestConversationsContainer")"></script>
