@model List<Bec.TargetFramework.Entities.VConversationDTO>
<span id="activity" class="activity-dropdown" title="Notifications">
    <i class="sms sms-safe-send"></i>
    <b class="badge" id="unreadConversationsCountId">@Model.Count</b>
</span>

<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
<div class="ajax-dropdown">
    <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
    <h4>Notifications</h4>
    <!-- notification content -->
    <div class="ajax-notifications custom-scroll">
        <ul class="notification-body" id="latestConversationsList">
            @if (Model.Any())
            {
                foreach (var conversation in Model)
                {
                    <li data-conversation-id="@conversation.ConversationID">
                        <span class="padding-10 ">
                            <em class="badge padding-5 no-border-radius bg-color-primary pull-left margin-right-5">
                                <i class="fa fa-bell fa-fw fa-2x"></i>
                            </em>
                            <span>
                                <span class="text-muted">Subject: </span>@conversation.Subject
                                - @Html.ActionLink("Read more", "Index", "Messages", new { area = "Admin", conversationId = conversation.ConversationID }, new { @class = "display-normal" })
                                <br>
                                <span class="pull-right font-xs text-muted"><i>@Html.Timeago(conversation.Latest.Value)...</i></span>
                            </span>
                        </span>
                    </li>
                }
            }
            else
            {
                <li>
                    <span class="padding-10">
                        <em class="badge padding-5 no-border-radius bg-color-transparent pull-left margin-right-5">
                            <i class="fa fa-smile-o fa-fw fa-2x color-primary"></i>
                        </em>
                        <span>
                            There are no notifications
                        </span>
                    </span>
                </li>
            }
        </ul>
    </div>
    <span>
        @Html.ActionLink("See all Safe Send messages", "Index", "Messages", new { area = "Admin" }, new { @class = "btn btn-default pull-right" })
    </span>
    <!-- end footer -->
</div>
<!-- END AJAX-DROPDOWN -->
