@model Bec.DynamicForms.Models.AnswerChoiceModel

<tr class="editorRow">
    @using (Html.BeginCollectionItem("AnswerChoiceList"))
{
    <td>        
        @Html.EditorFor(x => x.ChoiceName)  
    </td>
     <td>Unhide When @Html.CheckBoxFor(x => x.bUnHideChildQuestion, @Model.bUnHideChildQuestion)</td>
    <td>Unhide When @Html.CheckBoxFor(x => x.bUnHideUploadControl, @Model.bUnHideUploadControl)</td>
    <td><a href="#" class="deleteRow"><img src="@Url.Content("~/Content/img/bullet_delete.png")" /></a></td>
    
}
</tr> 


