@model IEnumerable<Bec.DynamicForms.Models.FormModels>

@{
    ViewBag.Title = "Forms_Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts {
    <script type="text/javascript" language="javascript">
        head.js("@Url.Content("~/Scripts/jquery/jquery.json-2.2.min.js")");

        function ShowSections(formid) {
            $.ajax(
             {
                 type: 'POST',
                 url: "@Url.Action("Form_ChangeFormStatus", "ConfigureDynamicForm")",
                data: $.toJSON
                    ({
                        formId: formId,
                        status: status
                    }),
            success: function (data) {


            },
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });

        
        
        }
        function ToggleForm(formId,status) {
       
        $.ajax(
               {
                  type: 'POST',
                  url: "@Url.Action("Form_ChangeFormStatus", "ConfigureDynamicForm")",
                   data: $.toJSON
                       ({
                      formId: formId,
                      status: status
                  }),
                  success: function (data) {


                },
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
               });

        window.event.returnValue = false;
        document.location = '@Url.Action("Forms_Summary", "ConfigureDynamicForm")';



    }


</script>
}

<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Form Summary</h2></div>
        <div class="portlet-content">

            <div class="row">                
                <a href="@Url.Action("Section_Summary", "ConfigureDynamicForm")" class="btn" >Add/Edit Sections</a> | 
                <a href="@Url.Action("Form_Create", "ConfigureDynamicForm")" class="btn">Create New Form</a>              
                </div>
                <table class="table" style="width:100%">
                    <tr>

                        <th>
                           Name
                        </th>
                        <th>
                           Description
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.FormName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                           
                            <td>
                                <a href="#" class="btn" onclick="ToggleForm('@item.FormId','@item.isActiveStatus')">@item.isActiveStatus</a>                                                                                             
                                | <a href="@Url.Action("Forms_Sections", "ConfigureDynamicForm", new { FormId = item.FormId, FormName = item.FormName })" class="btn">Sections</a> |
                                @Html.ActionLink("Edit", "Form_Edit", new { id = item.FormId }, new { @class="btn" })</td>
                        </tr>
                    }

                </table>
            </div></div></div>
