@model List<Bec.DynamicForms.Models.SectionModels>

@{
    ViewBag.Title = "Forms_Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts {
    <script type="text/javascript" language="javascript">
        head.js("@Url.Content("~/Scripts/jquery/jquery.json-2.2.min.js")");

        function ShowSections(formid) {
            $.ajax(
             {
                 type: 'POST',
                 url: "@Url.Action("Form_ChangeFormStatus", "ConfigureDynamicForm")",
                data: $.toJSON
                    ({
                        formId: formId,
                        status: status
                    }),
            success: function (data) {


            },
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });

        
        
        }
        function ToggleForm(formId,status) {
       
        $.ajax(
               {
                  type: 'POST',
                  url: "@Url.Action("Form_ChangeFormStatus", "ConfigureDynamicForm")",
                   data: $.toJSON
                       ({
                      formId: formId,
                      status: status
                  }),
                  success: function (data) {


                },
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
               });

        window.event.returnValue = false;
        document.location = '@Url.Action("Forms_Summary", "ConfigureDynamicForm")';



    }


</script>
}
@using (Html.BeginForm("AssignSections", "ConfigureDynamicForm",FormMethod.Post,Model))
{ 
<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Assign Sections</h2></div>
        <div class="portlet-content">
        <div class="row">@ViewBag.FormName</div>
            <div class="row">                
                <a href="@Url.Action("Forms_Summary", "ConfigureDynamicForm")" class="btn" >Back</a>
                   
                </div>
                <table class="table" style="width:100%" id="rptSections">
                    <tr>
                        <td>&nbsp;</td>
                        <th>
                           Name
                        </th>
                        <th>
                           Description
                        </th>
                        
                        <th>
                            Section No
                        </th>
                    </tr>

                   @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                            
                            @Html.CheckBoxFor(modelitem => Model[i].Selected, Model[i].Selected)                           

                           </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].SectionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].Description)
                                @Html.HiddenFor(modelItem => Model[i].SectionId)
                                @Html.HiddenFor(modelitem => Model[i].FormId)
                            </td>
                           
                            <td>
                                @Html.TextBoxFor(modelItem => Model[i].SectionNo, new { @class = "text" })
                            </td>
                        </tr>
                    }
                    <tr><td>
                        <input type="submit" value="Save" class="btn" /></td></tr>
                </table>

            </div></div></div>
}
