@model Bec.DynamicForms.Models.SectionModels

@{
    ViewBag.Title = "Create New Section";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts {

    
   
    

}
@using (Html.BeginForm("AddSection", "ConfigureDynamicForm",FormMethod.Post,Model))
{
<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Create New Section</h2></div>
        <div class="portlet-content">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
    <table style="width:600px">

       
        <tr>
            <td colspan="2">

                @Html.ValidationSummary(true)
            </td>
        </tr>
        <tr>
            <td>Form Name <span class="style1">*</span> </td>
            <td>

                @Html.TextBoxFor(model => model.SectionName, new { @class = "text", @style = "width:400px" })
                @Html.ValidationMessageFor(model => model.SectionName)
            </td>
        </tr>



        <tr>
            <td>
                Description
            </td>
            <td>
                @Html.TextAreaFor(model => model.Description, new { @class = "textarea", @style = "width:400px" })
                @Html.ValidationMessageFor(model => model.Description)

            </td>
        </tr>



        <tr>
            <td colspan="2">
                <b>Roles that can answer</b>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table cellpadding="0" cellspacing="0" border="0" class="table" id="tblcategories">
                    @for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        <tr>
                            <td>
                            @Html.CheckBoxFor(modelitem => Model.Categories[i].Selected, Model.Categories[i].Selected)               
                             </td><td>
                            @Html.DisplayFor(modelItem => Model.Categories[i].Title)
                            @Html.HiddenFor(modelitem => Model.Categories[i].CategoryId)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>



                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn" value="Save" />|<a href="@Url.Action("Section_Summary", "ConfigureDynamicForm")" class="btn">Cancel</a>
                    </td>
                    
                </tr>
            </table>
            }

            <div>

            </div>
            </div></div></div>
}          
