@model Bec.TargetFramework.Presentation.Web.Models.ResetPasswordModel
@{
    ViewBag.Title = "Password Reset";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form action="@Url.Action("Password", "Forgot", new { area = "Account"})" id="forgot-password-form" method="POST" class="client-form well no-padding">
            @Html.AntiForgeryToken()
            <header>
                <h1>Password Reset</h1>
            </header>
            <section class="fields">
                @Html.ValidationBootstrap()
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong style="margin-top:0!important">Important: For security purposes, this process must be completed within 10 minutes of receiving your PIN.</strong></p>
                        </div>
                    </div>
                </fieldset>
                <fieldset>

                    <legend>Step 1: Enter your email address and request a PIN</legend>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Please enter your registered e-mail address</label>
                                @Html.TextBoxFor(m => m.Username, new { id = "username", maxlength = "250", @class = "form-control", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <button type="button" id="genRequest" class="btn btn-primary margin-top-10" data-url="@Url.Action("GenerateRequest")">Send PIN to my mobile</button>
                                <label id="genRequestLabel" style="display:none"></label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Step 2: Enter the PIN you received and specify a new password</legend>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please enter the PIN from your mobile</label>
                                @Html.TextBoxFor(m => m.PIN, new { maxlength = "25", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please enter your new password</label>
                                @Html.PasswordFor(m => m.NewPassword, new { maxlength = "25", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please confirm your new password</label>
                                <input type="password" name="ConfirmPassword" maxlength="25" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-sm-12">
                            <section class="captcha">
                                @Html.Partial("_Captcha")
                            </section>
                        </div>
                    </div>

                </fieldset>
            </section>
            <footer>
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-3">
                        <button type="submit" id="formSubmit" class="btn btn-primary btn-block">
                            Continue
                        </button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

@section Scripts {
    <script src="@Scripts.Url("~/Scripts/Account/Forgot/Password")"></script>
}
