@model string

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form action="@Url.Action("Password", "Forgot", new { area = "Account"})" id="forgot-password-form" method="POST" class="client-form well no-padding">
            @Html.ValidationBootstrap()
            @Html.AntiForgeryToken()
            <header>
                <h1>Password Reset</h1>
            </header>
            <section class="fields">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please enter your registered Username</label>
                                <input type="text" name="username" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12">
                            <section class="captcha">
                                @Html.Partial("_Captcha")
                            </section>
                        </div>
                    </div>

                </fieldset>
            </section>
            <footer>
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-3">
                        <button type="submit" id="formSubmit" class="btn btn-primary btn-block" disabled>
                            Continue
                        </button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

@section Scripts {
    <script src="@Scripts.Url("~/Scripts/Account/Forgot/Password")"></script>
}
