@model Bec.TargetFramework.Presentation.Web.Models.ResetPasswordModel
@{
    ViewBag.Title = "Password Reset";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form action="@Url.Action("Reset", "Forgot", new { area = "Account"})" id="reset-form" method="POST" class="client-form well no-padding">
            @Html.ValidationBootstrap()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.RequestID, new { Value = ViewBag.RequestID })
            <header>
                <h1>Password Reset</h1>
            </header>
            <section class="fields">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please enter your registered Username</label>
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please enter your new password</label>
                                @Html.PasswordFor(m => m.NewPassword, new { maxlength = 25, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username">Please confirm your new password</label>
                                <input type="password" name="confirmPassword" maxlength="25" class="form-control" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
            <footer>
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-3">
                        <button type="submit" id="formSubmit" class="btn btn-primary btn-block" disabled>
                            Submit
                        </button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/Forgot/Reset")"></script>
}