@model Bec.TargetFramework.Presentation.Web.Models.ResetPasswordModel
@{
    ViewBag.PageId = "extr-page";
}

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="well no-padding">
                <form action="@Url.Action("Reset", "Forgot", new { area = "Account"})" id="reset-form" method="POST" class="smart-form client-form">
                    <header>
                        Password Reset
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    @Html.HiddenFor(model => model.RequestID, new { Value = ViewBag.RequestID })
                    <fieldset>
                        <section>
                            <label class="label">Please enter your registered Username</label>
                            <label class="input">
                                @Html.TextBoxFor(m => m.Username)
                            </label>
                        </section>
                        <!--captcha-->

                        <section>
                            <label class="label">Please enter your new password</label>
                            <label class="input">
                                @Html.PasswordFor(m => m.NewPassword, new { maxlength = 25 })
                            </label>
                        </section>
                        <section>
                            <label class="label">Please confirm your new password</label>
                            <label class="input">
                                <input type="password" name="confirmPassword" maxlength="25" />
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" id="formSubmit" class="btn btn-primary">
                            Submit
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.validator.addMethod("pwcheck",
                function (value, element) {
                    return /\d/.test(value) && /[A-Z]/.test(value) && /\W/.test(value);
                });

            // Validation
            $("#reset-form").validate({
                // Rules for form validation
                rules: {
                    Username: {
                        required: true
                    },
                    NewPassword: {
                        required: true,
                        minlength: 10,
                        pwcheck: true
                    },
                    confirmPassword: {
                        equalTo: '#NewPassword'
                    }
                },

                // Messages for form validation
                messages: {
                    NewPassword: {
                        pwcheck: 'Your password must contain 1 number, 1 uppercase character and 1 symbol'
                    },
                    confirmPassword: {
                        equalTo: 'Passwords do not match'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                    $('#formSubmit').prop('disabled', true);
                    form.submit();
                }
            });
        });
    </script>
}