@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model ContactDTO
@{
    List<SelectListItem> titles = new List<SelectListItem>
    {
        new SelectListItem{Text = "Mr",Value="Mr"},
        new SelectListItem{Text = "Mrs",Value="Mrs"},
        new SelectListItem{Text = "Miss",Value="Miss"},
        new SelectListItem{Text = "Ms",Value="Ms"},
        new SelectListItem{Text = "Dr",Value="Dr"}
    };
}
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--
        <div class="help help-container help-sm">
            <div class="help-vert">HELP</div>
            <div class="help help-inner">
                <div>Help goes here</div>
            </div>
        </div>
-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addUserLabel">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("AddUser", "Users", new { area = "ProOrganisation" })" method="POST" id="addUser-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <section>
                                    <label class="label">Title</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.Salutation, new SelectList(titles, "Value", "Text"), "Please Select", new { tabindex = "1" })
                                        <i></i>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">First Name</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.FirstName, new { tabindex = "2", maxlength = 50 })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Last Name</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.LastName, new { tabindex = "3", maxlength = 50 })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Email Address</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.EmailAddress1, new { tabindex = "4", data_url = Url.Action("CheckEmail", "Home", new { Area = "" }) })
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Roles</label>
                                    <input type="hidden" name="rolecheck" id="rolecheck" />
                                    @foreach (Tuple<OrganisationRoleDTO, string> role in ViewBag.Roles)
                                    {
                                        <label class="checkbox ">
                                            <input type="checkbox" id="role-@role.Item1.OrganisationRoleID" name="role-@role.Item1.OrganisationRoleID" class="role-checkbox" @role.Item2 />
                                            <i></i>
                                            <label for="role-@role.Item1.OrganisationRoleID">@role.Item1.RoleName</label>
                                        </label>
                                    }
                                    
                                </section>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddUser" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitAddUser" class="btn btn-primary" tabindex="5">
                    Send Invite
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/ProOrganisation/Shared/_AddUser")"></script>
