@using Bec.TargetFramework.Presentation.Web.Areas.ProOrganisation.Models
@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Helpers;
@model Edit<UserAccountOrganisationDTO>
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editUserLabel">Edit User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form action="@Url.Action("EditUser", "Users", new { area = "ProOrganisation" })" method="POST" id="editUser-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.Hidden("uaoID", (object)ViewBag.uaoID)
                            @Html.HiddenFor(m => m.Model.Contact.RowVersion)
                            @Html.HiddenFor(m => m.Model.UserAccount.RowVersion)
                            <fieldset>
                                <section>
                                    <label class="label">Title</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.Model.Contact.Salutation, Html.EnumListString<SalutationEnum>(), "Please Select", new { tabindex = "1" })
                                        <i></i>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">First Name</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.Model.Contact.FirstName, new { tabindex = "2", maxlength = 50 })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Last Name</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.Model.Contact.LastName, new { tabindex = "3", maxlength = 50 })
                                    </label>
                                </section>
                                
                                @if (Context.GetWebUserObject().UaoID != ViewBag.uaoID && !ViewBag.UserIsSRO)
                                {
                                    <section>
                                        <label class="checkbox ">
                                            @Html.CheckBoxFor(m => m.Model.UserAccount.IsActive, new { tabindex = "4", id = "activeCheck" })
                                            <i></i>
                                            <label for="activeCheck">Enable Login</label>
                                        </label>
                                    </section>
                                }

                                <section>
                                    <label class="label">Additional Permissions</label>
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        <label class="checkbox ">
                                            <input type="checkbox" name="Model.UserAccountOrganisationRoles[@role.Item1].Selected" id="Model.UserAccountOrganisationRoles[@role.Item1].Selected" @role.Item2 @role.Item3 class="role-checkbox" />
                                            <input name="Model.UserAccountOrganisationRoles[@role.Item1].OrganisationRoleID" type="hidden" value="@role.Item4" />
                                            <i></i>
                                            <label for="Model.UserAccountOrganisationRoles[@role.Item1].Selected">@role.Item5</label>
                                        </label>
                                    }

                                </section>

                                @if (((IEnumerable<FunctionEditEntry>)ViewBag.Functions).Any())
                                {
                                    <section>
                                        <label class="label">Functions</label>
                                        @foreach (FunctionEditEntry function in ViewBag.Functions)
                                        {
                                            <label class="checkbox">
                                                <input type="checkbox" name="Model.UserAccountOrganisationFunctions[@function.Index].Selected" 
                                                       id="Model.UserAccountOrganisationFunctions[@function.Index].Selected" 
                                                       @(function.IsChecked ? "checked" : "")
                                                       class="role-checkbox" />
                                                <input name="Model.UserAccountOrganisationFunctions[@function.Index].FunctionID" type="hidden" value="@function.FunctionID" />
                                                <i></i>
                                                <label for="Model.UserAccountOrganisationFunctions[@function.Index].Selected">@function.Name</label>
                                            </label>
                                        }
                                    </section>
                                }

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelEditUser" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitEditUser" class="btn btn-primary" tabindex="5">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/ProOrganisation/Shared/_EditUser")"></script>
