@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model UserAccountOrganisationDTO
@{
    List<SelectListItem> titles = new List<SelectListItem>
    {
        new SelectListItem{Text = "Mr.",Value="Mr."},
        new SelectListItem{Text = "Mrs.",Value="Mrs."},
        new SelectListItem{Text = "Miss",Value="Miss"},
        new SelectListItem{Text = "Ms.",Value="Ms."},
        new SelectListItem{Text = "Dr.",Value="Dr."}
    };
}
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editUserLabel">Edit User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form action="@Url.Action("EditUser", "Users", new { area = "ProOrganisation" })" method="POST" id="editUser-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.Hidden("uaoID", (object)ViewBag.uaoID)
                            @Html.HiddenFor(m => m.Contact.RowVersion)
                            @Html.HiddenFor(m => m.UserAccount.RowVersion)
                            <fieldset>
                                <section>
                                    <label class="label">Title</label>
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.Contact.Salutation, new SelectList(titles, "Value", "Text"), "Please Select", new { tabindex = "13" })
                                        <i></i>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">First Name</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.Contact.FirstName, new { tabindex = "1", maxlength = 50 })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Last Name</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.Contact.LastName, new { tabindex = "2", maxlength = 50 })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Email address</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.UserAccount.Email, new { tabindex = "3" })
                                    </label>
                                </section>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelEditUser" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitEditUser" class="btn btn-primary" tabindex="4">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // submit from when Save button clicked
    $("#submitEditUser").click(function () {
        $("#editUser-form").submit();
    });

    $("#editUser-form").validate({
        ignore: '.skip',
        // Rules for form validation
        rules: {
            FirstName: {
                required: true
            },
            LastName: {
                required: true
            },
            EmailAddress1: {
                required: true,
                email: true
            }
        },

        // Do not change code below
        errorPlacement: function (error, element) {
            error.insertAfter(element.parent());
        },

        submitHandler: validateSubmit
    });

    function validateSubmit(form) {
        $("#submitEditUser").prop('disabled', true);
        form.submit();
    }
</script>
