@model Bec.TargetFramework.Presentation.Web.Areas.Account.Models.LoginModel
@{
    ViewBag.PageClass = "animated fadeInDown";
    ViewBag.Title = "Login";
    var selectedTabBtn = Model.IsRegistration
        ? "registerPanelBtn"
        : "loginPanelBtn";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="tabbable custom-tabs shadow">
            <ul class="nav nav-tabs" id="loginTabs" data-selected="@selectedTabBtn">
                <li class="active"><a href="#loginPanel" data-toggle="tab" id="loginPanelBtn"><i class="fa fa-lock margin-right-10"></i><span>Login</span></a></li>
                <li><a href="#registerPanel" data-toggle="tab" id="registerPanelBtn"><i class="fa fa-user margin-right-10"></i><span>Create Account</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="loginPanel">
                    <form action="@Url.Action("Index", "Login", new { area = "Account"})" id="login-form" method="POST" class="client-form well no-padding" autocomplete="off">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.LoginDTO.ReturnUrl)
                        @Html.PreventAutofill()

                        <section class="fields">
                            @Html.ValidationBootstrap()
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="@Html.IdFor(m => m.LoginDTO.Email)">Email</label>
                                            <i class="icon-append fa fa-user"></i>
                                            @Html.TextBoxFor(m => m.LoginDTO.Email, new { autocomplete = "off", type = "email", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="@Html.IdFor(m => m.LoginDTO.Password)">Password</label>
                                                    <i class="icon-append fa fa-lock"></i>
                                                    @Html.PasswordFor(m => m.LoginDTO.Password, new { autocomplete = "off", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a href="@Url.Action("Password", "Forgot", new { Area = "Account" })" class="pull-right" tabindex="-1">Forgotten Password</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        <footer>
                            <div class="row">
                                <div class="col-xs-8">
                                    <label class="version">Version @TempData["version"]</label>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" id="loginFormSubmit" class="btn btn-primary btn-block">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane" id="registerPanel">
                    <form action="@Url.Action("Register", "Login", new { area = "Account"})" method="POST" id="register-form" class="client-form well no-padding" autocomplete="off">
                        @Html.AntiForgeryToken()
                        @Html.PreventAutofill()

                        <section class="fields">
                            @Html.ValidationBootstrap()
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="@Html.IdFor(m => m.CreatePermanentLoginModel.RegistrationEmail)">Email</label>
                                            <i class="icon-append fa fa-user"></i>
                                            @Html.TextBoxFor(m => m.CreatePermanentLoginModel.RegistrationEmail, new { type = "email", autocomplete = "off", @class = "form-control", data_url = Url.Action("EmailCanBeRegistered", "Login", new { area = "Account" }) })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="@Html.IdFor(m => m.CreatePermanentLoginModel.Pin)">PIN</label>
                                            @Html.TextBoxFor(m => m.CreatePermanentLoginModel.Pin, new { maxlength = 20, autocomplete = "off", @class = "form-control" })
                                            <i class="icon-append fa fa-asterisk"></i>
                                            <label class="form-input-info"><i class="fa fa-info-circle margin-right-5"></i>Please enter your PIN as provided by Safe Move Scheme</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="@Html.IdFor(m => m.CreatePermanentLoginModel.PhoneNumber)">Personal Mobile Phone Number</label>
                                            @Html.TextBoxFor(m => m.CreatePermanentLoginModel.PhoneNumber, new { maxlength = 11, autocomplete = "off", @class = "form-control" })
                                            <i class="icon-append fa fa-asterisk"></i>
                                            <label class="form-input-info"><i class="fa fa-info-circle margin-right-5"></i>Please enter your personal mobile phone number for account security purposes.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="@Html.IdFor(m => m.CreatePermanentLoginModel.NewPassword)">Password</label>
                                            @Html.PasswordFor(m => m.CreatePermanentLoginModel.NewPassword, new { maxlength = 25, autocomplete = "off", @class = "form-control" })
                                            <i class="icon-append fa fa-lock"></i>
                                            <label class="form-input-info"><i class="fa fa-info-circle margin-right-5"></i>Your password must contain at least one upper case letter, at least one number and at least one special character (e.g. £, #, %). It must be at least 10 characters long.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="@Html.IdFor(m => m.CreatePermanentLoginModel.ConfirmNewPassword)">Confirm password</label>
                                            @Html.PasswordFor(m => m.CreatePermanentLoginModel.ConfirmNewPassword, new { maxlength = 25, autocomplete = "off", @class = "form-control" })
                                            <i class="icon-append fa fa-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.Partial("_Captcha")
                                    </div>
                                </div>
                            </fieldset>
                        </section>

                        <footer>
                            <div class="row">
                                <div class="col-xs-8">
                                    <label class="version">Version @TempData["version"]</label>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" id="registerFormSubmit" class="btn btn-primary btn-block">
                                        Create Account
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <label>
            Professionals - not yet registered?
            <a href="@Url.Action("Conveyancer", "RegisterAdmin", new { Area = "Account" })" tabindex="-1">Register now.</a>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr />
        <section class="foot-note">
            <label>Please note that it is a criminal offense to falsely represent your identity as that of another person (Fraud Act 2006).</label>
            <label>Logging in to the Safe Move Scheme using login details that do not belong to you, for whatever reason, is considered a false representation.</label>
            <label>It is important that you do not, under any circumstances, share your login details with anyone. You should take all reasonable measures to protect your log-on details from use by somebody else.</label>
        </section>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/Login/Index")"></script>
}
