@using Bec.TargetFramework.Entities
@model LoginDTO
@{
    ViewBag.PageClass = "animated fadeInDown";
    ViewBag.Title = "Welcome to Safe Move Scheme";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form action="@Url.Action("Index", "Login",new { area = "Account"})" id="login-form" method="POST" class="client-form well no-padding">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ReturnUrl)
            <header>
                <h1>Sign In</h1>
            </header>
            <section class="fields">
                @Html.ValidationBootstrap()
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="@Html.IdFor(m => m.Username)">Username</label>
                                        @Html.TextBoxFor(m => m.Username, new { autocomplete = "off", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("Username", "Forgot", new { Area = "Account" })" class="pull-right" tabindex="-1">Forgotten Username</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="@Html.IdFor(m => m.Password)">Password</label>
                                        @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("Password", "Forgot", new { Area = "Account" })" class="pull-right" tabindex="-1">Forgotten Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
            <footer>
                <div class="row">
                    <div class="col-xs-8">
                        <label class="version">Version @TempData["version"]</label>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" id="formSubmit" class="btn btn-primary btn-block">
                            Sign In
                        </button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr />
        <section class="foot-note">
            <label>Please note that it is a criminal offense to falsely represent your identity as that of another person (Fraud Act 2006).</label>
            <label>Logging in to the Safe Move Scheme using login details that do not belong to you, for whatever reason, is considered a false representation.</label>
            <label>It is important that you do not, under any circumstances, share your login details with anyone. You should take all reasonable measures to protect your log-on details from use by somebody else.</label>
        </section>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/Login/Index")"></script>
}
