@using System.Collections.Generic
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@{
    var roleId = default(Guid);
    Guid.TryParse(Convert.ToString(TempData["SysPageRole"]), out roleId);
    TempData.Keep("SysPageRole");
}
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="col-sm-6" style="padding-left:0px;">
                <a id="btnAddSysPage" data-href="@Url.Action("ViewAddSysPage", "ShowMeHow", new { area  = "Admin", roleId = roleId })" data-url="@Url.Action("ViewAddSysPage", "ShowMeHow", new { area  = "Admin" })" class="btn btn-primary btn-sm inline-heading" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Page</a>
            </div>
            <div class="col-sm-6 smart-form" style="text-align:right; padding-right:0px; margin-bottom:5px; float:right;">                
                <label class="select">                    
                    @Html.DropDownListFor(m => roleId, new SelectList(ViewBag.roles, "Value", "Text", roleId), "Please select", new { tabindex = "1", id = "roleForSystem", style = "width:200px;float:right" })
                    <i></i>
                </label>
                <label for="roleForSystem" style="float:right; margin-top:5px; margin-right:5px;">User Role:&nbsp;</label>
            </div>
            <div class="row"></div>
            <div id="forSystemGrid" data-url="@Url.Action("GetSysPages", "ShowMeHow", new { area = "Admin", temporary = true, loginAllowed = true })" data-jumpto="@TempData["sysPageId"]"></div>
        </div>
    </div>
</div>

<div class="row hidden" id="forSystemPanel">
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <div style="text-align:left; margin-bottom:18px">
                <a id="delSysPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewDeleteSysPage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-times margin-right-5"></i>Delete</a>
                <a id="editSysPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewEditSysPage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
            </div>
            <h5>Page Information</h5>
            <dl class="dl-horizontal">
                <dt>Page Name:</dt>
                <dd><p id="ddnSysName"></p></dd>
                <dt>User Role:</dt>
                <dd><p id="ddnSysRole"></p></dd>
                @Html.Hidden("sysPageId", @TempData["sysPageId"])
            </dl>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <div id="listSysItem" data-url="@Url.Action("GetItemOnPage", "ShowMeHow", new { area = "Admin" })" style=" text-align:left; margin-bottom:18px;">
                <a id="btnAddSysPageItem" data-url="@Url.Action("ViewAddItem", "ShowMeHow", new { area  = "Admin" })" class="btn btn-sm btn-primary" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Item</a>
                <h5>Items</h5>
            </div>
            <div style="visibility:hidden">
                <i id="editSysItemLink" data-url="@Url.Action("ViewEditItem", "ShowMeHow", new { area = "Admin" })"></i>
                <i id="delSysItemLink" data-url="@Url.Action("ViewDeleteItem", "ShowMeHow", new { area = "Admin" })"></i>
            </div>
            <span>
                @Html.AntiForgeryToken()
                <a id="saveSysItemOrder" data-url="@Url.Action("SaveItemOrder", "ShowMeHow", new { area = "Admin" })" class="btn btn-sm btn-primary" disabled="disabled"><i class="fa fa-check margin-right-5"></i>Save</a>
            </span>
        </div>
    </div>
</div>
