@using System.Collections.Generic
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="col-sm-6">
                <a data-href="@Url.Action("ViewAddSysPage", "ShowMeHow", new { area  = "Admin" })" class="btn btn-primary btn-sm inline-heading" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Page</a>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <span>User Role: </span>
                <label class="select">
                    @{
                        var roles = (List<SelectListItem>)ViewData["Roles"];
                    }
                    @Html.DropDownList("Role", roles, "Please Select", new { tabindex = "1", maxlength = 50, @class = "form-control", id = "roleForSystem" })
                    <i></i>
                </label>
            </div>
            <div class="row"></div>
            <div id="forSystemGrid" data-url="@Url.Action("GetSysPages", "ShowMeHow", new { area = "Admin", temporary = true, loginAllowed = true })" data-jumpto="@TempData["sysPageId"]"></div>
        </div>
    </div>
</div>

<div class="row hidden" id="forSystemPanel">
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <h5>Page Information</h5>
            <div style="text-align:right; margin-bottom:18px">
                <a id="delSysPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewDeleteSysPage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-times margin-right-5"></i>Delete</a>
                <a id="editSysPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewEditSysPage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
            </div>
            <dl class="dl-horizontal">
                <dt>Page Name:</dt>
                <dd><p id="ddnSysName"></p></dd>
                <dt>User Role:</dt>
                <dd><p id="ddnSysRole"></p></dd>
            </dl>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <h5>Intro Items</h5>
            <div id="listSysItem" data-url="@Url.Action("GetItemOnPage", "ShowMeHow", new { area = "Admin" })" style=" text-align:right; margin-bottom:18px;">
                <a id="btnAddSysPageItem" data-url="@Url.Action("ViewAddItem", "ShowMeHow", new { area  = "Admin" })" class="btn btn-sm btn-primary" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Item</a>
            </div>
            <div style="visibility:hidden">
                <i id="editSysItemLink" data-url="@Url.Action("ViewEditItem", "ShowMeHow", new { area = "Admin" })"></i>
                <i id="delSysItemLink" data-url="@Url.Action("ViewDeleteItem", "ShowMeHow", new { area = "Admin" })"></i>
            </div>
            <span>
                @Html.AntiForgeryToken()
                <a id="saveSysItemOrder" data-url="@Url.Action("SaveItemOrder", "ShowMeHow", new { area = "Admin" })" class="btn btn-sm btn-default">Save Change</a>
                <label id="saveSysOrderStatus" style="display:none; color:green">Save successfully</label>
            </span>
        </div>
    </div>
</div>
