@using System.Collections.Generic
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@{
    var roleId = default(Guid);
    Guid.TryParse(Convert.ToString(TempData["PageRole"]), out roleId);
    TempData.Keep("PageRole");
}
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="col-sm-6" style="padding-left:0px;">
                <a id="btnAddPage" data-href="@Url.Action("ViewAddPage", "ShowMeHow", new { area = "Admin", roleId = roleId })" data-url="@Url.Action("ViewAddPage", "ShowMeHow", new { area  = "Admin"})" class="btn btn-primary btn-sm inline-heading" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Page</a>
            </div>
            <div class="col-sm-6 smart-form" style="text-align:right; padding-right:0px; margin-bottom:5px; float:right;">                
                <label class="select">                    
                    @Html.DropDownListFor(m => roleId, new SelectList(ViewBag.roles, "Value", "Text", roleId), "Please select", new { tabindex = "1", id = "roleOnPage", style = "width:200px;float:right" })
                </label>
                <label for="roleOnPage" style="float:right; margin-top:5px; margin-right:5px;">User Role:&nbsp;</label>
            </div>
            <div class="row"></div>
            <div id="onPageGrid" data-url="@Url.Action("GetPages", "ShowMeHow", new { area = "Admin", temporary = true, loginAllowed = true })" data-jumpto="@TempData["pageId"]"></div>
        </div>
    </div>
</div>

<div class="row hidden" id="onPagePanel">
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <div style="text-align:left; margin-bottom:18px">
                <a id="delPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewDeletePage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-times margin-right-5"></i>Delete</a>
                <a id="editPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewEditPage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
            </div>
            <h5>Page Information</h5>
            <dl class="dl-horizontal">
                <dt>Page Name:</dt>
                <dd><p id="ddnName"></p></dd>
                <dt>User Role:</dt>
                <dd><p id="ddnRole"></p></dd>
                <dt>PageURL:</dt>
                <dd><p id="ddnURL"></p></dd>
                @Html.Hidden("pageId", @TempData["pageId"])
            </dl>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <div id="listItem" data-url="@Url.Action("GetItemOnPage", "ShowMeHow", new { area = "Admin" })" style=" text-align:left; margin-bottom:18px;">
                <a id="btnAddPageItem" data-url="@Url.Action("ViewAddItem", "ShowMeHow", new { area  = "Admin" })" class="btn btn-sm btn-primary" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Item</a>
                <h5>Items</h5>
            </div>
            <div style="visibility:hidden">
                <i id="editItemLink" data-url="@Url.Action("ViewEditItem", "ShowMeHow", new { area = "Admin" })"></i>
                <i id="deleteItemLink" data-url="@Url.Action("ViewDeleteItem", "ShowMeHow", new { area = "Admin" })"></i>
            </div>
            <span>
                @Html.AntiForgeryToken()
                <a id="saveItemOrder" data-url="@Url.Action("SaveItemOrder", "ShowMeHow", new { area = "Admin" })" class="btn btn-sm btn-primary" disabled="disabled"><i class="fa fa-check margin-right-5"></i>Save</a>
            </span>
        </div>
    </div>
</div>