@using System.Collections.Generic
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="col-sm-6">
                @*<a id="addPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewRevokeInvite", "Users", new { area = "ProOrganisation" })"><i class="fa add-next-bank-account margin-right-5"></i>Add Page</a>*@
                <a data-href="@Url.Action("ViewAddPage", "ShowMeHow", new { area  = "Admin" })" class="btn btn-primary btn-sm inline-heading" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Page</a>
            </div>
            @*<div class="col-sm-6" style="text-align:right">
                <span>User Role: </span>
                <label class="select">
                    @{
                        var roles = (List<SelectListItem>)ViewData["Roles"];
                    }
                    @Html.DropDownList("Role", roles, "------------ Please Select ------------", new { tabindex = "1", maxlength = 50, @class = "form-control" })
                    <i></i>
                </label>
            </div>*@
            <div class="row"></div>
            <div id="onPageGrid" data-url="@Url.Action("GetPages", "ShowMeHow", new { area = "Admin", temporary = true, loginAllowed = true })" data-jumpto="@TempData["PageId"]"></div>
        </div>
    </div>
</div>

<div class="row hidden" id="onPagePanel">
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <h5>Page Information</h5>
            <div style="text-align:right; margin-bottom:18px">
                <a id="delPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewDeletePage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-times margin-right-5"></i>Delete</a>
                <a id="editPage" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewEditPage", "ShowMeHow", new { area = "Admin" })"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
            </div>
            <dl class="dl-horizontal">
                <dt>Page Name:</dt>
                <dd><p id="ddnName"></p></dd>
                <dt>User Role:</dt>
                <dd><p id="ddnRole"></p></dd>
                <dt>PageURL:</dt>
                <dd><p id="ddnURL"></p></dd>
            </dl>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- well -->
        <div class="well">
            <h5>Intro Items</h5>
            <div id="listItem" data-url="@Url.Action("GetItemOnPage", "ShowMeHow", new { area = "Admin" })" style=" text-align:right; margin-bottom:18px;">
                <a id="btnAddPageItem" data-url="@Url.Action("ViewAddItem", "ShowMeHow", new { area  = "Admin" })" class="btn btn-sm btn-primary" data-modallink="true"><i class="fa fa-plus margin-right-5"></i>Add Item</a>
            </div>
            <div style="visibility:hidden">
                <i id="editItemLink" data-url="@Url.Action("ViewEditItem", "ShowMeHow", new { area = "Admin" })"></i>
                <i id="deleteItemLink" data-url="@Url.Action("ViewDeleteItem", "ShowMeHow", new { area = "Admin" })"></i>
            </div>
            <span>
                @Html.AntiForgeryToken()
                <a id="saveItemOrder" data-url="@Url.Action("SaveItemOrder", "ShowMeHow", new { area = "Admin" })" class="btn btn-sm btn-default" onclick="SendUpdateOrder();">Save Change</a>
                <label id="saveOrderStatus" style="display:none; color:green">Save successfully</label>
            </span>
        </div>
    </div>
</div>