@model Bec.DynamicForm.Entities.DTO.FormSectionDTO

@{
    ViewBag.Title = "Create New Section";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts {
}
@using (Html.BeginForm("UpdateSection", "ConfigureDynamicForm", FormMethod.Post, Model))
{
<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Update Section</h2></div>
        <div class="portlet-content">
        @Html.AntiForgeryToken()
        <table style="width:600px">        
        <tr>
            <td colspan="2">
                @Html.ValidationSummary(true)
            </td>
        </tr>
        <tr>
            <td>Form Name <span class="style1">*</span> </td>
            <td>

                @Html.HiddenFor(model => model.FormSectionId)
                @Html.HiddenFor(model => model.FormId)
                @Html.TextBoxFor(model => model.SectionName, new { @class = "text", @style = "width:400px" })
                @Html.ValidationMessageFor(model => model.SectionName)
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                @Html.TextAreaFor(model => model.SectionDescription, new { @class = "textarea", @style = "width:400px" })
                @Html.ValidationMessageFor(model => model.SectionDescription)

            </td>
        </tr>
         <tr>
       <td colspan="2">
        <input type="submit" class="btn" value="Save" />|<a href="@Url.Action("Section_Summary", "ConfigureDynamicForm", new { FormId=Model.FormId,FormName="" })" class="btn">Cancel</a>
       </td>
        </tr>
            </table>
            <div>
            </div>
            </div></div></div>
}          
