@using Bec.TargetFramework.Entities
@model AddCompanyDTO
           
@{
    List<SelectListItem> regulators = new List<SelectListItem>
    {
        new SelectListItem{Text = "SRA",Value="SRA"},
        new SelectListItem{Text = "CLC",Value="CLC"},
        new SelectListItem{Text = "Other",Value="Other"}
    };

    List<SelectListItem> titles = new List<SelectListItem>
    {
        new SelectListItem{Text = "Mr.",Value="Mr."},
        new SelectListItem{Text = "Mrs.",Value="Mrs."},
        new SelectListItem{Text = "Miss.",Value="Miss."},
        new SelectListItem{Text = "Ms.",Value="Ms."},
        new SelectListItem{Text = "Dr.",Value="Dr."}
    };
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="addModalLabel">Add Company</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">

            <form action="@Url.Action("AddTempCompany", "TempCompany", new { area = "Admin" })" method="POST" id="addTempCompany-form" class="smart-form">
                @Html.ValidationBootstrap()
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="label">Lookup Postcode</label>
                            <label class="input">
                                <input id="postcodelookup" type="text" tabindex="1" />
                            </label>
                        </section>

                        <section class="col">
                            <label class="label">&nbsp;</label>
                            <button id="findaddressbutton" type="button" class="btn btn-default btn-sm" tabindex="2">Find Address</button>
                        </section>
                    </div>

                    <section>
                        <label class="select">
                            <select id="addressresults" tabindex="3"></select>
                            <i></i>
                        </label>
                    </section>


                    <div class="row" >
                        <section class="col" id="noMatch">
                            <em style="color:#d56161">No matches found</em>
                        </section>
                    </div>

                    <div class="row" id="manAddRow">
                        <section class="col">
                            <input type="checkbox" id="manualAddress" />
                            <label for="manualAddress" tabindex="4"> Enter address manually</label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Company Name</label>
                            <label class="input ">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.Name, new { tabindex = "5" })
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">Additional Address Information</label>
                            <label class="input">
                                @Html.TextBoxFor(m => m.AdditionalAddressInformation, new { @readonly = "readonly", tabindex = "11" })
                            </label>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Company Address</label>
                            <label class="input">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.Line1, new { @readonly = "readonly", placeholder = "Address Line 1", tabindex = "6" })
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">Regulator</label>
                            <label class="select">
                                @Html.DropDownListFor(m => m.Regulator, new SelectList(regulators, "Value", "Text"), "Please Select", new { tabindex = "12" })
                                <i></i>
                            </label>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                @Html.TextBoxFor(m => m.Line2, new { @readonly = "readonly", placeholder = "Address Line 2", tabindex = "7" })
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input" id="otherRegulatorLabel">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.RegulatorOther, new { placeholder = "Enter Regulator" })

                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.Town, new { @readonly = "readonly", placeholder = "Town/City", tabindex = "8" })
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                @Html.TextBoxFor(m => m.County, new { @readonly = "readonly", placeholder = "County", tabindex = "9" })
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.PostalCode, new { @readonly = "readonly", placeholder = "Post Code", tabindex = "10" })
                            </label>
                        </section>
                    </div>

                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col">
                            <label class="label">System Admin Details</label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label class="label">Title</label>
                            <label class="select">
                                @Html.DropDownListFor(m => m.OrganisationAdminSalutation, new SelectList(titles, "Value", "Text"), "Please Select", new { tabindex = "13" })
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-5">
                            <label class="label">First Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.OrganisationAdminFirstName, new { tabindex = "14" })
                            </label>
                        </section>
                            <section class="col col-5">
                                <label class="label">Last Name</label>
                                <label class="input">
                                    <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                    @Html.TextBoxFor(m => m.OrganisationAdminLastName, new { tabindex = "15" })
                                </label>
                            </section>
                        
                        </div>
                    <div class="row">
                        <section class="col col-8">
                            <label class="label">Email</label>
                            <label class="input">
                                <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                @Html.TextBoxFor(m => m.OrganisationAdminEmail, new { tabindex = "16" })
                            </label>
                        </section>
                        <section class="col col-4">
                                <label class="label">Telephone Number</label>
                                <label class="input">
                                    <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                    @Html.TextBoxFor(m => m.OrganisationAdminTelephone, new { tabindex = "17" })
                                </label>
                            </section>
                    </div>
                </fieldset>
        
        </form>

    </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-toggle="modal" data-target="#cancelModal">
        Cancel
    </button>
    <button type="button" id="formSubmit" class="btn btn-primary">
        Save
    </button>
</div>

<script type="text/javascript" src="~/Scripts/AddCompany.js"></script>
