@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Infrastructure.Extensions
@model SMHPageDTO

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addPageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addPageLabel">Add Page</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("AddSysPage", "ShowMeHow", new { area = "Admin" })" method="POST" id="addPage-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <fieldset>                                
                                <section>
                                    <label class="label">Page Name:</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.PageName, new { tabindex = "2", maxlength = 50 })
                                    </label>
                                </section>
                                <section>
                                    <label class="label">User Role:</label>
                                    <label class="select">
                                        @{
                                            var roles = (IList<SelectListItem>)ViewBag.roles;
                                        }
                                        @Html.DropDownListFor(m => m.RoleId, roles, "Please Select", new { tabindex = "1" })
                                        <i></i>
                                    </label>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddPage" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitAddPage" class="btn btn-primary" tabindex="5">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_AddSmhSysPage")"></script>
