@using Bec.TargetFramework.Entities

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="revokeLoginsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="revokeLoginsLabel">Delete Callout</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <form action="@Url.Action("DeleteCallout", "Callout", new { area = "Admin", calloutId = ViewBag.calloutId })" method="POST" id="deleteCallouts-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="row">
                                    <section class="col">
                                        <label class="label">Are you sure you wish to delete the callout: <strong>@(ViewBag.title)?</strong></label>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button typw="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitDeleteCallouts" class="btn btn-primary">
                    Delete Callout
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_DeleteCallout")"></script>
