@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Infrastructure.Extensions
@model SMHItemDTO

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="deleteItemLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--
                <div class="help help-container help-sm">
                    <div class="help-vert">HELP</div>
                    <div class="help help-inner">
                        <div>Help goes here</div>
                    </div>
                </div>
        -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteItemLabel">Delete Item</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("DeleteItem", "ShowMeHow", new { area = "Admin" })" method="POST" id="deleteItem-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ItemID)
                            @Html.HiddenFor(m => m.PageID)
                            @Html.HiddenFor(m => m.ItemOrder)
                            <fieldset>
                                <section>
                                    <h3><strong>This Item will be deleted. Are you sure?</strong></h3>
                                </section>
                                <section>
                                    <dl class="dl-horizontal">
                                        <dt>Item Name:</dt>
                                        <dd><p>@Html.DisplayFor(m => m.ItemName)</p></dd>
                                        <dt>Item Selector:</dt>
                                        <dd><p>@Html.DisplayFor(m => m.ItemSelector)</p></dd>
                                        <dt>Item belong to Tab id:</dt>
                                        <dd><p>@Html.DisplayFor(m => m.TabContainerId)</p></dd>
                                        <dt>Description:</dt>
                                        <dd><p>@Html.DisplayFor(m => m.ItemDescription)</p></dd>
                                    </dl>
                                </section>
                               
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelDeleteItem" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitDeleteItem" class="btn btn-primary" tabindex="5">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_DeleteSmhItem")"></script>
