@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Helpers;
@model Edit<OrganisationDTO>
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editCompanyLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editCompanyLabel">Edit Company</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form action="@Url.Action("EditCompany", "Company", new { area = "Admin" })" method="POST" id="editCompany-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.Hidden("orgID", (object)ViewBag.orgID)
                            @Html.HiddenFor(m => m.Model.RowVersion)
                            <fieldset>
                                <section>
                                    <label class="checkbox ">
                                        @Html.CheckBoxFor(m => m.Model.IsActive, new { tabindex = "1", id="activeCheck" })
                                        <i></i>
                                        <label for="activeCheck">Enable Login</label>
                                    </label>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitEditCompany" class="btn btn-primary" tabindex="2">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_EditCompany")"></script>
