@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@using Bec.TargetFramework.Infrastructure.Extensions
@model SMHPageModel

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editPageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editPageLabel">Edit Page</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("EditPage", "ShowMeHow", new { area = "Admin" })" method="POST" id="editPage-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PageId)
                            @Html.HiddenFor(m => m.RoleId)
                            @Html.HiddenFor(m => m.IsSystemSMH)
                            <fieldset>                                
                                <section>
                                    <label class="label">Page Name:</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.PageName, new { tabindex = "1", maxlength = 100 })
                                    </label>
                                </section>
                                @if (!Model.IsSystemSMH)
                                {
                                    <section>
                                        <label class="label">Page URL:</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.PageUrl, new { tabindex = "2", maxlength = 100 })
                                        </label>
                                    </section>
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.PageUrl)
                                }                            
                                <section>
                                    <label class="label">User Role:</label>                                    
                                    <label class="select">
                                        @Html.DropDownListFor(m => m.RoleId, (IList<SelectListItem>)ViewBag.roles, "Please Select", new { tabindex = "3", disabled = "disabled", style = "background-color: rgba(218, 218, 218, 1);" })
                                        <i></i>
                                    </label>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelEditPage" class="btn btn-default" data-dismiss="modal" tabindex="4">
                    Cancel
                </button>
                <button type="button" id="submitEditPage" class="btn btn-primary" tabindex="3">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_EditSmhPage")"></script>
