@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@using Bec.TargetFramework.Infrastructure.Extensions
@model SMHPageModel

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editPageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--
                <div class="help help-container help-sm">
                    <div class="help-vert">HELP</div>
                    <div class="help help-inner">
                        <div>Help goes here</div>
                    </div>
                </div>
        -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editPageLabel">Edit Page</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="@Url.Action("EditPage", "ShowMeHow", new { area = "Admin" })" method="POST" id="editPage-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PageId)
                            @Html.HiddenFor(m => m.RoleId)
                            @Html.HiddenFor(m => m.IsSystemSMH)
                            <fieldset>
                                <section>
                                    <label class="label">User Role: <strong>@Html.DisplayFor(m => m.RoleName)</strong></label>                                    
                                </section>
                                <section>
                                    <label class="label">Page Name:</label>
                                    <label class="input ">
                                        <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                        @Html.TextBoxFor(m => m.PageName, new { tabindex = "2", maxlength = 50 })
                                    </label>
                                </section>
                                @if (!Model.IsSystemSMH)
                                {
                                    <section>
                                        <label class="label">Page URL:</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                                            @Html.TextBoxFor(m => m.PageUrl, new { tabindex = "3", maxlength = 50 })
                                        </label>
                                    </section>
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.PageUrl)
                                }                            

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelEditPage" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitEditPage" class="btn btn-primary" tabindex="5">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_EditSMHPage")"></script>
