@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Helpers;
@model Bec.TargetFramework.Presentation.Web.Areas.Admin.Models.CalloutModel
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="orderCalloutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            #sortable {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 99%;
            }

                #sortable li {
                    margin: 0 3px 3px 3px;
                    padding: 0.4em;
                    padding-left: 1.5em;
                    font-size: 1.0em;
                    height:18px;
                    white-space: nowrap;
                    overflow: hidden;
                    background: #E8E8E8;
                    text-overflow: ellipsis;
                }

                    #sortable li span {
                        position: absolute;
                        margin-left: -1.3em;
                    }

                    #sortable li:nth-child(odd) {
                        background: #D5E4E1;
                    }
        </style>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="orderCalloutLabel">Callout Order</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="modal-title" style="margin-left:10px">Drag and drop to change the order</div><br />
                </div>
                <div class="row">
                    <div class="col-12">
                        <form id="orderCallout-form" class="smart-form" data-url="@Url.Action("OrderCallout", "Callout", new { area = "Admin" })" data-redirectto="@Url.Action("Index", "Callout", new { area = "Admin" })" data-message="@Url.Action("ViewMessage", "Message", new { Area = "", })">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="calloutOrderList" id="calloutOrderList" value="" />
                            <input type="hidden" name="calloutRoleId" id="calloutRoleId" value="" />
                            <ul id="sortable" class="list-group">
                                @if (Model.Callouts != null && Model.Callouts.Any())
                                {
                                    foreach (var item in Model.Callouts)
                                    {
                                        <li class="ui-state-default list-group-item" data-callout="@(item.CalloutID)"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item.Title</li>
                                    }
                                }
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelOderCallout" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitOrderCallout" class="btn btn-primary" tabindex="5" @(Model.Callouts == null || !Model.Callouts.Any() ? "disabled" : "")>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script async src="@Scripts.Url("~/Scripts/Admin/Shared/_OrderCallout")"></script>
