@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model SmsUserAccountOrganisationTransactionDTO
@{
    var canEditTransactionDetails = Model.SmsUserAccountOrganisationTransactionTypeID == UserAccountOrganisationTransactionType.Buyer.GetIntValue();
    var personaName = ((UserAccountOrganisationTransactionType)Model.SmsUserAccountOrganisationTransactionTypeID).GetStringValue();
}
<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="confirmDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" id="d1" data-message="@Url.Action("ViewMessage", "Message", new { Area = "" })">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmDetailsLabel">Confirm Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="confirmDetails-form" class="smart-form margin-top-10" data-url="@Url.Action("ConfirmDetails", "SafeBuyer", new { area = "Buyer" })" data-index="@ViewBag.index" data-can-edit-transaction-details="@canEditTransactionDetails">
                        @Html.ValidationBootstrap()
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.SmsTransactionID)
                        @Html.HiddenFor(m => m.SmsUserAccountOrganisationTransactionID)
                        @Html.HiddenFor(m => m.SmsTransaction.RowVersion)
                        @Html.HiddenFor(m => m.Contact.RowVersion)
                        @Html.Hidden("orgID", Model.SmsTransaction.OrganisationID)
                        @Html.Hidden("index", (object)ViewBag.index)
                        <section class="col-xs-12">
                            <div id="confirmDetailsWizard">
                                <div class="form-bootstrapWizard margin-left-10 margin-right-10">
                                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                        <li class="active nointeraction" data-target="#step1">
                                            <a href="#step1" data-toggle="tab" style="cursor:default">
                                                <h4 class="list-group-item-heading">Step 1</h4>
                                                <p class="list-group-item-text">@personaName Details</p>
                                            </a>
                                        </li>
                                        @if (canEditTransactionDetails)
                                        {
                                            <li class="nointeraction" data-target="#step2">
                                                <a href="#step2" data-toggle="tab" style="cursor:default">
                                                    <h4 class="list-group-item-heading">Step 2</h4>
                                                    <p class="list-group-item-text">Transaction Address</p>
                                                </a>
                                            </li>
                                        }

                                        <li class="nointeraction" data-target="#step3">
                                            <a href="#step3" data-toggle="tab" style="cursor:default">
                                                <h4 class="list-group-item-heading">Step @(canEditTransactionDetails ? "3" : "2")</h4>
                                                <p class="list-group-item-text">Bank Account Check</p>
                                            </a>
                                        </li>
                                    </ul>

                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="step1">

                                        <fieldset>
                                            <legend>@personaName Details</legend>
                                            <div class="row">
                                                <section class="col col-sm-4">
                                                    <label class="label">Title</label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(m => m.Contact.Salutation, Html.EnumListString<SalutationEnum>(), "Please Select", new { tabindex = "1" })
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-4">
                                                    <label class="label">First Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Contact.FirstName, new { tabindex = "2", maxlength = 50 })
                                                    </label>
                                                </section>
                                                <section class="col col-sm-4">
                                                    <label class="label">Last Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Contact.LastName, new { tabindex = "3", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-sm-4">
                                                    <label class="label">Date of Birth</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Contact.BirthDate, "{0:O}", new { tabindex = "5", id = "birthDateInput", @readonly = true })
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Registered Home Address</legend>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">Lookup Postcode</label>
                                                    <label class="input">
                                                        <input id="primaryBuyerPostcodeLookup" type="text" tabindex="6" maxlength="10" />
                                                    </label>
                                                </section>

                                                <section class="col">
                                                    <label class="label">&nbsp;</label>
                                                    <button id="primaryBuyerFindAddressButton" data-url="@Url.Action("FindAddress", "App", new {Area = ""})" type="button" class="btn btn-primary btn-sm" tabindex="7">Find Address</button>
                                                </section>
                                            </div>

                                            <section>
                                                <label class="select">
                                                    <select id="primaryBuyerAddressResults" tabindex="8"></select>
                                                    <i></i>
                                                </label>
                                            </section>


                                            <div class="row">
                                                <section class="col" id="primaryBuyerNoMatch">
                                                    <em style="color: #d56161">No matches found, please enter address below</em>
                                                </section>
                                            </div>

                                            <div class="row" id="primaryBuyerManAddRow">
                                                <section class="col">
                                                    <input type="checkbox" id="primaryBuyerManualAddress" />
                                                    <label for="primaryBuyerManualAddress" tabindex="9">Edit Address Details</label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Address.Line1, new { id = "primaryBuyerLine1", @readonly = "readonly", placeholder = "Address Line 1", tabindex = "10", maxlength = 50 })
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Address.County, new { id = "primaryBuyerCounty", @readonly = "readonly", placeholder = "County", tabindex = "13", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Address.Line2, new { id = "primaryBuyerLine2", @readonly = "readonly", placeholder = "Address Line 2", tabindex = "11", maxlength = 50 })
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Address.PostalCode, new { id = "primaryBuyerPostalCode", @readonly = "readonly", placeholder = "Postcode", tabindex = "14", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Address.Town, new { id = "primaryBuyerTown", @readonly = "readonly", placeholder = "Town", tabindex = "12", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>

                                        </fieldset>
                                        <fieldset>
                                            <legend>Personal Bank Account(s)</legend>
                                            <div class="alert alert-info fade in">
                                                <p>Please enter the bank account details of all bank accounts you will be sending your money from.</p>
                                                <p>This is for the information purposes only for your conveyancer to track your payment.</p>
                                            </div>
                                            <div class="row" id="bankAccountRow0">
                                                <section class="col col-6">
                                                    <label class="label">Account Number</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        <input type="text" name="SmsSrcFundsBankAccounts[0].AccountNumber" maxlength="8" data-rule-required="true" data-rule-digits="true" data-rule-minlength="8" />
                                                    </label>
                                                </section>
                                                <section class="col col-5">
                                                    <label class="label">Sort Code</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        <input type="text" name="SmsSrcFundsBankAccounts[0].SortCode" maxlength="6" data-rule-required="true" data-rule-digits="true" data-rule-minlength="6" />
                                                    </label>
                                                </section>
                                                <section class="col-sm-1">
                                                    <label class="label">&nbsp;</label>
                                                    <a style="display: none;" data-parent-id="bankAccountRow0"><!-- Not Displayed --></a>
                                                </section>
                                            </div>
                                            <div id="addNextBankAccountRow" class="row" data-templateurl="@Url.Action("GetTemplate", "App", new { area = "", view = "_srcFundsBankAccountTmpl" })">
                                                <section class="col col-5">
                                                    <a id="addNextBankAccountBtn" href="#" class="add-next-bank-account"><i class="fa fa-plus margin-right-10"></i>Add Next Bank Account</a>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    @if (canEditTransactionDetails)
                                    {
                                        <div class="tab-pane" id="step2">
                                            <fieldset>
                                                <legend>Transaction Address</legend>
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Lookup Postcode</label>
                                                        <label class="input">
                                                            <input id="sms_postcodelookup" type="text" tabindex="15" maxlength="10" />
                                                        </label>
                                                    </section>

                                                    <section class="col">
                                                        <label class="label">&nbsp;</label>
                                                        <button id="sms_findaddressbutton" data-url="@Url.Action("FindAddress", "App", new {Area = ""})" type="button" class="btn btn-primary btn-sm" tabindex="16">Find Address</button>
                                                    </section>
                                                </div>

                                                <section>
                                                    <label class="select">
                                                        <select id="sms_addressresults" tabindex="17"></select>
                                                        <i></i>
                                                    </label>
                                                </section>


                                                <div class="row">
                                                    <section class="col" id="sms_noMatch">
                                                        <em style="color: #d56161">No matches found, please enter address below</em>
                                                    </section>
                                                </div>

                                                <div class="row" id="sms_manAddRow">
                                                    <section class="col">
                                                        <input type="checkbox" id="sms_manualAddress" />
                                                        <label for="sms_manualAddress" tabindex="18">Edit Address Details</label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                            @Html.TextBoxFor(m => m.SmsTransaction.Address.Line1, new { id = "sms_Line1", @readonly = "readonly", placeholder = "Address Line 1", tabindex = "19", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            @Html.TextBoxFor(m => m.SmsTransaction.Address.County, new { id = "sms_County", @readonly = "readonly", placeholder = "County", tabindex = "22", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            @Html.TextBoxFor(m => m.SmsTransaction.Address.Line2, new { id = "sms_Line2", @readonly = "readonly", placeholder = "Address Line 2", tabindex = "20", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                            @Html.TextBoxFor(m => m.SmsTransaction.Address.PostalCode, new { id = "sms_PostalCode", @readonly = "readonly", placeholder = "Postcode", tabindex = "23", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                            @Html.TextBoxFor(m => m.SmsTransaction.Address.Town, new { id = "sms_Town", @readonly = "readonly", placeholder = "Town", tabindex = "21", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Other Details</legend>
                                                <div class="row">
                                                    <section class="col col-sm-6">
                                                        <label class="label">Buying with Mortgage</label>
                                                        <label class="select">
                                                            <select name="BuyingWithMortgageSelect" id="BuyingWithMortgageSelect">
                                                                <option value="">Please Select</option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row" id="BuyingWithMortgageContainer">
                                                    <section class="col col-6">
                                                        <label class="label">Mortgage Lender</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                            @Html.TextBoxFor(m => m.SmsTransaction.LenderName, new { tabindex = "24", maxlength = 50, id = "lenderSearch", data_url = Url.Action("SearchLenders", "App", new { Area = "" }) })
                                                            <span class="typeahead-spinner required-field"><i class="fa fa-spin fa-spinner"></i></span>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Mortgage Application Number</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                            @Html.TextBoxFor(m => m.SmsTransaction.MortgageApplicationNumber, new { tabindex = "25", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Price</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                            @Html.TextBoxFor(m => m.SmsTransaction.Price, new { tabindex = "27", maxlength = 50 })
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>
                                    }
                                    <div class="tab-pane" id="step3">
                                        <fieldset>
                                            <div class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                                <p>
                                                    This part of the Safe Move Scheme confirms whether the bank account details you have been given, to pay money to your conveyancing firm, actually belong to that firm.
                                                </p>
                                                <p>
                                                    Please enter the Account Number and Sort Code of the bank account you have received from the above firm.
                                                </p>
                                                <p>
                                                    This system will check whether these bank account details match those validated by the Safe Move Scheme. Please note this system will not perform a transfer of funds.
                                                </p>
                                            </div>
                                            <div class="row">
                                                <section class="col col-sm-12">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        <input type="text" name="accountNumber" id="accountNumber" class="clearResult" placeholder="Account Number" maxlength="8" autocomplete="off" />
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-sm-12">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        <input type="text" name="sortCode" id="sortCode" class="clearResult" placeholder="Sort Code" maxlength="6" autocomplete="off" />
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" id="cancelAddTransaction" class="btn btn-default" data-dismiss="modal" tabindex="28">
                    Cancel
                </button>
                <button type="button" id="stepBack" class="btn btn-primary" style="display:none;" tabindex="29">
                    <i class="fa fa-chevron-left margin-right-5"></i>Back
                </button>
                <button type="button" id="stepNext" class="btn btn-primary" tabindex="30">
                    Next<i class="fa fa-chevron-right margin-left-5"></i>
                </button>
                <button type="button" id="submitAddTransaction" class="btn btn-primary" style="display:none;" tabindex="30">
                    Confirm and Check
                </button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/typeahead")
<script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/_ConfirmDetails")"></script>
