@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="confirmDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" id="d1">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmDetailsLabel">Bank Account Check Results</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="confirmDetails-form" class="smart-form margin-top-10" data-url="@Url.Action("NotifyOrganisationNoMatch", "SafeBuyer", new { area = "Buyer", accountNumber = ViewBag.accountNumber, sortCode = ViewBag.sortCode, smsUserAccountOrganisationTransactionID = ViewBag.smsUserAccountOrganisationTransactionID })" data-index="@ViewBag.index">
                        @Html.ValidationBootstrap()
                        @Html.AntiForgeryToken()
                        <section class="col-xs-12">
                            <fieldset>
                                <div class="alert alert-danger fade in">
                                    <h4 class="alert alert-heading"><i class="fa fa-warning"></i> No Match. Do not send funds to account <strong>@ViewBag.accountNumber</strong> with sort code <strong>@ViewBag.sortCode</strong>.</h4>
                                </div>
                                <br />
                                <h5>Are you sure that you entered these details correctly?</h5>
                                <br />
                                <input type="radio" name="selCorrect" id="radioYes" value="Yes" /><label for="radioYes">&nbsp;Yes</label>
                                <br />
                                <input type="radio" name="selCorrect" id="radioNo" value="No" /><label for="radioNo">&nbsp;No</label>
                            </fieldset>
                        </section>
                    </form>
                </div>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" id="continueButton" class="btn btn-primary" tabindex="29" disabled>Continue</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/typeahead")
<script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/_NoMatch")"></script>
