@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@model SmsUserAccountOrganisationTransactionDTO
@{
    var personaName = ((UserAccountOrganisationTransactionType)Model.SmsUserAccountOrganisationTransactionTypeID).GetStringValue();
    var companyName = Model.SmsTransaction.Organisation.OrganisationDetails.First().Name;
    var tel = Model.SmsTransaction.Organisation.OrganisationStatus.First(s => s.StatusTypeValue.Name == "Verified").Notes;
    var heading = "";
}

<div id="content" class="buyer-transactions" data-advised="@Model.SmsTransaction.IsProductAdvised" data-purchased="@Model.SmsTransaction.InvoiceID.HasValue" data-declined="@Model.SmsTransaction.ProductDeclinedOn.HasValue"
     data-welcome="@TempData["WelcomeMessage"]" data-welcomeurl="@Url.Action("Welcome", "SafeBuyer", new { Area = "Buyer" })" >
    <div class="row">
        <h2 class="row-seperator-header inline-heading">
            <i class="fa fa-home fa-lg margin-right-10"></i>
            @if (!string.IsNullOrEmpty(Model.SmsTransaction.Address.Line1))
            {
                heading = "Purchase of Property " + Model.SmsTransaction.Address.Line1 + ", " + Model.SmsTransaction.Address.PostalCode + " added by " + companyName + ".";
            }
            else
            {
                heading = "Purchase of Property TBC added by " + companyName + ".";
            }
            @heading
        </h2>
        <div class="col-sm-12">
            <div class="well">
                <div id="transactionContainer" data-url="@Url.Action("ViewMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.SmsUserAccountOrganisationTransactionID, companyName = companyName })"
                     data-failurl="@Url.Action("ViewNoMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.SmsUserAccountOrganisationTransactionID })"
                     data-companyname="@companyName" data-phone="@tel">
                    <div id="transactionTabs" class="tabbable custom-tabs shadow margin-top-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#transactionDetailsPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Safe Buyer</span></a></li>
                            @if ((bool)ViewBag.OrganisationSafeSendEnabled)
                            {
                                <li><a href="#safeSendPanel" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                            }
                        </ul>
                        <div class="tab-content padding-top-10">
                            <div class="tab-pane active" id="transactionDetailsPanel">

                                @*//TODO: 'toggle' off
                                        if (TempData["PaymentSuccessful"] != null)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success fade in margin-left-10 margin-right-10 margin-top-10">
                                                    <i class="fa fa-info margin-right-5"></i><strong>Payment Successful </strong>
                                                    <p>Safe Buyer was successfully purchased. Please follow the instructions below.</p>
                                                </div>
                                            </div>
                                        </div>
                                    }*@
                                <div id="detailsRow" class="row margin-left-10 margin-right-10 margin-top-10" style="display:@(Model.Confirmed? "block" : "none")">
                                    <div id="detailsRowTransactionAddress" class="col-sm-6 col-lg-4" style="display:@(!string.IsNullOrWhiteSpace(Model.SmsTransaction.Address.Line1) ? "block" : "none")">
                                        <dl>
                                            <dt>Transaction Address:</dt>
                                            <dd>
                                                <p id="txLine1">@Model.SmsTransaction.Address.Line1</p>
                                                <p id="txLine2">@Model.SmsTransaction.Address.Line2</p>
                                                <p id="txTown">@Model.SmsTransaction.Address.Town</p>
                                                <p id="txCounty">@Model.SmsTransaction.Address.County</p>
                                                <p id="txPostalCode">@Model.SmsTransaction.Address.PostalCode</p>
                                            </dd>
                                            <dt>Mortgage Lender:</dt>
                                            <dd><p id="mortgageLender">@(Model.SmsTransaction.LenderName ?? "None")</p></dd>
                                            <dt>Mortgage App. Number:</dt>
                                            <dd><p id="mortgageAppNumber">@(Model.SmsTransaction.MortgageApplicationNumber ?? "None")</p></dd>
                                            <dt>Price:</dt>
                                            <dd><p id="purchasePrice" class=format-number data-val="@Model.SmsTransaction.Price"></p></dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <dl>
                                            <dt>@personaName's Details:</dt>
                                            <dd><p id="bFullName">@((Model.Contact != null) ? Model.Contact.FullName : "")</p></dd>
                                            <dt>Date of Birth:</dt>
                                            <dd><p id="bDateOfBirth" class="format-date" data-val="@((Model.Contact != null && Model.Contact.BirthDate != null) ? Model.Contact.BirthDate.Value.ToString("O") : "")"></p></dd>
                                            <dt>@personaName's Home Address:</dt>
                                            <dd>
                                                <p id="bLine1">@(Model.Address == null ? "" : Model.Address.Line1)</p>
                                                <p id="bLine2">@(Model.Address == null ? "" : Model.Address.Line2)</p>
                                                <p id="bTown">@(Model.Address == null ? "" : Model.Address.Town)</p>
                                                <p id="bCounty">@(Model.Address == null ? "" : Model.Address.County)</p>
                                                <p id="bPostalCode">@(Model.Address == null ? "" : Model.Address.PostalCode)</p>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <dl>
                                            <dt>Personal Bank Account(s):</dt>
                                            <dd id="personalBankAccountsTable">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Account Number</th>
                                                                <th>Sort Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.SmsSrcFundsBankAccounts)
                                                            {
                                                                <tr>
                                                                    <td>@item.AccountNumber</td>
                                                                    <td>@item.SortCode</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="infoBankAccountCheck" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <h5><i class="fa fa-info"></i><strong>Information</strong></h5>
                                            <p>When you are directed by your conveyancer to transfer funds, you must use this facility to enter <strong>@companyName's</strong> bank account information to check that the account is genuine before transferring any funds. During this process you will be required to provide / confirm details of the purchase. Until then, no further action is required.</p>
                                        </div>
                                        <div id="infoAdviceMessage" style="display:none;" class="alert alert-warning fade in margin-left-10 margin-right-10 margin-top-10">
                                            <h5><i class="fa fa-warning margin-right-5"></i><strong>Warning</strong></h5>
                                            <p>The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</p>
                                            <p>Safe Buyer is a product that protects property buyers from fraud. You are receiving this message because <strong>@companyName</strong> is advising you to use Safe Buyer, which is also endorsed by some mortgage lenders, to protect you from fraud.</p>
                                            <p>Safe Buyer is currently free to use as part of a free trial. Safe Buyer enables you to check <strong>@companyName's</strong> bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with @companyName avoiding email, which isn’t safe.</p>
                                            <p><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by conveyancers and mortgage lenders.</p>
                                        </div>
                                        <div id="infoMessage" style="display:none;" class="alert alert-warning fade in margin-left-10 margin-right-10 margin-top-10">
                                            <h5><i class="fa fa-warning margin-right-5"></i><strong>Warning</strong></h5>
                                            <p>The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</p>
                                            <p>Safe Buyer, which is endorsed by some mortgage lenders and conveyancers, is a product that protects property buyers from fraud.</p>
                                            <p>Safe Buyer enables you to check your conveyancer’s bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with your conveyancer avoiding email, which isn’t safe.</p>
                                            <p><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by mortgage lenders and conveyancers.</p>
                                        </div>
                                        <div id="declineAdvisedMessage" style="display:none;" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <h5><i class="fa fa-info"></i><strong>Information</strong></h5>
                                            <p>You have declined the advice given to you and you acknowledge that <strong>@companyName</strong> cannot be held liable for any financial loss you may suffer from customer payment fraud. If you change your mind, click the button below.</p>
                                        </div>
                                        <div id="declineMessage" style="display:none;" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <h5><i class="fa fa-info"></i><strong>Information</strong></h5>
                                            <p>You have decided to proceed at your own risk. If you change your mind, click the button below.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <a id="checkBankAccountBtn" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewConfirmDetails", "SafeBuyer" , new { area = "Buyer", txID = Model.SmsTransactionID })">
                                            Check Bank Account
                                            <i class="fa fa-chevron-right margin-left-5"></i>
                                        </a>
                                        <a id="declineButton" style="display:none;" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewDeclineProduct", "SafeBuyer" , new { area = "Buyer", txID = Model.SmsTransactionID })">
                                            No, I’ll decline the advice and proceed at my own risk
                                        </a>
                                        <a id="purchaseProductBtn" style="display:none;" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewPurchaseProduct", "SafeBuyer" , new { area = "Buyer", txID = Model.SmsTransactionID })">
                                            Yes, I want to use Safe Buyer for free
                                            <i class="fa fa-chevron-right margin-left-5"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="audit" data-url="@Url.Action("GetAudit", "SafeBuyer", new { Area = "Buyer", uaotxID = Model.SmsUserAccountOrganisationTransactionID })"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-server-error">
                                            <h4 class="alert alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if ((bool)ViewBag.OrganisationSafeSendEnabled)
                            {
                                <div class="tab-pane padding-10" id="safeSendPanel">
                                    @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = false, CanCreateNewConversation = true, ActivityId = Model.SmsTransactionID, ActivityType = ActivityType.SmsTransaction, Enabled = Model.SmsTransaction.InvoiceID.HasValue })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/Index")"></script>
}
