@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@model SmsUserAccountOrganisationTransactionDTO
@{
    var personaName = ((UserAccountOrganisationTransactionType)Model.SmsUserAccountOrganisationTransactionTypeID).GetStringValue();
    var companyName = Model.SmsTransaction.Organisation.OrganisationDetails.First().Name;
    var tel = Model.SmsTransaction.Organisation.OrganisationStatus.First(s => s.StatusTypeValue.Name == "Verified").Notes;
}

<div id="content" class="buyer-transactions">
    <div class="row">
        <h2 class="row-seperator-header inline-heading">
            <i class="fa fa-home fa-lg margin-right-10"></i>
            @if (!string.IsNullOrEmpty(Model.SmsTransaction.Address.Line1))
            {
                <text>Purchase of Property </text>@(Model.SmsTransaction.Address.Line1 + ", " + Model.SmsTransaction.Address.PostalCode)<text> added by </text>@companyName<text>.</text>
            }
            else
            {
                <text>Purchase of Property TBC added by </text>@companyName<text>.</text>
            }
        </h2>
        <div class="col-sm-12">
            <div class="well">
                <div id="transactionContainer" data-url="@Url.Action("ViewMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.SmsUserAccountOrganisationTransactionID, companyName = companyName })"
                        data-failurl="@Url.Action("ViewNoMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.SmsUserAccountOrganisationTransactionID })"
                        data-companyname="@companyName" data-phone="@tel">
                    <div id="transactionTabs" class="tabbable custom-tabs shadow margin-top-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#transactionDetailsPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Transaction</span></a></li>
                            <li><a href="#safeSendPanel" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                        </ul>
                        <div class="tab-content padding-top-10">
                            <div class="tab-pane active" id="transactionDetailsPanel">
                                <div id="detailsRow" class="row margin-left-10 margin-right-10 margin-top-10" style="display:@(Model.Confirmed? "block" : "none")">
                                    <div id="detailsRowTransactionAddress" class="col-sm-6 col-lg-4" style="display:@(!string.IsNullOrWhiteSpace(Model.SmsTransaction.Address.Line1) ? "block" : "none")">
                                        <dl>
                                            <dt>Transaction Address:</dt>
                                            <dd>
                                                <p id="txLine1">@Model.SmsTransaction.Address.Line1</p>
                                                <p id="txLine2">@Model.SmsTransaction.Address.Line2</p>
                                                <p id="txTown">@Model.SmsTransaction.Address.Town</p>
                                                <p id="txCounty">@Model.SmsTransaction.Address.County</p>
                                                <p id="txPostalCode">@Model.SmsTransaction.Address.PostalCode</p>
                                            </dd>
                                            <dt>Mortgage Lender:</dt>
                                            <dd><p id="mortgageLender">@(Model.SmsTransaction.LenderName ?? "None")</p></dd>
                                            <dt>Mortgage App. Number:</dt>
                                            <dd><p id="mortgageAppNumber">@(Model.SmsTransaction.MortgageApplicationNumber ?? "None")</p></dd>
                                            <dt>Price:</dt>
                                            <dd><p id="purchasePrice" class=format-number data-val="@Model.SmsTransaction.Price"></p></dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <dl>
                                            <dt>@personaName's Details:</dt>
                                            <dd><p id="bFullName">@((Model.Contact != null) ? Model.Contact.FullName : "")</p></dd>
                                            <dt>Date of Birth:</dt>
                                            <dd><p id="bDateOfBirth" class="format-date" data-val="@((Model.Contact != null && Model.Contact.BirthDate != null) ? Model.Contact.BirthDate.Value.ToString("O") : "")"></p></dd>
                                            <dt>@personaName's Home Address:</dt>
                                            <dd>
                                                <p id="bLine1">@(Model.Address == null ? "" : Model.Address.Line1)</p>
                                                <p id="bLine2">@(Model.Address == null ? "" : Model.Address.Line2)</p>
                                                <p id="bTown">@(Model.Address == null ? "" : Model.Address.Town)</p>
                                                <p id="bCounty">@(Model.Address == null ? "" : Model.Address.County)</p>
                                                <p id="bPostalCode">@(Model.Address == null ? "" : Model.Address.PostalCode)</p>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <dl>
                                            <dt>Personal Bank Account(s):</dt>
                                            <dd id="personalBankAccountsTable">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Account Number</th>
                                                                <th>Sort Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.SmsSrcFundsBankAccounts)
                                                        {
                                                                <tr>
                                                                    <td>@item.AccountNumber</td>
                                                                    <td>@item.SortCode</td>
                                                                </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>When you are directed by your conveyancer to transfer funds, you must use this facility to enter your conveyancer's bank account information to check that the account is genuine before transferring any funds. During this process you will be required to provide / confirm details of the purchase. Until then, no further action is required.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <a id="conf" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewConfirmDetails", "SafeBuyer" , new { area = "Buyer", txID = Model.SmsTransactionID })">
                                            Check Bank Account
                                            <i class="fa fa-chevron-right margin-left-5"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="audit" data-url="@Url.Action("GetAudit", "SafeBuyer", new { Area = "Buyer", uaotxID = Model.SmsUserAccountOrganisationTransactionID, orgID = Model.SmsTransaction.OrganisationID })"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-server-error">
                                            <h4 class="alert alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane padding-10" id="safeSendPanel">
                                @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = false, CanCreateNewConversation = true, ActivityId = Model.SmsTransactionID, ActivityType = ActivityType.SmsTransaction, Enabled = Model.SmsTransaction.InvoiceID.HasValue })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/Index")"></script>
}
