@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@using Bec.TargetFramework.Presentation.Web.Models
@model SmsUserAccountOrganisationTransactionDTO
@{
    var personaName = ((UserAccountOrganisationTransactionType)Model.SmsUserAccountOrganisationTransactionTypeID).GetStringValue();
    var companyName = Model.SmsTransaction.Organisation.OrganisationDetails.First().Name;
    var tel = Model.SmsTransaction.Organisation.OrganisationStatus.First(s => s.StatusTypeValue.Name == "Verified").Notes;
    var heading = "";
}

<div id="content" class="buyer-transactions"
     data-advised="@Model.SmsTransaction.IsProductAdvised"
     data-purchased="@Model.SmsTransaction.InvoiceID.HasValue"
     data-declined="@Model.SmsTransaction.ProductDeclinedOn.HasValue"
     data-accepted="@Model.SmsTransaction.ProductAcceptedOn.HasValue"
     data-edit-url="@Url.Action("GetFieldUpdates", "App", new { area = "" })"
     data-update-url="@Url.Action("PostFieldUpdate", "App", new { area = "" })"
     data-activity-type="@ActivityType.SmsTransaction.GetIntValue()"
     data-activity-id="@Model.SmsTransactionID">
    <div class="row">
        <h2 class="row-seperator-header inline-heading">
            <i class="fa fa-home fa-lg margin-right-10"></i>
            @if (!string.IsNullOrEmpty(Model.SmsTransaction.Address.Line1))
            {
                heading = "Purchase of Property " + Model.SmsTransaction.Address.Line1 + ", " + Model.SmsTransaction.Address.PostalCode + " added by " + companyName + ".";
            }
            else
            {
                heading = "Purchase of Property TBC added by " + companyName + ".";
            }
            @heading
        </h2>
        <div class="col-sm-12">
            <div class="well">
                <div id="transactionContainer" data-url="@Url.Action("ViewMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.SmsUserAccountOrganisationTransactionID, companyName = companyName })"
                     data-failurl="@Url.Action("ViewNoMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.SmsUserAccountOrganisationTransactionID })"
                     data-companyname="@companyName" data-phone="@tel">
                    <div id="transactionTabs" class="tabbable custom-tabs shadow margin-top-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#transactionDetailsPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Safe Buyer</span></a></li>
                            @if ((bool)ViewBag.OrganisationSafeSendEnabled)
                            {
                                <li><a href="#safeSendPanel" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                            }
                        </ul>
                        <div class="tab-content padding-top-10">
                            <div class="tab-pane active" id="transactionDetailsPanel">

                                @*//TODO: 'toggle' off
                                        if (TempData["PaymentSuccessful"] != null)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success fade in margin-left-10 margin-right-10 margin-top-10">
                                                    <i class="fa fa-info margin-right-5"></i><strong>Payment Successful </strong>
                                                    <p>Safe Buyer was successfully purchased. Please follow the instructions below.</p>
                                                </div>
                                            </div>
                                        </div>
                                    }*@
                                <div id="detailsRow" class="row margin-left-10 margin-right-10 margin-top-10" style="display:@(Model.SmsTransaction.ProductAcceptedOn.HasValue? "block" : "none")">

                                    <div class="col-md-6">
                                        <table class="table transaction-details-table">
                                            <tr>
                                                <td>Transaction Address</td>
                                                <td>
                                                    <div class="magic-edit">
                                                        <div class="view">
                                                            <p><span data-field="Line1" data-parent-id="@Model.SmsTransaction.AddressID" data-parent-type="@FieldUpdateParentType.SmsTransactionAddress.GetIntValue()" data-no-value-text="TBC">@Model.SmsTransaction.Address.Line1</span></p>
                                                            <p><span data-field="Line2" data-parent-id="@Model.SmsTransaction.AddressID" data-parent-type="@FieldUpdateParentType.SmsTransactionAddress.GetIntValue()">@Model.SmsTransaction.Address.Line2</span></p>
                                                            <p><span data-field="Town" data-parent-id="@Model.SmsTransaction.AddressID" data-parent-type="@FieldUpdateParentType.SmsTransactionAddress.GetIntValue()">@Model.SmsTransaction.Address.Town</span></p>
                                                            <p><span data-field="County" data-parent-id="@Model.SmsTransaction.AddressID" data-parent-type="@FieldUpdateParentType.SmsTransactionAddress.GetIntValue()">@Model.SmsTransaction.Address.County</span></p>
                                                            <p><span data-field="PostalCode" data-parent-id="@Model.SmsTransaction.AddressID" data-parent-type="@FieldUpdateParentType.SmsTransactionAddress.GetIntValue()">@Model.SmsTransaction.Address.PostalCode</span></p>
                                                        </div>
                                                        <div class="edit">
                                                            <form>
                                                                @Html.Partial("_PostcodeLookup", new PostcodeLookupModel { Prefix = "tx" })

                                                                @Html.TextBoxFor(m => m.SmsTransaction.Address.Line1, new { data_rule_required = "true", @class = "form-control", data_field = "Line1", data_parent_id = Model.SmsTransaction.AddressID, data_parent_type = FieldUpdateParentType.SmsTransactionAddress.GetIntValue(), id = "txLine1", placeholder = "Address Line 1" })
                                                                @Html.TextBoxFor(m => m.SmsTransaction.Address.Line2, new { @class = "form-control", data_field = "Line2", data_parent_id = Model.SmsTransaction.AddressID, data_parent_type = FieldUpdateParentType.SmsTransactionAddress.GetIntValue(), id = "txLine2", placeholder = "Address Line 2" })
                                                                @Html.TextBoxFor(m => m.SmsTransaction.Address.Town, new { data_rule_required = "true", @class = "form-control", data_field = "Town", data_parent_id = Model.SmsTransaction.AddressID, data_parent_type = FieldUpdateParentType.SmsTransactionAddress.GetIntValue(), id = "txTown", placeholder = "Town" })
                                                                @Html.TextBoxFor(m => m.SmsTransaction.Address.County, new { @class = "form-control", data_field = "County", data_parent_id = Model.SmsTransaction.AddressID, data_parent_type = FieldUpdateParentType.SmsTransactionAddress.GetIntValue(), id = "txCounty", placeholder = "County" })
                                                                @Html.TextBoxFor(m => m.SmsTransaction.Address.PostalCode, new { data_rule_required = "true", data_rule_minlength = 5, @class = "form-control", data_field = "PostalCode", data_parent_id = Model.SmsTransaction.AddressID, data_parent_type = FieldUpdateParentType.SmsTransactionAddress.GetIntValue(), id = "txPostalCode", placeholder = "Postcode" })
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Mortgage Details</td>
                                                <td>
                                                    <div class="magic-edit">
                                                        @{ var isMortgage = !string.IsNullOrWhiteSpace(Model.SmsTransaction.LenderName); }
                                                        <div class="view">
                                                            <p>
                                                                <span data-field="LenderName" data-parent-id="@Model.SmsTransactionID" data-parent-type="@FieldUpdateParentType.SmsTransaction.GetIntValue()" data-no-value-text="Buying Without Mortgage">@(isMortgage ? "Buying Without Mortgage" : Model.SmsTransaction.LenderName)</span>
                                                            </p>
                                                            <p><span data-field="MortgageApplicationNumber" data-parent-id="@Model.SmsTransactionID" data-parent-type="@FieldUpdateParentType.SmsTransaction.GetIntValue()">@Model.SmsTransaction.MortgageApplicationNumber</span></p>
                                                        </div>
                                                        <div class="edit">
                                                            <form id="buyingWithMortgageForm">
                                                                <input id="buyingWithMortgage" type="checkbox" @(isMortgage ? @"checked=""checked""" : "") />
                                                                <label for="buyingWithMortgage">Buying With Mortgage</label>
                                                                <div id="mortgageDetails" @(isMortgage ? @"style=""display:none""" : "")>
                                                                    <div class="form-group">
                                                                        <label>Lender</label>
                                                                        <div class="relative-block">
                                                                            @Html.TextBoxFor(m => m.SmsTransaction.LenderName, new { data_rule_required = "true", @class = "form-control", maxlength = 50, id = "lenderSearch", data_field = "LenderName", data_parent_id = Model.SmsTransactionID, data_parent_type = FieldUpdateParentType.SmsTransaction.GetIntValue(), data_url = Url.Action("SearchLenders", "App", new { Area = "" }) })
                                                                            <span class="typeahead-spinner required-field"><i class="fa fa-pulse fa-spinner"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Mortgage App Number</label>
                                                                        @Html.TextBoxFor(m => m.SmsTransaction.MortgageApplicationNumber, new { data_rule_required = "true", @class = "form-control", maxlength = 50, id = "lenderAppNumber", data_field = "MortgageApplicationNumber", data_parent_id = Model.SmsTransactionID, data_parent_type = FieldUpdateParentType.SmsTransaction.GetIntValue() })
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Price</td>
                                                <td>
                                                    <div class="magic-edit">
                                                        <div class="view">
                                                            <p data-field="Price" data-parent-id="@Model.SmsTransactionID" data-parent-type="@FieldUpdateParentType.SmsTransaction.GetIntValue()">@Model.SmsTransaction.Price</p>
                                                        </div>
                                                        <div class="edit">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label>Price</label>
                                                                    @Html.TextBoxFor(m => m.SmsTransaction.Price, new { data_rule_required = "true", data_rule_digits = "true", data_rule_max = 2147483647, @class = "form-control", data_field = "Price", data_parent_id = Model.SmsTransactionID, data_parent_type = FieldUpdateParentType.SmsTransaction.GetIntValue() })
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>@personaName</td>
                                                <td>
                                                    <div class="magic-edit">
                                                        <div class="view">
                                                            <p>
                                                                <span data-field="Salutation" data-parent-id="@Model.ContactID" data-parent-type="@FieldUpdateParentType.Contact.GetIntValue()">@Model.Contact.Salutation</span>
                                                                <span data-field="FirstName" data-parent-id="@Model.ContactID" data-parent-type="@FieldUpdateParentType.Contact.GetIntValue()">@Model.Contact.FirstName</span>
                                                                <span data-field="LastName" data-parent-id="@Model.ContactID" data-parent-type="@FieldUpdateParentType.Contact.GetIntValue()">@Model.Contact.LastName</span>
                                                            </p>
                                                        </div>
                                                        <div class="edit">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label>Salutation</label>
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.Contact.Salutation, Html.EnumListString<SalutationEnum>(), "Please Select", new { tabindex = "1", data_rule_required = "true", @class = "form-control", data_field = "Salutation", data_parent_id = Model.ContactID, data_parent_type = FieldUpdateParentType.Contact.GetIntValue() })
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    @Html.TextBoxFor(m => m.Contact.FirstName, new { data_rule_required = "true", @class = "form-control", data_field = "FirstName", data_parent_id = Model.ContactID, data_parent_type = FieldUpdateParentType.Contact.GetIntValue() })
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    @Html.TextBoxFor(m => m.Contact.LastName, new { data_rule_required = "true", @class = "form-control", data_field = "LastName", data_parent_id = Model.ContactID, data_parent_type = FieldUpdateParentType.Contact.GetIntValue() })
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date of Birth</p>
                                                </td>
                                                <td>
                                                    <div class="magic-edit">
                                                        <div class="view">
                                                            <span id="bDateOfBirth" class="format-date" data-field="BirthDate" data-parent-id="@Model.ContactID" data-parent-type="@FieldUpdateParentType.Contact.GetIntValue()" data-val="@((Model.Contact != null && Model.Contact.BirthDate != null) ? Model.Contact.BirthDate.Value.ToString("O") : "")"></span>
                                                        </div>
                                                        <div class="edit">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    @Html.TextBoxFor(m => m.Contact.BirthDate, "{0:O}", new { data_rule_required = "true", id = "birthDateInput", @class = "form-control", data_field = "BirthDate", data_parent_id = Model.ContactID, data_parent_type = FieldUpdateParentType.Contact.GetIntValue() })
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Registered Home Address</p>
                                                </td>
                                                <td>
                                                    <div class="magic-edit">
                                                        <div class="view">
                                                            <p><span data-field="Line1" data-parent-id="@Model.AddressID" data-parent-type="@FieldUpdateParentType.RegisteredHomeAddress.GetIntValue()">@Model.Address.Line1</span></p>
                                                            <p><span data-field="Line2" data-parent-id="@Model.AddressID" data-parent-type="@FieldUpdateParentType.RegisteredHomeAddress.GetIntValue()">@Model.Address.Line2</span></p>
                                                            <p><span data-field="Town" data-parent-id="@Model.AddressID" data-parent-type="@FieldUpdateParentType.RegisteredHomeAddress.GetIntValue()">@Model.Address.Town</span></p>
                                                            <p><span data-field="County" data-parent-id="@Model.AddressID" data-parent-type="@FieldUpdateParentType.RegisteredHomeAddress.GetIntValue()">@Model.Address.County</span></p>
                                                            <p><span data-field="PostalCode" data-parent-id="@Model.AddressID" data-parent-type="@FieldUpdateParentType.RegisteredHomeAddress.GetIntValue()">@Model.Address.PostalCode</span></p>
                                                        </div>
                                                        <div class="edit">
                                                            <form>
                                                                @Html.Partial("_PostcodeLookup", new PostcodeLookupModel { Prefix = "primaryBuyer" })

                                                                @Html.TextBoxFor(m => m.Address.Line1, new { data_rule_required = "true", @class = "form-control", data_field = "Line1", data_parent_id = Model.AddressID, data_parent_type = FieldUpdateParentType.RegisteredHomeAddress.GetIntValue(), id = "primaryBuyerLine1", placeholder = "Address Line 1" })
                                                                @Html.TextBoxFor(m => m.Address.Line2, new { @class = "form-control", data_field = "Line2", data_parent_id = Model.AddressID, data_parent_type = FieldUpdateParentType.RegisteredHomeAddress.GetIntValue(), id = "primaryBuyerLine2", placeholder = "Address Line 2" })
                                                                @Html.TextBoxFor(m => m.Address.Town, new { data_rule_required = "true", @class = "form-control", data_field = "Town", data_parent_id = Model.AddressID, data_parent_type = FieldUpdateParentType.RegisteredHomeAddress.GetIntValue(), id = "primaryBuyerTown", placeholder = "Town" })
                                                                @Html.TextBoxFor(m => m.Address.County, new { @class = "form-control", data_field = "County", data_parent_id = Model.AddressID, data_parent_type = FieldUpdateParentType.RegisteredHomeAddress.GetIntValue(), id = "primaryBuyerCounty", placeholder = "County" })
                                                                @Html.TextBoxFor(m => m.Address.PostalCode, new { data_rule_required = "true", data_rule_minlength = 5, @class = "form-control", data_field = "PostalCode", data_parent_id = Model.AddressID, data_parent_type = FieldUpdateParentType.RegisteredHomeAddress.GetIntValue(), id = "primaryBuyerPostalCode", placeholder = "Postcode" })
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <dl>
                                            <dt>Personal Bank Account(s):</dt>
                                            <dd id="personalBankAccountsTable">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Account Number</th>
                                                                <th>Sort Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.SmsSrcFundsBankAccounts)
                                                            {
                                                                <tr>
                                                                    <td>@item.AccountNumber</td>
                                                                    <td>@item.SortCode</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="infoBankAccountCheck" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>When you are directed by your conveyancer to transfer funds, you must use this facility to enter <strong>@companyName's</strong> bank account information to check that the account is genuine before transferring any funds. During this process you will be required to provide / confirm details of the purchase. Until then, no further action is required.</p>
                                        </div>
                                        <div id="infoAdviceMessage" style="display:none;" class="alert alert-warning fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-warning margin-right-5"></i><strong>Warning </strong>
                                            <p>The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</p>
                                            <p>Safe Buyer is a product that protects property buyers from fraud. You are receiving this message because <strong>@companyName</strong> is advising you to use Safe Buyer, which is also endorsed by some mortgage lenders, to protect you from fraud.</p>
                                            <p>Safe Buyer is currently free to use as part of a free trial. Safe Buyer enables you to check <strong>@companyName's</strong> bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with @companyName avoiding email, which isn’t safe.</p>
                                            <p><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by conveyancers and mortgage lenders.</p>
                                        </div>
                                        <div id="infoMessage" style="display:none;" class="alert alert-warning fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-warning margin-right-5"></i><strong>Warning </strong>
                                            <p>The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</p>
                                            <p>Safe Buyer, which is endorsed by some mortgage lenders and conveyancers, is a product that protects property buyers from fraud.</p>
                                            <p>Safe Buyer enables you to check your conveyancer’s bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with your conveyancer avoiding email, which isn’t safe.</p>
                                            <p><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by mortgage lenders and conveyancers.</p>
                                        </div>
                                        <div id="declineAdvisedMessage" style="display:none;" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>You have declined the advice given to you and you acknowledge that <strong>@companyName</strong> cannot be held liable for any financial loss you may suffer from customer payment fraud. If you change your mind, click the button below.</p>
                                        </div>
                                        <div id="declineMessage" style="display:none;" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>You have decided to proceed at your own risk. If you change your mind, click the button below.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <a id="checkBankAccountBtn" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewCheckBankAccount", "SafeBuyer" , new { area = "Buyer", txID = Model.SmsTransactionID })">
                                            Check Bank Account
                                            <i class="fa fa-chevron-right margin-left-5"></i>
                                        </a>
                                        <a id="declineButton" style="display:none;" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewDeclineProduct", "SafeBuyer" , new { area = "Buyer", txID = Model.SmsTransactionID })">
                                            No, I’ll decline the advice and proceed at my own risk
                                        </a>
                                        <form id="acceptProductForm" action="@Url.Action("AcceptProduct", "SafeBuyer", new { area = "Buyer", txID = Model.SmsTransactionID })" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" id="acceptProductBtn" style="display:none;" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right">
                                                Yes, I want to use Safe Buyer for free
                                                <i class="fa fa-chevron-right margin-left-5"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="audit" data-url="@Url.Action("GetAudit", "SafeBuyer", new { Area = "Buyer", uaotxID = Model.SmsUserAccountOrganisationTransactionID })"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-server-error">
                                            <h4 class="alert alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if ((bool)ViewBag.OrganisationSafeSendEnabled)
                            {
                                <div class="tab-pane padding-10" id="safeSendPanel">
                                    @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = false, CanCreateNewConversation = true, ActivityId = Model.SmsTransactionID, ActivityType = ActivityType.SmsTransaction, Enabled = Model.SmsTransaction.InvoiceID.HasValue })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/typeahead")
    @Scripts.Render("~/Scripts/lendersearch")
    <script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/Index")"></script>
}
