@using Bec.TargetFramework.Presentation.Web.App_Helpers
@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@using Bec.TargetFramework.Presentation.Web.Models
@using System.Globalization
@model PendingUpdateModel<SmsUserAccountOrganisationTransactionDTO>
@{
    var personaName = ((UserAccountOrganisationTransactionType)Model.Dto.SmsUserAccountOrganisationTransactionTypeID).GetStringValue();
    var companyName = Model.Dto.SmsTransaction.Organisation.OrganisationDetails.First().Name;
    var tel = Model.Dto.SmsTransaction.Organisation.OrganisationStatus.First(s => s.StatusTypeValue.Name == "Verified").Notes;
    string heading;
    if (!string.IsNullOrEmpty(Model.Dto.SmsTransaction.Address.Line1))
    {
        heading = "Purchase of Property " + Model.Dto.SmsTransaction.Address.Line1 + ", " + Model.Dto.SmsTransaction.Address.PostalCode + " added by " + companyName + ".";
    }
    else
    {
        heading = "Purchase of Property TBC added by " + companyName + ".";
    }

    var isTxAddressLine1Provided = !string.IsNullOrWhiteSpace(Model.GetPendingOrApprovedValueFor(m => m.Dto.SmsTransaction.Address.Line1, "Line1", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID));
    var isRegisteredHomeAddressLine1Provided = !string.IsNullOrWhiteSpace(Model.GetPendingOrApprovedValueFor(m => m.Dto.Address.Line1, "Line1", FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactionID));
    var isAnySrcOfFunds = Model.Dto.SmsSrcFundsBankAccounts.Any();
    var areDetailsComplete = isTxAddressLine1Provided && isRegisteredHomeAddressLine1Provided && isAnySrcOfFunds;
}

<div id="content" class="buyer-transactions"
     data-advised="@Model.Dto.SmsTransaction.IsProductAdvised"
     data-purchased="@Model.Dto.SmsTransaction.InvoiceID.HasValue"
     data-declined="@Model.Dto.SmsTransaction.ProductDeclinedOn.HasValue"
     data-accepted="@Model.Dto.SmsTransaction.ProductAcceptedOn.HasValue">
    <div class="row">
        <h2 class="row-seperator-header inline-heading">
            <i class="fa fa-home fa-lg margin-right-10"></i>
            @heading
        </h2>
        <div class="col-sm-12">
            <div class="well">
                <div id="transactionContainer" data-url="@Url.Action("ViewMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.Dto.SmsUserAccountOrganisationTransactionID, companyName = companyName })"
                     data-failurl="@Url.Action("ViewNoMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = Model.Dto.SmsUserAccountOrganisationTransactionID })"
                     data-companyname="@companyName" data-phone="@tel">
                    <div id="transactionTabs" class="tabbable custom-tabs shadow margin-top-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#transactionDetailsPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Safe Buyer</span></a></li>
                            @if ((bool)ViewBag.OrganisationSafeSendEnabled)
                            {
                                <li><a href="#safeSendPanel" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                            }
                        </ul>
                        <div class="tab-content padding-top-10">
                            <div class="tab-pane active" id="transactionDetailsPanel">

                                @if (TempData["PaymentSuccessful"] != null)
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="alert alert-success fade in margin-left-10 margin-right-10 margin-top-10">
                                                <i class="fa fa-info margin-right-5"></i><strong>Payment Successful </strong>
                                                <p>Safe Buyer was successfully purchased. Please follow the instructions below.</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                                <div id="detailsRow" class="margin-left-10 margin-right-10 margin-top-10" style="display:@(Model.Dto.SmsTransaction.ProductAcceptedOn.HasValue? "block" : "none")">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (!areDetailsComplete)
                                            {
                                                <div class="alert alert-info">
                                                    <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                                    <p>Before proceeding with the Safe Buyer product it is neccessary to complete the data marked with <span class="required">Required</span> label using 'Edit' function.</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <a class="btn btn-sm btn-primary" data-modallink="true" data-href="@Url.Action("ViewEdit", "SafeBuyer", new { area = "Buyer", txID = Model.Dto.SmsTransactionID })">
                                                    <i class="fa fa-pencil margin-right-5"></i>Edit
                                                </a>
                                            </div>
                                            <h5>Transaction Details</h5>
                                            <table class="buyer-details-table">
                                                <tr>
                                                    <td><p>Transaction Address</p></td>
                                                    <td>
                                                        <p>
                                                            @Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.Address.Line1, "Line1", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, "TBC")
                                                            @if (!isTxAddressLine1Provided)
                                                            {
                                                                <span class="required">Required</span>
                                                            }
                                                        </p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.Address.Line2, "Line2", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, "")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.Address.Town, "Town", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, "")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.Address.County, "County", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, "")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.Address.PostalCode, "PostalCode", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, "")</p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td><p>Mortgage Details</p></td>
                                                    <td>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.LenderName, "LenderName", FieldUpdateParentType.SmsTransaction, Model.Dto.SmsTransactionID, "Buying Without Mortgage")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.MortgageApplicationNumber, "MortgageApplicationNumber", FieldUpdateParentType.SmsTransaction, Model.Dto.SmsTransactionID, string.Empty)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Price</p></td>
                                                    <td>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.SmsTransaction.Price, "Price", FieldUpdateParentType.SmsTransaction, Model.Dto.SmsTransactionID, "TBC", FieldUpdateDataType.Money)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><p>@personaName</p></td>
                                                    <td>
                                                        <p>
                                                            @Html.PendingUpdateFieldFor(m => m.Dto.Contact.Salutation, "Salutation", FieldUpdateParentType.Contact, Model.Dto.SmsUserAccountOrganisationTransactionID, "TBC")
                                                            @Html.PendingUpdateFieldFor(m => m.Dto.Contact.FirstName, "FirstName", FieldUpdateParentType.Contact, Model.Dto.SmsUserAccountOrganisationTransactionID, "TBC")
                                                            @Html.PendingUpdateFieldFor(m => m.Dto.Contact.LastName, "LastName", FieldUpdateParentType.Contact, Model.Dto.SmsUserAccountOrganisationTransactionID, "TBC")
                                                        </p>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Date of Birth</p></td>
                                                    <td>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.Contact.BirthDate.Value, "BirthDate", FieldUpdateParentType.Contact, Model.Dto.SmsUserAccountOrganisationTransactionID, "TBC", FieldUpdateDataType.Date)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Registered Home Address</p></td>
                                                    <td>
                                                        <p>
                                                            @Html.PendingUpdateFieldFor(m => m.Dto.Address.Line1, "Line1", FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactionID, "TBC")
                                                            @if (!isRegisteredHomeAddressLine1Provided)
                                                            {
                                                                <span class="required">Required</span>
                                                            }
                                                        </p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.Line2, "Line2", FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactionID, "")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.Town, "Town", FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactionID, "")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.County, "County", FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactionID, "")</p>
                                                        <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.PostalCode, "PostalCode", FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactionID, "")</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-sm-6 col-lg-4">
                                            <h5>Personal Bank Account(s)</h5>
                                            <div id="personalBankAccountsTable">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Account Number</th>
                                                                <th>Sort Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (isAnySrcOfFunds)
                                                            {
                                                                foreach (var item in Model.Dto.SmsSrcFundsBankAccounts)
                                                                {
                                                                    <tr>
                                                                        <td>@item.AccountNumber</td>
                                                                        <td>@item.SortCode</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="2">Not Provided <span class="required">Required</span></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="infoBankAccountCheck" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>When you are directed by your conveyancer to transfer funds, you must use this facility to enter <strong>@companyName's</strong> bank account information to check that the account is genuine before transferring any funds. During this process you will be required to provide / confirm details of the purchase. Until then, no further action is required.</p>
                                        </div>
                                        <div id="infoAdviceMessage" style="display:none;" class="alert alert-warning fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-warning margin-right-5"></i><strong>Warning </strong>
                                            <p>The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</p>
                                            <p>Safe Buyer is a product that protects property buyers from fraud. You are receiving this message because <strong>@companyName</strong> is advising you to use Safe Buyer, which is also endorsed by some mortgage lenders, to protect you from fraud.</p>
                                            <p>Safe Buyer is currently free to use as part of a free trial. Safe Buyer enables you to check <strong>@companyName's</strong> bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with @companyName avoiding email, which isn’t safe.</p>
                                            <p><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by conveyancers and mortgage lenders.</p>
                                        </div>
                                        <div id="infoMessage" style="display:none;" class="alert alert-warning fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-warning margin-right-5"></i><strong>Warning </strong>
                                            <p>The latest City of London Police stats show that customer payment fraud is costing property buyers like you over £1m per month as a result of theft of sensitive information and identity theft.</p>
                                            <p>Safe Buyer, which is endorsed by some mortgage lenders and conveyancers, is a product that protects property buyers from fraud.</p>
                                            <p>Safe Buyer enables you to check your conveyancer’s bank account details before you send money to them and provides a secure messaging and attachment feature called Safe Send so you can communicate safely with your conveyancer avoiding email, which isn’t safe.</p>
                                            <p><a href="@Url.Action("HowToKeepConsumersSafe", new { Area = "", Controller = "Home" })">Click here</a> for more information on why Safe Buyer is recommended by mortgage lenders and conveyancers.</p>
                                        </div>
                                        <div id="declineAdvisedMessage" style="display:none;" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>You have declined the advice given to you and you acknowledge that <strong>@companyName</strong> cannot be held liable for any financial loss you may suffer from customer payment fraud. If you change your mind, click the button below.</p>
                                        </div>
                                        <div id="declineMessage" style="display:none;" class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                            <i class="fa fa-info margin-right-5"></i><strong>Information </strong>
                                            <p>You have decided to proceed at your own risk. If you change your mind, click the button below.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <a id="checkBankAccountBtn" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewCheckBankAccount", "SafeBuyer", new { area = "Buyer", txID = Model.Dto.SmsTransactionID })">
                                            @((bool)ViewBag.IsSafeBuyerPotentiallyFree ? "Check Bank Account" : "Purchase Safe Buyer")
                                            <i class="fa fa-chevron-right margin-left-5"></i>
                                        </a>
                                        <a id="declineButton" style="display:none;" data-modallink="true" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right" data-href="@Url.Action("ViewDeclineProduct", "SafeBuyer", new { area = "Buyer", txID = Model.Dto.SmsTransactionID })">
                                            No, I’ll decline the advice and proceed at my own risk
                                        </a>
                                        <form id="acceptProductForm" action="@Url.Action("AcceptProduct", "SafeBuyer", new { area = "Buyer", txID = Model.Dto.SmsTransactionID })" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" id="acceptProductBtn" style="display:none;" class="btn btn-primary margin-right-10 margin-bottom-10 pull-right">
                                                Yes, I want to use Safe Buyer for free
                                                <i class="fa fa-chevron-right margin-left-5"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="audit" data-url="@Url.Action("GetAudit", "SafeBuyer", new { Area = "Buyer", uaotxID = Model.Dto.SmsUserAccountOrganisationTransactionID })"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-server-error">
                                            <h4 class="alert alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if ((bool)ViewBag.OrganisationSafeSendEnabled)
                            {
                                <div class="tab-pane padding-10" id="safeSendPanel">
                                    @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = false, CanCreateNewConversation = true, ActivityId = Model.Dto.SmsTransactionID, ActivityType = ActivityType.SmsTransaction, Enabled = Model.Dto.SmsTransaction.InvoiceID.HasValue })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/typeahead")
    @Scripts.Render("~/Scripts/lendersearch")
    <script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/Index")"></script>
}
