@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
@{
    int i = 0;
    string aclass = "";
    string ain = "in";
}
@model IEnumerable<SmsUserAccountOrganisationTransactionDTO>
<!-- MAIN CONTENT -->
<div id="content" class="buyer-transactions">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">
                <i class="fa fa-desktop fa-fw "></i> Safe Buyer
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-10 col-sm-12">
            <div class="jarviswidget well transparent" role="widget">
                <div role="content">
                    <div class="panel-group smart-accordion-default" id="accordion">
                        @foreach (var tx in Model)
                        {
                            var personaName = ((UserAccountOrganisationTransactionType)tx.SmsUserAccountOrganisationTransactionTypeID).GetStringValue();
                            var companyName = tx.SmsTransaction.Organisation.OrganisationDetails.First().Name;
                            var tel = tx.SmsTransaction.Organisation.OrganisationStatus.First(s => s.StatusTypeValue.Name == "Verified").Notes;
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" class="@aclass">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Safe Buyer ordered by @companyName
                                            <span id="heading-@i">
                                                @if (!string.IsNullOrEmpty(tx.SmsTransaction.Address.Line1))
                                                {
                                                    <span> - Purchase of <span id="addressHeading-@i">@tx.SmsTransaction.Address.Line1 @tx.SmsTransaction.Address.PostalCode</span></span>
                                                }
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-@i" class="panel-collapse collapse @ain"
                                     data-url="@Url.Action("ViewMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = tx.SmsUserAccountOrganisationTransactionID, index = i, companyName = companyName })"
                                     data-failurl="@Url.Action("ViewNoMatch", "SafeBuyer", new { area = "Buyer", smsUserAccountOrganisationTransactionID = tx.SmsUserAccountOrganisationTransactionID, index = i })" 
                                     data-companyname="@companyName" data-phone="@tel">
                                    <div class="panel-body no-padding">
                                        <div class="tabbable custom-tabs shadow margin-top-10">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#transactionDetailsPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Transaction</span></a></li>
                                                <li><a href="#safeSendPanel" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                                            </ul>
                                            <div class="tab-content padding-top-10">
                                                <div class="tab-pane active" id="transactionDetailsPanel">
                                                <div id="detailsRow-@i" class="row margin-left-10 margin-right-10 margin-top-10" style="display:@(tx.Confirmed? "block" : "none")">
                                                    <div id="detailsRowTransactionAddress-@i" class="col-sm-6" style="display:@(!string.IsNullOrWhiteSpace(tx.SmsTransaction.Address.Line1) ? "block" : "none")">
                                                        <dl>
                                                            <dt>Transaction Address:</dt>
                                                            <dd>
                                                                <p id="txLine1-@i">@tx.SmsTransaction.Address.Line1</p>
                                                                <p id="txLine2-@i">@tx.SmsTransaction.Address.Line2</p>
                                                                <p id="txTown-@i">@tx.SmsTransaction.Address.Town</p>
                                                                <p id="txCounty-@i">@tx.SmsTransaction.Address.County</p>
                                                                <p id="txPostalCode-@i">@tx.SmsTransaction.Address.PostalCode</p>
                                                            </dd>
                                                            <dt>Mortgage Lender:</dt>
                                                            <dd><p id="mortgageLender-@i">@(tx.SmsTransaction.LenderName ?? "None")</p></dd>
                                                            <dt>Mortgage App. Number:</dt>
                                                            <dd><p id="mortgageAppNumber-@i">@(tx.SmsTransaction.MortgageApplicationNumber ?? "None")</p></dd>
                                                            <dt>Price:</dt>
                                                            <dd><p id="purchasePrice-@i" class=format-number data-val="@tx.SmsTransaction.Price"></p></dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <dl>
                                                            <dt>@personaName's Home Address:</dt>
                                                            <dd>
                                                                <p id="bLine1-@i">@(tx.Address == null ? "" : tx.Address.Line1)</p>
                                                                <p id="bLine2-@i">@(tx.Address == null ? "" : tx.Address.Line2)</p>
                                                                <p id="bTown-@i">@(tx.Address == null ? "" : tx.Address.Town)</p>
                                                                <p id="bCounty-@i">@(tx.Address == null ? "" : tx.Address.County)</p>
                                                                <p id="bPostalCode-@i">@(tx.Address == null ? "" : tx.Address.PostalCode)</p>
                                                            </dd>
                                                            <dt>Date of Birth:</dt>
                                                            <dd><p id="bDateOfBirth" class="format-date" data-val="@((tx.Contact != null && tx.Contact.BirthDate != null) ? tx.Contact.BirthDate.Value.ToString("O") : "")"></p></dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>Personal Bank Account(s):</dt>
                                                            <dd id="personalBankAccountsTable">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered table-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Account Number</th>
                                                                                <th>Sort Code</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var item in tx.SmsSrcFundsBankAccounts)
                                                                            {
                                                                                <tr>
                                                                                    <td>@item.AccountNumber</td>
                                                                                    <td>@item.SortCode</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                </div>

                                                <div class="tab-pane padding-10" id="safeSendPanel">
                                                    @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = false, CanCreateNewConversation = true, ActivityId = tx.SmsTransactionID, ActivityType = ActivityType.SmsTransaction })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                                <div class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                                    <p>When you are directed by your conveyancer to transfer funds, you must use this facility to enter your conveyancer's bank account information to check that the account is genuine before transferring any funds. During this process you will be required to provide / confirm details of the purchase. Until then, no further action is required.</p>
                                                </div>
                                                <a id="conf" data-modallink="true" class="btn btn-primary pull-right" style="padding:5px;margin:10px;" data-href="@Url.Action("ViewConfirmDetails", "SafeBuyer" , new { area = "Buyer", txID = tx.SmsTransactionID, index = i })">
                                                    Check Bank Account
                                                    <i class="fa fa-chevron-right margin-left-5"></i>
                                                </a>
                                                <br />
                                                <br />
                                                <div id="audit-@i" data-url="@Url.Action("GetAudit", "SafeBuyer", new { Area = "Buyer", uaotxID = tx.SmsUserAccountOrganisationTransactionID, orgID = tx.SmsTransaction.OrganisationID })"></div>

                                                <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-server-error-@i">
                                                    <h4 class="alert alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                                </div>
                            </div>

                            i++;
                            aclass = "collapsed";
                            ain = "";
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Buyer/SafeBuyer/Index")"></script>
}
