@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model OrganisationDTO
@{
    ViewBag.Title = "Search the Register";
}
<div id="content" data-templateurl="@Url.Action("GetTemplate", "App", new { area = "" })">
    <form data-url="@Url.Action("Index", "Search", new { area = "Account" })" id="search-form">
        @Html.ValidationBootstrap()
        @Html.AntiForgeryToken()
        <h2>Search the Register.</h2>
        <p>Enter a conveyancing firm's Scheme Number to search the Safe Move Scheme.</p>

        <fieldset>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="schemeID">Registered Scheme Number</label>
                        <input type="text" tabindex="1" maxlength="8" class="form-control" name="schemeID" id="schemeID" autocomplete="off" />
                        <i class="icon-append fa fa-asterisk"></i>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-7">@Html.Partial("_Captcha")</div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" id="formSubmit" tabindex="20">Search</button>
                    </div>
                </div>
            </div>
        </fieldset>

    </form>

    <div id="searchResult"></div>
    <p><a class="btn btn-primary" href="mailto:[please enter your conveyancers email address]?subject=Name:&body=The above named client has expressed their interest in using the Safe Move Scheme to reduce the risk of cybercrime affecting them during their property transaction. If your Firm is already a member of the Safe Move Scheme you will be able to login to order products.%0D%0A%0D%0AIf your Firm is new to the Safe Move Scheme you can register via our website – for security reasons please search ‘Safe Move Scheme’ via Google to find our website to avoid hackers from redirecting you to a bogus site.%0D%0A%0D%0AKind Regards%0D%0A%0D%0AThe Safe Move Scheme">Click here to contact your conveyancer</a></p>


</div>
@section Scripts{
    <script src="@Scripts.Url("~/Scripts/Account/Search/Index")"></script>
}
