@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@( X.Container().Layout(LayoutType.Column)
.Items(

        X.Container().Padding(5).ColumnWidth(0.6)
        .Items(
                             X.Container().Layout(LayoutType.Column).Items(
                                 X.Container().ColumnWidth(.25).Padding(2).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/board-Brad.jpg"))),
                                             X.Container().ColumnWidth(.75).Items(X.Container().Html("<h2>Brad Marsh</h2><h3>Founder & Chief Executive Officer</h3><p>After studying Accountancy at Plymouth University Brad gained his ACCA qualifications whilst working in the City. Brad worked in the City in Commodities and Investment banking for a decade or so, before moving into the software market as a business owner. In 2006, Brad sold his stake in Estates IT to create BE Consultancy with Ed Powell.</p>"))),
                                                                                X.Container().Layout(LayoutType.Column).Items(
                                 X.Container().ColumnWidth(.25).Padding(2).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/board-Ed.jpg"))),
                                         X.Container().ColumnWidth(.75).Items(X.Container().Html("<h2>Ed Powell</h2><h3>Founder & Director</h3><p>Ed has been working in the property market, as a business owner, since setting up and running an insurance intermediary company in 1999. In 2001 he established a property law panel management business. In 2006 Ed was joined by Brad Marsh and together set up BE Consultancy to provide software lead solutions to the property market.</p>"))),
                                                                                X.Container().Layout(LayoutType.Column).Items(
                                 X.Container().ColumnWidth(.25).Padding(2).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/board-Jack.jpg"))),
                                        X.Container().ColumnWidth(.75).Items(X.Container().Html("<h2>Jack Saxton</h2><h3>Director</h3><p>Jack has worked as a senior executive in the banking sector, serving Lloyds Banking Group for 25 years. In August 2009 Jack became Head of the Colleys business and prior to that was Managing Director of Halifax Intermediaries.</p>"))),
                                                                                X.Container().Layout(LayoutType.Column).Items(
                                 X.Container().ColumnWidth(.25).Padding(2).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/board-John-Ahmed.jpg"))),
                                         X.Container().ColumnWidth(.75).Items(X.Container().Html("<h2>John Ahmed</h2><h3>Director</h3><p>John has worked as a commercial executive in the financial services sector since 1990. John’s recent positions include Commercial Director at Home Of Choice from 2005-2010 before taking the role of Financial Services Director at Intrinsic in 2010.</p>"))),
                                                                                X.Container().Layout(LayoutType.Column).Items(
                                 X.Container().ColumnWidth(.25).Padding(2).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/board-Randika.jpg"))),
                                        X.Container().ColumnWidth(.75).Items(X.Container().Html("<h2>Randika Abeyadeera</h2><h3>Non-Executive Advisor</h3><p>Randika has been providing strategic input into the creation of the Safe Move Scheme and assisting in interactions with Intermediaries, Lenders, Estate Agents and Conveyancers . Randika holds a degree in Law and Economics and brings a wide range of knowledge, having worked for very large organisations in the Real Estate, Legal and Financial Services sectors for a number of years.</p>")))
        ),
             X.Container().Padding(5).ColumnWidth(0.4)
        .Items(
                                X.Container().Padding(20).Items(X.Image().ImageUrl(@Url.Content("~/Content/resources/images/sms/About-professional-img.jpg"))),
                    X.Container().Padding(20).Cls("testimonial").Padding(15)
                             .Items(
                                             X.Container().Html("<p>“It is pleasing to see an independent cross market innovative solution, like the Safe Move Scheme, coming to the market using RICS services to provide better property transactions for consumers.”</p></br>"),
                                                 X.Container().Html("<h4>Graham Ellis, Associate Director - RICS</h4>"),
                                         X.Container().LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.End }).Items(X.Image().Width(60).Height(30).ImageUrl(@Url.Content("~/Content/resources/images/sms/rics-logo.jpg")))
                              )
             )
        )
)