<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-bell margin-right-10"></i>View Notifications</h2>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="notificationsGrid" data-url="@Url.Action("LoadNotifications", "InternalNotifications", new { area = "Admin" })"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="notificationsPanel">
                <div class="col-sm-12">
                    <!-- well -->
                    <div class="well">
                        <h5>Notification Details<i class="fa fa-refresh fa-spin margin-left-5"></i></h5>
                        <div id="notificationContentWrapper" data-url="@Url.Action("GetNotification", "InternalNotifications", new { area = "Admin" })">
                            <a id="notificationDetailsButton" class="btn btn-primary btn-sm" data-url="@Url.Action("Details", "InternalNotifications", new { area = "Admin" })">
                                <i class="fa fa-arrows-alt margin-right-5"></i>Full Screen
                            </a>
                            <a id="notificationPdfButton" class="btn btn-primary btn-sm" data-url="@Url.Action("ExportToPdf", "InternalNotifications", new { area = "Admin" })">
                                <i class="fa fa-file-pdf-o margin-right-5"></i>PDF
                            </a>
                            <div id="notificationContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Admin/InternalNotifications/Index")"></script>
}
