<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">

        <h2 class="row-seperator-header inline-heading">View Credit History</h2>
        <a data-href="#" id="amendCreditButton" class="btn btn-primary btn-sm inline-heading" data-modallink="true" disabled>Amend Credit</a>

        <div class="col-sm-12 margin-top-10">
            <form id="creditSearchForm" class="search-form">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <input type="hidden" id="orgID" />
                        <input type="text" id="orgSearch" class="form-control" placeholder="Enter Firm Name" data-url="@Url.Action("SearchCompany", "Finance", new {Area = "Admin"})" />
                        <span class="typeahead-spinner"><i class="fa fa-spin fa-spinner"></i></span>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input class="form-control" name="from" id="from" type="text" placeholder="From" data-mask="99/99/9999">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input class="form-control" name="to" id="to" type="text" placeholder="To" data-mask="99/99/9999">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <select id="creditsOnly" class="form-control">
                            <option value="">All</option>
                            <option value="true">Credits</option>
                            <option value="false">Debits</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" id="submitCreditSearch" type="button">Filter</button>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="statementGrid" data-url="@Url.Action("GetStatement", "Finance", new {area = "Admin"})"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <!-- well -->
                    <div class="well">

                        <h5>Selected Transaction</h5>
                        <dl class="dl-horizontal">
                            <dt>Reference:</dt>
                            <dd>
                                <p id="ddReference"></p>
                            </dd>
                            <dt>Amount:</dt>
                            <dd>
                                <p id="ddAmount"></p>
                            </dd>
                            <dt>Date:</dt>
                            <dd>
                                <p id="ddDate"></p>
                            </dd>
                            <dt>Created By:</dt>
                            <dd>
                                <p id="ddCreatedBy"></p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/daterange")
    @Scripts.Render("~/Scripts/typeahead")
    <script async src="@Scripts.Url("~/Scripts/Admin/Finance/CreditHistory")"></script>
}
