@using Bec.TargetFramework.Entities.Enums
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">

        <h2 class="row-seperator-header inline-heading">View Bank Accounts</h2>
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="baGrid" data-url="@Url.Action("GetBankAccounts", "Finance", new { area = "Admin" })" data-jumpto="@TempData["OrganisationBankAccountID"]"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <!-- well -->
                    <div class="well">
                        
                        <a id="markPotentialButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewStatus", "Finance", new { area = "Admin" })?status=@BankAccountStatusEnum.PotentialFraud">Mark Potential Fraud</a>
                        <a id="markSafeButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewStatus", "Finance", new { area = "Admin" })?status=@BankAccountStatusEnum.Safe">Mark Safe</a>
                        <a id="markSafeKillDupesButton" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewStatus", "Finance", new { area = "Admin" })?status=@BankAccountStatusEnum.Safe&killDuplicates=true">Mark Safe and Mark all Duplicates as Potential Fraud</a>

                        <h5>Selected Bank Account</h5>
                        <dl class="dl-horizontal">
                            <dt>Account Number:</dt>
                            <dd><p id="ddAccountNumber"></p></dd>
                            <dt>Sort Code:</dt>
                            <dd><p id="ddSortCode"></p></dd>
                            <dt>Created:</dt>
                            <dd><p id="ddCreated"></p></dd>
                            <dt>Status:</dt>
                            <dd><p id="ddStatus"></p></dd>
                        </dl>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="well">
                        <h5>Account History</h5>
                        <div id="history"></div>
                        <h5 id="dupeHeading">Duplicate Accounts&nbsp;</h5>
                        <div id="duplicates"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Admin/Finance/OutstandingBankAccounts")"></script>
}
