@using Bec.TargetFramework.Entities
@{
    int i = 0;
    string aclass = "";
    string ain = "in";
}
@model IEnumerable<SmsUserAccountOrganisationTransactionDTO>
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-desktop fa-fw "></i> Safe Buyer
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="jarviswidget well transparent" role="widget">
                <div role="content">
                    <div>
                        <div class="panel-group smart-accordion-default" id="accordion">
                            @foreach (var tx in Model)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" class="@aclass">
                                                <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                                Safe Buyer ordered by @tx.SmsTransaction.Organisation.OrganisationDetails.First().DisplayName
                                                <span id="heading-@i">
                                                    @if (!string.IsNullOrEmpty(tx.SmsTransaction.Address.Line1))
                                                    {
                                                        <span> - Purchase of <span id="addressHeading">@tx.SmsTransaction.Address.Line1 @tx.SmsTransaction.Address.PostalCode</span></span>
                                                    }
                                                </span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-@i" class="panel-collapse collapse @ain">
                                        <div class="panel-body no-padding">
                                            <form class="smart-form">
                                                <fieldset>
                                                    <div class="alert alert-info fade in margin-left-10 margin-right-10 margin-top-10">
                                                        <p>When you are directed by your conveyancer to transfer funds, you must use this facility to enter your conveyancer's bank account information to check that the account is genuine before transferring any funds. During this process you will be required to provide / confirm details of the purchase.</p>
                                                        <p>Until then, no further action is required.</p>
                                                    </div>

                                                    <div class="alert alert-success fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-match-@i">
                                                        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Match</h4>
                                                        <p>The bank account with account number <strong><span class="accountNumber"></span></strong> and sort code <strong><span class="sortCode"></span></strong> genuinely belongs to <strong>@tx.SmsTransaction.Organisation.OrganisationDetails.First().DisplayName</strong>.</p>
                                                    </div>

                                                    <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-no-match-@i">
                                                        <h4 class="alert-heading"><i class="fa fa-warning"></i> No Match. Do not send funds.</h4>
                                                        <p>The bank account with account number <strong><span class="accountNumber"></span></strong> and sort code <strong><span class="sortCode"></span></strong> isn't a registered bank account on The Safe Move Scheme.</p>
                                                        <p>If you have made a mistake, please correct the details and check again.</p>
                                                        <p>Otherwise, please contact @tx.SmsTransaction.Organisation.OrganisationDetails.First().DisplayName immediately.</p>
                                                    </div>

                                                    <div class="alert alert-danger fade in margin-left-10 margin-right-10 margin-top-10" style="display: none;" id="result-server-error-@i">
                                                        <h4 class="alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                                    </div>
                                                </fieldset>

                                                <footer>
                                                    <a id="conf" data-modallink="true" class="btn btn-primary" data-href="@Url.Action("ViewConfirmDetails", "Buyer" , new { area = "SmsTransaction", txID = tx.SmsTransactionID, index = i })">
                                                        Check Bank Account
                                                    </a>
                                                </footer>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                i++;
                                aclass = "collapsed";
                                ain = "";
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Buyer/Index")"></script>
}
