@using Bec.TargetFramework.Entities
@{
    int i = 0;
    string aclass = "";
    string ain = "in";
}
@model IEnumerable<SmsUserAccountOrganisationTransactionDTO>
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-desktop fa-fw "></i> Bank Account Check
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="jarviswidget well transparent" role="widget">
                <div role="content">
                    <div>
                        <div class="panel-group smart-accordion-default" id="accordion">
                            @foreach (var tx in Model)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" class="@aclass">
                                                <i class="fa fa-lg fa-angle-down"></i> <i class="fa fa-lg fa-angle-up"></i>
                                                <strong>@tx.SmsTransaction.Organisation.OrganisationDetails.First().Name</strong> Bank Account Check - Purchase of @tx.SmsTransaction.Address.Line1 @tx.SmsTransaction.Address.PostalCode
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-@i" class="panel-collapse collapse @ain">
                                        <div class="panel-body">
                                            <form id="check-Form-@i" data-index="@i" data-url="@Url.Action("PerformCheck", "Check", new { Area = "BankAccount", orgID = tx.SmsTransaction.OrganisationID })" class="smart-form" novalidate="novalidate">
                                                <header>
                                                    Bank Account Details
                                                </header>
                                                <div class="alert alert-info margin-left-10 margin-right-10">
                                                    <p>
                                                        <i class="fa fa-fw fa-lg fa-exclamation"></i>
                                                        Please enter the Account Number and Sort Code of the bank account you have received from the above firm.
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            This system will check whether these bank account details match those validated by the Safe Move Scheme.  Please note this system will not perform a transfer of funds.
                                                        </strong>
                                                    </p>
                                                </div>
                                                <fieldset>
                                                    <div class="row">
                                                        <section class="col col-sm-12">
                                                            <label class="label">Account Number</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                                <input type="text" name="accountNumber" id="accountNumber" placeholder="Account Number" maxlength="8" />
                                                            </label>
                                                        </section>
                                                    </div>

                                                    <div class="row">
                                                        <section class="col col-sm-12">
                                                            <label class="label">Sort Code</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                                <input type="text" name="sortCode" id="sortCode" placeholder="Sort Code" maxlength="6" />
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                                <footer>
                                                    <button type="submit" class="btn btn-primary">
                                                        Check<i class="fa fa-spin fa-spinner margin-left-5" id="spinner-@i" style="display:none;"></i>
                                                    </button>
                                                </footer>
                                            </form>
                                            <div class="alert alert-success" style="display: none;" id="result-match-@i">
                                                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Match</h4>
                                            </div>
                                            <div class="alert alert-danger" style="display: none;" id="result-no-match-@i">
                                                <h4 class="alert-heading"><i class="fa fa-warning"></i> No Match</h4>
                                            </div>
                                            <div class="alert alert-danger" style="display: none;" id="result-server-error-@i">
                                                <h4 class="alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                i++;
                                aclass = "collapsed";
                                ain = "";
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var opts = {
            ignore: '.skip',
            // Rules for form validation
            rules: {
                accountNumber: {
                    required: true,
                    digits: true,
                    minlength: 8
                },
                sortCode: {
                    required: true,
                    digits: true,
                    minlength: 6
                }
            },

            submitHandler: validateSubmit
        };

        @for (int j = 0; j < i; j++)
        {
            <text>$("#check-Form-</text>@j<text>").validate(opts);</text>
        }

        function validateSubmit(form) {
            $("#submitButton").prop('disabled', true);

            var matchDiv = $('#result-match-' + $(form).data("index"));
            var noMatchDiv = $('#result-no-match-' + $(form).data("index"));
            var serverErrorDiv = $('#result-server-error-' + $(form).data("index"));
            var spinner = $('#spinner-' + $(form).data("index"));

            matchDiv.hide();
            noMatchDiv.hide();
            serverErrorDiv.hide();
            spinner.show();

            var formData = $(form).serializeArray();
            ajaxWrapper({
                url: $(form).data("url"),
                type: "POST",
                data: formData
            }).done(function (res) {
                $("#submitButton").prop('disabled', false);
                spinner.hide();
                if (res.result == true) {
                    matchDiv.show();
                }
                else {
                    noMatchDiv.show();
                }
            }).fail(function (e) {
                $("#submitButton").prop('disabled', false);
                console.log(e);
                spinner.hide();
                serverErrorDiv.show();
            });
        }

    </script>
}
