@using Bec.TargetFramework.Entities
@{
    int i = 0;
    string aclass = "";
    string ain = "in";
}
@model IEnumerable<SmsUserAccountOrganisationTransactionDTO>
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-desktop fa-fw "></i> Safe Buyer
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="jarviswidget well transparent" role="widget">
                <div role="content">
                    <div>
                        <div class="panel-group smart-accordion-default" id="accordion">
                            @foreach (var tx in Model)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" class="@aclass">
                                                <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                                <strong>@tx.SmsTransaction.Organisation.OrganisationDetails.First().Name</strong> Safe Buyer
                                                <span id="heading-@i">
                                                    @if (!string.IsNullOrEmpty(tx.SmsTransaction.Address.Line1))
                                                    {
                                                        <span> - Purchase of @tx.SmsTransaction.Address.Line1 @tx.SmsTransaction.Address.PostalCode</span>
                                                    }
                                                </span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-@i" class="panel-collapse collapse @ain">
                                        <div class="panel-body no-padding">
                                            <form class="smart-form">
                                                <fieldset>
                                                    <div>
                                                        <div class="row">
                                                            <section class="col col-sm-6">
                                                                <h6>Transaction Address</h6>
                                                                <p id="txAddressLine1">@tx.SmsTransaction.Address.Line1</p>
                                                                <p id="txAddressLine2">@tx.SmsTransaction.Address.Line2</p>
                                                                <p id="txAddressTown">@tx.SmsTransaction.Address.Town</p>
                                                                <p id="txAddressCounty">@tx.SmsTransaction.Address.County</p>
                                                                <p id="txAddressPostalCode">@tx.SmsTransaction.Address.PostalCode</p>
                                                            </section>
                                                            <section class="col col-sm-6">
                                                                <h6>Registered Home Address</h6>
                                                                <p id="homeAddressLine1">@(tx.Address == null ? "Not yet specified" : tx.Address.Line1)</p>
                                                                <p id="homeAddressLine2">@(tx.Address == null ? "" : tx.Address.Line2)</p>
                                                                <p id="homeAddressTown">@(tx.Address == null ? "" : tx.Address.Town)</p>
                                                                <p id="homeAddressCounty">@(tx.Address == null ? "" : tx.Address.County)</p>
                                                                <p id="homeAddressPostalCode">@(tx.Address == null ? "" : tx.Address.PostalCode)</p>                                                                
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-sm-6">
                                                                <h6>Mortgage Details</h6>
                                                                <p id="mortgageLender">Lender: @(tx.SmsTransaction.LenderName ?? "None")</p>
                                                                <p id="mortgageAppNumber">Application Number: @(tx.SmsTransaction.MortgageApplicationNumber ?? "None")</p>
                                                            </section>
                                                            <section class="col col-sm-6">
                                                                <h6>Purchase Price</h6>
                                                                <p id="purchasePrice">@(tx.SmsTransaction.Price == null ? "Not yet specified" : tx.SmsTransaction.Price.ToString())</p>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                                <footer>
                                                    <a id="conf" data-modallink="true" class="btn btn-primary" data-href="@Url.Action("ViewConfirmDetails", "Buyer" , new { area = "SmsTransaction", txID = tx.SmsTransactionID, index = i })">
                                                        Confirm Details and Check Bank Account
                                                    </a>
                                                </footer>
                                            </form>
                                            <div class="alert alert-success" style="display: none;" id="result-match-@i">
                                                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Match</h4>
                                                <p>The bank account with account number <strong><span class="accountNumber"></span></strong> and sort code <strong><span class="sortCode"></span></strong> genuinely belongs to <strong>@tx.SmsTransaction.Organisation.OrganisationDetails.First().Name</strong>.</p>
                                            </div>
                                            <div class="alert alert-danger" style="display: none;" id="result-no-match-@i">
                                                <h4 class="alert-heading"><i class="fa fa-warning"></i> No Match. Do not send funds.</h4>
                                                <p>The bank account with account number <strong><span class="accountNumber"></span></strong> and sort code <strong><span class="sortCode"></span></strong> does not belong to <strong>@tx.SmsTransaction.Organisation.OrganisationDetails.First().Name</strong>.</p>
                                                <p>If you have made a mistake, please correct the details and check again.</p>
                                                <p>Otherwise, please contact @tx.SmsTransaction.Organisation.OrganisationDetails.First().Name immediately.</p>
                                            </div>
                                            <div class="alert alert-danger" style="display: none;" id="result-server-error-@i">
                                                <h4 class="alert-heading"><i class="fa fa-warning"></i> Server Error occurred. Please try again later.</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                i++;
                                aclass = "collapsed";
                                ain = "";
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Buyer/Index")"></script>
}
