@model IEnumerable<Bec.DynamicForm.Entities.DTO.FormSectionDTO>
@{
    ViewBag.Title = "Form Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageScripts {
    <script type="text/javascript" language="javascript">
        head.js("@Url.Content("~/Scripts/jquery/jquery.json-2.2.min.js")");     
        function ToggleForm(sectionId, status) {       
        $.ajax(
               {
                  type: 'POST',
                  url: "@Url.Action("Section_ChangeStatus", "ConfigureDynamicForm")",
                   data: $.toJSON
                   ({
                      sectionId: sectionId,
                      status: status
                  }),
                  success: function (data) {
                },
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
               });

        window.event.returnValue = false;
        document.location = '@Url.Action("index", "section", new { area="dynamicform" })';
    }
</script>
}
<div id="fullcol">
    <div class="portlet rnd">
        <div class="portlet-header"><h2>Add/Edit Forms</h2></div>
        <div class="portlet-content">
            <div class="row"><label class="label">Form</label>@ViewBag.FormName</div>
            <div class="row">                                
                <a href="@Url.Action("add", "section", new {area="dynamicform", formid = @ViewBag.FormId })" class="btn">Add Section</a>|<a href="@Url.Action("index", "form", new {area="dynamicform" })" class="btn">Back</a>              
                </div>
                <table class="table" style="width:100%">
                    <tr>
                        <th>
                           Name
                        </th>
                        <th>
                           Description
                        </th>                        
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>                            
                            <td>
                                @Html.DisplayFor(modelItem => item.SectionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SectionDescription)
                            </td>                           
                            <td> 
                                @Html.ActionLink("Config Section", "configureSection", new { area = "dynamicform", sectionid = item.FormSectionId }, new { @class = "btn" })
                             |
                            @Html.ActionLink("Edit", "Edit", new { area = "dynamicform", id = item.FormSectionId }, new { @class = "btn" })</td>
                        </tr>
                    }
                </table>
            </div></div></div>
