    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
@if (Request.IsAuthenticated)
{
    <aside id="left-panel">

        <!-- User info -->
        @*@{ Html.RenderPartial("_CurrentUser"); }*@
        <!-- end user info -->
        <!-- NAVIGATION : This navigation is also responsive

            To make this navigation dynamic please make sure to link the node
            (the reference to the nav > ul) after page load. Or the navigation
            will not initialize.
            -->
        <nav>
            <!-- NOTE: Notice the gaps after each icon usage <i></i>..
                Please note that these links work a bit different than
                traditional href="" links. See documentation for details.
                -->

            <ul>
                <li class="@Html.RouteIf("index", "active")">
                    <a href="@Url.Action("index", "home")" title="Personal Home Page"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Personal Home Page</span></a>
                </li>
                <li class="@Html.RouteIf("inbox", "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Company</span></a>
                    <ul>
                        <li class="@Html.RouteIf("general", "active")">
                            <a href="@Url.Action("Index", "TempCompany",new {area="Admin"})">Temporary</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <!-- END NAVIGATION -->
}