@using Bec.TargetFramework.Presentation.Web.Controllers
@using Bec.TargetFramework.Presentation.Web.Models

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModalLabel">@ViewBag.title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="smart-form">
                            <label class="label">@ViewBag.message</label>
                        </form>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewBag.Buttons == null)
                {
                    <button type="button" id="messageButton" class="btn btn-primary" data-dismiss="modal">
                        @ViewBag.button
                    </button>
                }
                else
                {
                    foreach (ButtonDefinition button in ViewBag.Buttons)
                    {
                        <button type="button" id="@button.Id" class="btn @button.Classes" data-dismiss="modal">
                            @button.Text
                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>