@model Bec.TargetFramework.Presentation.Web.Models.PostcodeLookupModel
<div id="@(Model.Prefix)PostcodeLookupComponent" data-prefix="@Model.Prefix"></div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <label>Lookup Postcode</label>
        <div class="input-group">
            <input id="@(Model.Prefix)PostcodeLookup" class="form-control postcode-lookup" type="text" tabindex="15" maxlength="10" />
            <div class="input-group-btn">
                <button id="@(Model.Prefix)FindAddressButton" data-url="@Url.Action("FindAddress", "PostcodeLookup", new { Area = "" })" data-requestverificationtoken="@Html.AntiForgeryTokenValue()" type="button" class="btn btn-primary btn-sm" tabindex="16">
                    <i class="fa fa-search margin-right-5"></i>Search
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label class="select margin-top-5">
            <select id="@(Model.Prefix)AddressResults" tabindex="17" class="form-control"></select>
            <i></i>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="@(Model.Prefix)NoMatch">
        <em style="color: #d56161">No matches found, please enter address below</em>
    </div>
</div>

<div class="row" id="@(Model.Prefix)ManAddRow">
    <div class="col-sm-12">
        <input type="checkbox" id="@(Model.Prefix)ManualAddress" />
        <label for="@(Model.Prefix)ManualAddress" tabindex="18">Edit Address Details</label>
    </div>
</div>
<script async src="@Scripts.Url("~/Scripts/Shared/_PostcodeLookup")"></script>
