@using Bec.TargetFramework.Entities
@model Bec.TargetFramework.Presentation.Web.Models.CreatePermanentLoginModel
@{
    ViewBag.Title = "Welcome to Safe Move Scheme";
}

<div id="content" class="row" data-url="@Url.Action("SessionExpired", "Login", new { Area = "Account" })">
    <div class="col-lg-8 col-lg-offset-2">
        <form action="@Url.Action("Index", "Register", new { area = "Account"})" method="POST" id="login-form" class="client-form well no-padding" data-checkuser="@Url.Action("UsernameAvailable", "Register", new { Area = "Account" })">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Email)
            <header>
                <h1>Create Account</h1>
            </header>
            @if (ViewBag.PinExpired == null || !ViewBag.PinExpired)
            {
                <section class="fields">
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Welcome</strong>
                            </div>
                        </div>
                        @if (ViewBag.PINRequired)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="@Html.IdFor(m => m.Pin)">Please enter your PIN as provided by Safe Move Scheme</label>
                                        @Html.TextBoxFor(m => m.Pin, new { maxlength = 20, autocomplete = "off", @class = "form-control" })
                                        <i class="icon-append fa fa-asterisk"></i>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Choose a New Password</strong>
                                <label>Your password must contain at least one upper case letter, at least one number and at least one special character (e.g. £, #, %). It must be at least 10 characters long.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="@Html.IdFor(m => m.NewPassword)">Password</label>
                                    @Html.PasswordFor(m => m.NewPassword, new { maxlength = 25, autocomplete = "off", @class = "form-control" })
                                    <i class="icon-append fa fa-lock"></i>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="@Html.IdFor(m => m.ConfirmNewPassword)">Confirm password</label>
                                @Html.PasswordFor(m => m.ConfirmNewPassword, new { maxlength = 25, autocomplete = "off", @class = "form-control" })
                                <i class="icon-append fa fa-lock"></i>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Partial("_Captcha")
                            </div>
                        </div>
                    </fieldset>
                </section>

                <footer>
                    <div class="row">
                        <div class="col-sm-offset-8 col-sm-4">
                            <button type="submit" id="formSubmit" class="btn btn-primary btn-block">
                                Create Account
                            </button>
                        </div>
                    </div>
                </footer>
            }
        </form>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/Register/Index")"></script>
}
