@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@model AddSmsTransactionDTO

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addTransactionLabel" aria-hidden="true">
    <div class="modal-dialog" id="d1" data-redirectto="@Url.Action("Index", "Transaction", new { area = "SmsTransaction" })" data-message="@Url.Action("ViewMessage", "Message", new { Area = "" })">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addTransactionLabel">Add Transaction and Advise Safe Buyer Product</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="addTransaction-form" class="smart-form margin-top-10" autocomplete="off" 
                          data-url="@Url.Action("AddSmsTransaction", "Transaction", new { area = "SmsTransaction" })" 
                          data-check="@Url.Action("CheckDuplicateUserSmsTransaction", "Transaction", new { Area = "SmsTransaction" })">
                        @Html.ValidationBootstrap()
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.BuyerUaoID)
                        @Html.PreventAutofill()

                        <section class="col-xs-12">
                            <div id="addTransactionWizard">
                                <div class="form-bootstrapWizard margin-left-10 margin-right-10">
                                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                        <li class="active" data-target="#step1">
                                            <a href="#step1" data-toggle="tab">
                                                <h4 class="list-group-item-heading">Step 1</h4>
                                                <p class="list-group-item-text">Primary Buyer Details</p>
                                            </a>
                                        </li>
                                        <li data-target="#step2">
                                            <a href="#step2" data-toggle="tab">
                                                <h4 class="list-group-item-heading">Step 2</h4>
                                                <p class="list-group-item-text">Transaction Address</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="step1">

                                        <fieldset>
                                            <legend>Primary Buyer Details</legend>
                                            <div class="row">
                                                <section class="col col-sm-4">
                                                    <label class="label">Title</label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(m => m.Salutation, Html.EnumListString<SalutationEnum>(), "Please Select", new { tabindex = "1" })
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-4">
                                                    <label class="label">First Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.FirstName, new { tabindex = "2", maxlength = 50, autocomplete = "off" })
                                                    </label>
                                                </section>
                                                <section class="col col-sm-4">
                                                    <label class="label">Last Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.LastName, new { tabindex = "3", maxlength = 50, autocomplete = "off" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-sm-8">
                                                    <label class="label">Email</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.Email, new { tabindex = "4", maxlength = 100, type = "email", autocomplete = "off", data_url = Url.Action("CheckEmailPersonal", "App", new { Area = "" }) })
                                                    </label>
                                                </section>
                                                <section class="col col-sm-4">
                                                    <label class="label">Date of Birth</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.BirthDate, "{0:O}", new { tabindex = "5", id = "birthDateInput", @readonly = true })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-sm-8">
                                                    <label class="label">Personal Mobile Phone Number</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-asterisk" style="font-size: 0.7em;"></i>
                                                        @Html.TextBoxFor(m => m.PhoneNumber, new { tabindex = "6", maxlength = 11, autocomplete = "off", @class = "form-control" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-sm-8">
                                                    <label class="checkbox">
                                                        @Html.CheckBoxFor(m => m.SmsTransactionDTO.IsProductAdvised, new { tabindex = "7", @checked = true })
                                                        <i></i>
                                                        <label for="@Html.IdFor(m => m.SmsTransactionDTO.IsProductAdvised)">Advise Buyer To Use Save Buyer Product</label>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="tab-pane" id="step2">
                                        <fieldset>
                                            <legend>Transaction Address</legend>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">Lookup Postcode</label>
                                                    <label class="input">
                                                        <input id="sms_postcodelookup" type="text" tabindex="15" maxlength="10" />
                                                    </label>
                                                </section>

                                                <section class="col">
                                                    <label class="label">&nbsp;</label>
                                                    <button id="sms_findaddressbutton" data-url="@Url.Action("FindAddress", "App", new {Area = ""})" type="button" class="btn btn-primary btn-sm" tabindex="16">Find Address</button>
                                                </section>
                                            </div>

                                            <section>
                                                <label class="select">
                                                    <select id="sms_addressresults" tabindex="17"></select>
                                                    <i></i>
                                                </label>
                                            </section>


                                            <div class="row">
                                                <section class="col" id="sms_noMatch">
                                                    <em style="color: #d56161">No matches found, please enter address below</em>
                                                </section>
                                            </div>

                                            <div class="row" id="sms_manAddRow">
                                                <section class="col">
                                                    <input type="checkbox" id="sms_manualAddress" />
                                                    <label for="sms_manualAddress" tabindex="18">Edit Address Details</label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.SmsTransactionDTO.Address.Line1, new { id = "sms_Line1", @readonly = "readonly", placeholder = "Address Line 1", tabindex = "19", maxlength = 50 })
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.SmsTransactionDTO.Address.County, new { id = "sms_County", @readonly = "readonly", placeholder = "County", tabindex = "22", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.SmsTransactionDTO.Address.Line2, new { id = "sms_Line2", @readonly = "readonly", placeholder = "Address Line 2", tabindex = "20", maxlength = 50 })
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.SmsTransactionDTO.Address.PostalCode, new { id = "sms_PostalCode", @readonly = "readonly", placeholder = "Postcode", tabindex = "23", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.SmsTransactionDTO.Address.Town, new { id = "sms_Town", @readonly = "readonly", placeholder = "Town", tabindex = "21", maxlength = 50 })
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Other Details</legend>
                                            <div class="row">
                                                <section class="col col-sm-12">
                                                    <label class="label">Your Reference</label>
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.SmsTransactionDTO.Reference, new { tabindex = "26", maxlength = 500, autocomplete = "off" })
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
            <div class="modal-footer" id="addTransactionControls">
                <button type="button" id="cancelAddTransaction" class="btn btn-default" data-dismiss="modal" tabindex="30">
                    Cancel
                </button>
                <button type="button" id="stepBack" class="btn btn-primary" style="display:none;" tabindex="29">
                    <i class="fa fa-chevron-left margin-right-5"></i>Back
                </button>
                <button type="button" id="stepNext" class="btn btn-primary" tabindex="28">
                    Next<i class="fa fa-chevron-right margin-left-5"></i>
                </button>
                <button type="button" id="submitAddTransaction" class="btn btn-primary" style="display:none;" tabindex="28">
                    Add Transaction
                </button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/typeahead")
<script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/_AddSmsTransaction")"></script>
