@using Bec.TargetFramework.Entities

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="adviseProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="adviseProductLabel">Advise Safe Buyer Product</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form action="@Url.Action("AdviseProduct", "Transaction", new { area = "SmsTransaction" })" method="POST" id="adviseProduct-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <input type="hidden" name="txID" value="@ViewBag.txID" />
                                @Html.Hidden("pageNumber", (object)ViewBag.pageNumber)

                                <div class="row">
                                    <section class="col">
                                        <label class="label">Are you sure you wish to advise the Safe Buyer product for the selected transaction?</label>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button typw="button" id="cancelAdviseProduct" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitAdviseProduct" class="btn btn-primary">
                    Advise Product
                </button>
            </div>
        </div>
    </div>
</div>
<script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/_AdviseProduct")"></script>
