@using Bec.TargetFramework.Entities

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="pushProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pushProductLabel">Push Safe Buyer Product</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form action="@Url.Action("PushProduct", "Transaction", new { area = "SmsTransaction" })" method="POST" id="pushProduct-form" class="smart-form">
                            @Html.ValidationBootstrap()
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <input type="hidden" name="transactionId" value="@ViewBag.transactionId" />
                                <input type="hidden" name="primaryBuyerUaoId" value="@ViewBag.primaryBuyerUaoId" />
                                @Html.Hidden("pageNumber", (object)ViewBag.pageNumber)

                                <div class="row">
                                    <section class="col">
                                        <label class="label">Are you sure you wish to push the Safe Buyer product for the selected transaction?</label>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button typw="button" id="cancelPushProduct" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="submitPushProduct" class="btn btn-primary">
                    Push Product
                </button>
            </div>
        </div>
    </div>
</div>
<script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/_PushProduct")"></script>
