@using Bec.TargetFramework.Entities
@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Infrastructure.Extensions
@using Bec.TargetFramework.Presentation.Web.Models
@model PendingUpdateModel<SmsTransactionDTO>
@helper GetPendingUpdateIndicatorIfNeeded(IEnumerable<string> fieldNames, FieldUpdateParentType parentType, IEnumerable<Guid> parentIDs)
{
    if (Model.FieldUpdates.Any(x => fieldNames.Contains(x.FieldName) && x.ParentType == parentType.GetIntValue() && parentIDs.Contains(x.ParentID)))
    {
        <span class="fa fa-circle pending-update" title="Pending Changes"></span>
    }
}
<h5>Transaction Details</h5>
<table class="table transaction-details-table">
    <tr>
        <th>
            Transaction Address
            @GetPendingUpdateIndicatorIfNeeded(new[] { "Line1", "Line2", "Town", "County", "PostalCode" }, FieldUpdateParentType.SmsTransactionAddress, new[] { Model.Dto.SmsTransactionID })
        </th>
        <th>
            Mortgage Details
            @GetPendingUpdateIndicatorIfNeeded(new[] { "LenderName", "MortgageApplicationNumber" }, FieldUpdateParentType.SmsTransaction, new[] { Model.Dto.SmsTransactionID })
        </th>
        <th>
            Purchase Price
            @GetPendingUpdateIndicatorIfNeeded(new[] { "Price" }, FieldUpdateParentType.SmsTransaction, new[] { Model.Dto.SmsTransactionID })
        </th>
        <th>Product: Safe Buyer</th>
        <th><!--Actions--></th>
    </tr>
    <tr>
        <td>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.Line1, "Line1", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, "TBC")</p>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.Line2, "Line2", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, string.Empty)</p>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.Town, "Town", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, string.Empty)</p>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.County, "County", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, string.Empty)</p>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.Address.PostalCode, "PostalCode", FieldUpdateParentType.SmsTransactionAddress, Model.Dto.SmsTransactionID, string.Empty)</p>
        </td>
        <td>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.LenderName, "LenderName", FieldUpdateParentType.SmsTransaction, Model.Dto.SmsTransactionID, "Buying Without Mortgage")</p>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.MortgageApplicationNumber, "MortgageApplicationNumber", FieldUpdateParentType.SmsTransaction, Model.Dto.SmsTransactionID, string.Empty)</p>
        </td>
        <td>
            <p>@Html.PendingUpdateFieldFor(m => m.Dto.Price, "Price", FieldUpdateParentType.SmsTransaction, Model.Dto.SmsTransactionID, "TBC", FieldUpdateDataType.Money)</p>
        </td>
        <td>
            <p>Product Offered: <span class="format-date" data-val="@Model.Dto.CreatedOn.ToString("O")"></span></p>
            <p>
                Product Advised:
                @if (Model.Dto.IsProductAdvised && Model.Dto.ProductAdvisedOn.HasValue)
                {
                    <span class="format-date" data-val="@Model.Dto.ProductAdvisedOn.Value.ToString("O")"></span>
                }
                else
                {
                    <span>No</span>
                }
            </p>
            @if (!Model.Dto.IsProductAdvised && !Model.Dto.InvoiceID.HasValue)
            {
                <a class="btn btn-sm btn-primary" data-modallink="true" title="Advise Buyer To Use Safe Buyer Product"
                   data-href="@Url.Action("ViewAdviseProduct", "Transaction", new { area = "SmsTransaction" })?txID=@(Model.Dto.SmsTransactionID)&pageNumber=@(ViewBag.pageNumber)">
                    <i class="fa fa-bullhorn margin-right-5"></i>Advise Buyer To Use Safe Buyer Product
                </a>
            }
        </td>
        <td>
            <a class="btn btn-sm btn-primary" data-modallink="true" title="Edit Transaction Details" data-href="@Url.Action("ViewEditSmsTransaction", "Transaction", new { area = "SmsTransaction", txID = Model.Dto.SmsTransactionID, pageNumber = ViewBag.pageNumber })"><i class="fa fa-pencil margin-right-5"></i>Edit/Review Changes</a>
        </td>
    </tr>
</table>

<h5 class="inline-heading">Buyer Parties</h5>
<div class="btn-group margin-left-10">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-plus margin-right-5"></i>Add
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-modallink="true" title="Add Additional Buyer"
               data-href="@Url.Action("ViewAddBuyerParty", "BuyerParty", new { area = "SmsTransaction", uaotType = UserAccountOrganisationTransactionType.AdditionalBuyer, txID = Model.Dto.SmsTransactionID, pageNumber = ViewBag.pageNumber })">Additional Buyer</a>
        </li>
        <li>
            <a href="#" data-modallink="true" title="Add Giftor"
               data-href="@Url.Action("ViewAddBuyerParty", "BuyerParty", new { area = "SmsTransaction", uaotType = UserAccountOrganisationTransactionType.Giftor, txID = Model.Dto.SmsTransactionID, pageNumber = ViewBag.pageNumber })">Giftor</a>
        </li>
    </ul>
</div>

<table class="table transaction-details-table">
    <tr>
        <th>Type</th>
        <th>
            Full Name
            @GetPendingUpdateIndicatorIfNeeded(new[] { "Salutation", "FirstName", "LastName" }, FieldUpdateParentType.Contact, Model.Dto.SmsUserAccountOrganisationTransactions.Select(x => x.SmsUserAccountOrganisationTransactionID))
        </th>
        <th>
            Registered Home Address
            @GetPendingUpdateIndicatorIfNeeded(new[] { "Line1", "Line2", "Town", "County", "PostalCode" }, FieldUpdateParentType.RegisteredHomeAddress, Model.Dto.SmsUserAccountOrganisationTransactions.Select(x => x.SmsUserAccountOrganisationTransactionID))
        </th>
        <th>Email</th>
        <th>
            Date of Birth
            @GetPendingUpdateIndicatorIfNeeded(new[] { "BirthDate" }, FieldUpdateParentType.Contact, Model.Dto.SmsUserAccountOrganisationTransactions.Select(x => x.SmsUserAccountOrganisationTransactionID))
        </th>
        <th>Safe Buyer</th>
        <th>Source of Funds</th>
        <th><!--Actions--></th>
    </tr>
    @foreach (var relatedParty in Model.Dto.SmsUserAccountOrganisationTransactions.OrderBy(x => x.SmsUserAccountOrganisationTransactionTypeID))
    {
        <tr>
            <td>@relatedParty.SmsUserAccountOrganisationTransactionType.Description</td>
            <td>
                @Html.PendingUpdateFieldFor(m => relatedParty.Contact.Salutation, "Salutation", FieldUpdateParentType.Contact, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)
                @Html.PendingUpdateFieldFor(m => relatedParty.Contact.FirstName, "FirstName", FieldUpdateParentType.Contact, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)
                @Html.PendingUpdateFieldFor(m => relatedParty.Contact.LastName, "LastName", FieldUpdateParentType.Contact, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)
            </td>
            <td>
                <p>@Html.PendingUpdateFieldFor(m => relatedParty.Address.Line1, "Line1", FieldUpdateParentType.RegisteredHomeAddress, relatedParty.SmsUserAccountOrganisationTransactionID, "TBC")</p>
                <p>@Html.PendingUpdateFieldFor(m => relatedParty.Address.Line2, "Line2", FieldUpdateParentType.RegisteredHomeAddress, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)</p>
                <p>@Html.PendingUpdateFieldFor(m => relatedParty.Address.Town, "Town", FieldUpdateParentType.RegisteredHomeAddress, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)</p>
                <p>@Html.PendingUpdateFieldFor(m => relatedParty.Address.County, "County", FieldUpdateParentType.RegisteredHomeAddress, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)</p>
                <p>@Html.PendingUpdateFieldFor(m => relatedParty.Address.PostalCode, "PostalCode", FieldUpdateParentType.RegisteredHomeAddress, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty)</p>
            </td>
            <td>@relatedParty.UserAccountOrganisation.UserAccount.Email</td>
            <td>
                <p>@Html.PendingUpdateFieldFor(m => relatedParty.Contact.BirthDate, "BirthDate", FieldUpdateParentType.Contact, relatedParty.SmsUserAccountOrganisationTransactionID, string.Empty, FieldUpdateDataType.Date)</p>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>
                        @if (relatedParty.ProductAcceptedOn.HasValue)
                        {
                            <span><i class="fa fa-check margin-right-5"></i>Accepted</span>
                        }
                        else if (relatedParty.ProductDeclinedOn.HasValue)
                        {
                            <span><i class="fa fa-exclamation-triangle margin-right-5"></i>Declined</span>
                        }
                        else
                        {
                            <label class="label label-outstanding-decisions" title="Buyer Party Decision">No Decision</label>
                        }
                    </li>

                    @if (relatedParty.LatestBankAccountCheck != null)
                    {
                        <li>
                            @if (relatedParty.LatestBankAccountCheck.IsMatch)
                            {
                                <label class="label label-primary" title="Bank Account Check Result: Match">Match</label>
                            }
                            else
                            {
                                <label class="label label-danger margin-top-5" title="Bank Account Check Result: No Match">No Match</label>
                            }
                        </li>
                    }
                </ul>
            </td>
            <td>
                @if (relatedParty.SmsSrcFundsBankAccounts.Any())
                {
                    foreach (var srcOfFunds in relatedParty.SmsSrcFundsBankAccounts)
                    {
                        <p>@srcOfFunds.AccountNumber, @srcOfFunds.SortCode</p>
                    }
                }
                else
                {
                    <p>Not Provided</p>
                }
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>
                        <a id="editButton" class="btn btn-sm btn-primary" data-modallink="true" title="Edit Buyer Party" data-href="@Url.Action("ViewEditBuyerParty", "BuyerParty", new { area = "SmsTransaction", uaotID = relatedParty.SmsUserAccountOrganisationTransactionID, pageNumber = ViewBag.pageNumber })"><i class="fa fa-pencil margin-right-5"></i>Edit/Review Changes</a>
                    </li>
                    @if (relatedParty.UserAccountOrganisation.UserAccount.IsTemporaryAccount)
                    {
                        <li>
                            <a class="btn btn-sm btn-default" data-modallink="true" title="Regenerate PIN"
                               data-href="@Url.Action("ViewGeneratePIN", "Transaction", new { area = "SmsTransaction" })?txID=@(Model.Dto.SmsTransactionID)&uaoID=@(relatedParty.UserAccountOrganisationID)&email=@(relatedParty.UserAccountOrganisation.UserAccount.Email)&pageNumber=@(ViewBag.pageNumber)">
                                <i class="fa fa-repeat margin-right-5"></i>Regenerate PIN
                            </a>
                        </li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>