@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
<!-- MAIN CONTENT -->
<div id="content" data-templateurl="@Url.Action("GetTemplate", "App", new { area = "" })" data-welcome="@TempData["WelcomeMessage"]" data-welcomeurl="@Url.Action("Welcome", "Transaction", new { Area = "SmsTransaction" })">
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-home margin-right-10"></i>View Transactions</h2>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div class="input-group margin-top-15 margin-bottom-5">
                <input type="text" class="form-control" id="gridSearchInput">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="gridSearchButton"><i class="fa fa-search margin-right-5"></i>Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 well">
                    <div id="txGrid" data-url="@Url.Action("GetSmsTransactions", "Transaction", new { area = "SmsTransaction" })" data-jumpto="@TempData["SmsTransactionID"]" data-jumptopage="@TempData["pageNumber"]" data-jumptorow="@TempData["rowNumber"]" data-resetsort="@TempData["resetSort"]"></div>
                </div>
            </div>

            <div class="row hidden" id="nPanel">
                <div class="col-sm-12 tabbable custom-tabs shadow">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#transactionPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Support Message</span></a></li>
                        <li><a href="#safeSendPanel" id="safeSendTab" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="transactionPanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- well -->
                                    <div class="well">
                                        <a id="closeButtonSupportItem" class="btn btn-primary btn-sm" data-modallink="true" data-url="@Url.Action("ViewCloseSupportItem", "SupportItem", new { area = "Admin" })"><i class="fa  margin-right-5"></i>Close</a>
                                        <h5>Selected Support Message</h5>
                                        <dl class="dl-horizontal">
                                            <dt>Ticket Number:</dt>
                                            <dd><p id="ddnTicketNumber"></p></dd>
                                            <dt>User Name:</dt>
                                            <dd><p id="ddnUserName"></p></dd>
                                            <dt>Email:</dt>
                                            <dd><p id="ddnEmail"></p></dd>
                                            <dt>Telephone:</dt>
                                            <dd><p id="ddnTelephone"></p></dd>
                                            <dt>Title:</dt>
                                            <dd><p id="ddnTitle"></p></dd>
                                            <dt>Created On:</dt>
                                            <dd><p id="ddnCreatedOn"></p></dd>
                                            <dt>Type:</dt>
                                            <dd><p id="ddnType"></p></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- well -->
                                    <div class="well">
                                        <h5>Content:</h5>
                                        <div id="ddnDescription" style="margin-left:16px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="safeSendPanel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="well">
                                        <div id="transactionConversationContainer" data-activity-id="">
                                            @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = true, CanCreateNewConversation = true, ActivityType = ActivityType.SmsTransaction })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {    
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/Index")"></script>
}
