@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
<!-- MAIN CONTENT -->
<div id="content" data-templateurl="@Url.Action("GetTemplate", "App", new { area = "" })">
    <div class="row margin-bottom-10">
        <div class="col-sm-8 col-lg-9">
            <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-home margin-right-10"></i>Transactions</h2>
            @if (ViewBag.HasOrganisationAnySafeBankAccounts)
            {
                <a data-href="@Url.Action("ViewAddSmsTransaction", "Transaction", new { area  = "SmsTransaction" })" data-modallink="true" class="btn btn-primary btn-sm inline-heading">
                    <i class="fa fa-plus margin-right-5"></i>Add Transaction
                </a>
            }
        </div>

        <div class="col-sm-4 col-lg-3 smart-form">
            <div class="input-group margin-top-15 margin-bottom-5">
                <label class="input">
                    <i class="icon-append fa fa-times clear-search-icon" id="clearGridSearch"></i>
                    <input type="text" class="form-control" id="gridSearchInput">
                </label>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-header-search" type="button" id="gridSearchButton"><i class="fa fa-search margin-right-5"></i>Search</button>
                </span>
            </div>
            <div class="form-inline form-group">
                <label>No Matches: </label>
                @Html.DropDownList("noMatchFilter", Html.EnumListString<SmsTransactionNoMatchEnum>(), new { id = "noMatchFilter", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 well">
                    @if (!ViewBag.HasOrganisationAnySafeBankAccounts)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info fade in">
                                    <h5><i class="fa fa-info"></i><strong>Information</strong></h5>
                                    <p>
                                        Please note that you are unable to add transactions at this time as @ViewBag.OrganisationName does not have a verified bank account added to their Safe Move Scheme account.
                                    </p>
                                    <p>
                                        Please contact your organisation administrator who can add a bank account.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="txGrid" data-url="@Url.Action("GetSmsTransactions", "Transaction", new { area = "SmsTransaction" })" data-jumpto="@TempData["SmsTransactionID"]" data-jumptopage="@TempData["pageNumber"]" data-jumptorow="@TempData["rowNumber"]" data-resetsort="@TempData["resetSort"]"></div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-12 tabbable custom-tabs shadow">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#transactionPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Transaction</span></a></li>
                        <li><a href="#safeSendPanel" id="safeSendTab" data-toggle="tab"><i class="sms sms-safe-send margin-right-10"></i><span>Safe Send</span></a></li>
                        <li><a href="#bankAccountChecksPanel" id="bankAccountChecksTab" data-toggle="tab"><i class="fa fa-bank margin-right-10"></i><span>Safe Buyer Results</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="transactionPanel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="well transaction-details">
                                        <div id="spinnerTransactionDetails" class="transaction-details-spinner"><i class="fa fa-lg fa-pulse fa-spinner"></i></div>
                                        <div id="transactionDetails" data-url="@Url.Action("TransactionDetails", "Transaction", new { area = "SmsTransaction" })"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="safeSendPanel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="well">
                                        <div id="transactionConversationContainer" data-activity-id="">
                                            @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = true, CanCreateNewConversation = true, ActivityType = ActivityType.SmsTransaction })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="bankAccountChecksPanel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="well">
                                        <div id="bankAccountChecksDetails"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/Index")"></script>
}
