@using Bec.TargetFramework.Entities.Enums
@using Bec.TargetFramework.Presentation.Web.Areas.Admin.Models
<!-- MAIN CONTENT -->
<div id="content" data-templateurl="@Url.Action("GetTemplate", "App", new { area = "" })" data-welcome="@TempData["WelcomeMessage"]" data-welcomeurl="@Url.Action("Welcome", "Transaction", new { Area = "SmsTransaction" })">
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-home margin-right-10"></i>View Transactions</h2>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div class="input-group margin-top-15 margin-bottom-5">
                <input type="text" class="form-control" id="gridSearchInput">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="gridSearchButton"><i class="fa fa-search margin-right-5"></i>Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 well">
                    <div id="txGrid" data-url="@Url.Action("GetSmsTransactions", "Transaction", new { area = "SmsTransaction" })" data-jumpto="@TempData["SmsTransactionID"]" data-jumptopage="@TempData["pageNumber"]"></div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-12 tabbable custom-tabs shadow">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#transactionPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Transaction</span></a></li>
                        <li><a href="#safeSendPanel" data-toggle="tab"><i class="fa fa-home margin-right-10"></i><span>Safe Send</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="transactionPanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="well">
                                        <h3>Transaction Details</h3>
                                        <div id="transactionDetails"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="well">
                                        <h3>Primary Buyer</h3>
                                        <h5>
                                            Personal Details
                                            <span class="pull-right">
                                                <a id="editButton" class="btn btn-sm btn-primary" data-modallink="true" title="Edit Primary Buyer" data-url="@Url.Action("ViewEditSmsTransaction", "Transaction", new { area = "SmsTransaction" })"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
                                                <a id="pinButton" class="btn btn-sm btn-primary" data-modallink="true" title="Regenerate PIN" data-url="@Url.Action("ViewGeneratePIN", "Transaction", new { area = "SmsTransaction" })"><i class="fa fa-repeat margin-right-5"></i>Regenerate PIN</a>
                                            </span>
                                        </h5>
                                        <div id="primaryBuyer"></div>
                                    </div>
                                    <div class="well">
                                        <h3>
                                            Additional Buyers
                                            <i class="fa fa-pulse fa-spinner margin-left-5" id="spinnerAdditionalBuyers" style="display:none;"></i>
                                            <span class="pull-right">
                                                <a id="addAdditionalBuyerButton" class="btn btn-sm btn-primary" data-modallink="true" title="Add Additional Buyer" data-url="@Url.Action("ViewAddAdditionalBuyer", "AdditionalBuyer", new {area = "SmsTransaction"})"><i class="fa fa-plus margin-right-5"></i>Add</a>
                                            </span>
                                        </h3>
                                        <div id="additionalBuyers" data-url="@Url.Action("Get", "AdditionalBuyer", new {area = "SmsTransaction"})"></div>
                                    </div>
                                    <div class="well">
                                        <h3>
                                            Giftors
                                            <i class="fa fa-spin fa-spinner margin-left-5" id="spinnerGiftors" style="display:none;"></i>
                                            <span class="pull-right">
                                                <a id="addGiftorButton" class="btn btn-sm btn-primary" data-modallink="true" title="Add Giftor" data-url="@Url.Action("ViewAddGiftor", "Giftor", new {area = "SmsTransaction"})"><i class="fa fa-plus margin-right-5"></i>Add</a>
                                            </span>
                                        </h3>
                                        <div id="giftors" data-url="@Url.Action("Get", "Giftor", new {area = "SmsTransaction"})"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="safeSendPanel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="well">
                                        <h3>
                                            Safe Send
                                            <span class="pull-right">
                                                <a id="createConversationButton" class="btn btn-sm btn-primary" data-modallink="true" title="Create Conversation" data-url="@Url.Action("ViewCreateConversation", "Messages", new { area = "Admin" })">
                                                    <i class="fa fa-plus margin-right-5"></i>
                                                    Create Conversation
                                                </a>
                                            </span>
                                        </h3>
                                        <div id="transactionConversationContainer" data-activity-id="">
                                            @Html.Partial("~/Areas/Admin/Views/Messages/_Conversations.cshtml", new ConversationsModel { IsActivitySpecific = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/Index")"></script>
}
