<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading txt-color-blueDark"><i class="fa fa-lg fa-building-o margin-right-10"></i>View Transactions</h2>
        <button class="inline-heading btn btn-default btn-sm pull-right" id="gridSearchButton">Search</button>
        <input class="inline-heading pull-right" type="text" id="gridSearchInput" />

        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="txGrid" data-url="@Url.Action("GetSmsTransactions", "Transaction", new { area = "SmsTransaction" })" data-jumpto="@TempData["SmsTransactionID"]"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <div class="well">
                        <h3>Transaction Details</h3>
                        <h5>Transaction Address</h5>
                        <dl class="dl-horizontal">
                            <dt id="dtAddressLine1">Address Line 1:</dt>
                            <dd><p id="ddAddressLine1"></p></dd>
                            <dt id="dtAddressLine2">Address Line 2:</dt>
                            <dd><p id="ddAddressLine2"></p></dd>
                            <dt id="dtTown">Town:</dt>
                            <dd><p id="ddTown"></p></dd>
                            <dt id="dtCounty">County:</dt>
                            <dd><p id="ddCounty"></p></dd>
                            <dt id="dtPostCode">Post Code:</dt>
                            <dd><p id="ddPostCode"></p></dd>
                            <dt id="dtAdditionalAddressInformation">Additional Information:</dt>
                            <dd><p id="ddAdditionalAddressInformation"></p></dd>
                        </dl>
                        <h5>Product</h5>
                        <dl class="dl-horizontal">
                            <dt>Product Name:</dt>
                            <dd>
                                <p>
                                    Buyer Products > Bank Account Check
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3>Product Details</h3>
                        <h5>
                            Primary Buyer
                            <a id="editButton" class="btn btn-sm btn-default" data-modallink="true" title="Edit Primary Buyer" data-url="@Url.Action("ViewEditSmsTransaction", "Transaction", new { area = "SmsTransaction" })"><i class="fa fa-pencil"></i></a>
                        </h5>
                        <div class="row">
                            <div class="col-sm-6">
                                
                                <dl class="dl-horizontal">
                                    <dt>Full Name:</dt>
                                    <dd>
                                        <p id="ddName"></p>
                                    </dd>
                                    <dt>Email:</dt>
                                    <dd>
                                        <p id="ddEmail"></p>
                                    </dd>
                                </dl>
                                <a id="resendButton" class="btn btn-primary" data-modallink="true" data-url="@Url.Action("ViewResendLogins", "Transaction", new { area = "SmsTransaction" })">Resend Login Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/Index")"></script>
}
