@using Bec.TargetFramework.Entities.Enums
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <h2 class="row-seperator-header inline-heading txt-color-blueDark"><i class="fa fa-lg fa-building-o margin-right-10"></i>View Transactions</h2>
        <button class="inline-heading btn btn-default btn-sm pull-right" id="gridSearchButton">Search</button>
        <input class="inline-heading pull-right" type="text" id="gridSearchInput" />

        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="txGrid"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <div class="well">
                        <h3>Transaction Details</h3>
                        <h5>Transaction Address</h5>
                        <dl class="dl-horizontal">
                            <dt id="dtAddressLine1">Address Line 1:</dt>
                            <dd><p id="ddAddressLine1"></p></dd>
                            <dt id="dtAddressLine2">Address Line 2:</dt>
                            <dd><p id="ddAddressLine2"></p></dd>
                            <dt id="dtTown">Town:</dt>
                            <dd><p id="ddTown"></p></dd>
                            <dt id="dtCounty">County:</dt>
                            <dd><p id="ddCounty"></p></dd>
                            <dt id="dtPostCode">Post Code:</dt>
                            <dd><p id="ddPostCode"></p></dd>
                            <dt id="dtAdditionalAddressInformation">Additional Information:</dt>
                            <dd><p id="ddAdditionalAddressInformation"></p></dd>
                        </dl>
                        <h5>Product</h5>
                        <dl class="dl-horizontal">
                            <dt>Product Name:</dt>
                            <dd>
                                <p>
                                    Buyer Products > Bank Account Check
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        
                        <h3>Product Details</h3>
                        <h5>
                            Primary Buyer
                            <span class="pull-right">
                                <a id="editButton" class="btn btn-sm btn-primary" data-modallink="true" title="Edit Primary Buyer"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
                                <a id="resendButton" class="btn btn-sm btn-primary" data-modallink="true">Resend Login Details</a>
                            </span>
                        </h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <dl class="dl-horizontal">
                                    <dt>Full Name:</dt>
                                    <dd>
                                        <p id="ddName"></p>
                                    </dd>
                                    <dt>Email:</dt>
                                    <dd>
                                        <p id="ddEmail"></p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h3>
                            Additional Buyers
                            <i class="fa fa-spin fa-spinner margin-left-5" id="spinnerAdditionalBuyers" style="display:none;"></i>
                            <span class="pull-right">
                                <a id="addAdditionalBuyerButton" class="btn btn-sm btn-primary" data-modallink="true" title="Add Additional Buyer"><i class="fa fa-plus margin-right-5"></i>Add</a>
                            </span>
                        </h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="additionalBuyers"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="well">
                            <h3>
                                Giftors
                                <span class="pull-right">
                                    <a id="addGiftorButton" class="btn btn-sm btn-primary" data-modallink="true" title="Add Giftor"><i class="fa fa-plus margin-right-5"></i>Add</a>
                                </span>
                            </h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="giftors"></div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script id="relatedPartiesTmpl" type="text/x-handlebars-template">
        {{#if isEmpty}}
        <div class="alert alert-info fade in">
            <i class="fa-fw fa fa-info"></i>
            There are no additional buyers associated with the transaction.
        </div>
        {{/if}}
        <div class="panel-group smart-accordion-default" id="{{accordionId}}">
            {{#each additionalBuyers}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-parent="#{{@@root.accordionId}}">
                        <a data-toggle="collapse" href="#{{ElementId}}" aria-expanded="false" class="collapsed">
                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                            <span>{{FullName}}</span>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" aria-expanded="false" id="{{ElementId}}">
                    <div class="panel-body">
                        <div class="pull-right">
                            @*<a href="#" class="btn btn-primary"><i class="fa fa-edit"></i> Edit </a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-remove"></i> Delete </a>*@
                        </div>
                        <dl class="dl-horizontal pull-left">
                            <dt>Full Name:</dt>
                            <dd><p>{{FullName}}</p></dd>
                            <dt>Email:</dt>
                            <dd><p>{{UserAccountOrganisation.UserAccount.Email}}</p></dd>
                            {{#if FormattedBirthDate}}
                            <dt>Date of Birth:</dt>
                            <dd><p>{{FormattedBirthDate}}</p></dd>
                            {{/if}}
                            {{#with UserAccountAddress.Address}}
                            <dt>Address Line 1:</dt>
                            <dd><p>{{Line1}}</p></dd>
                            {{#if Line2}}
                            <dt>Address Line 2:</dt>
                            <dd><p>{{Line2}}</p></dd>
                            {{/if}}
                            <dt>Town:</dt>
                            <dd><p>{{Town}}</p></dd>
                            {{#if County}}
                            <dt>County:</dt>
                            <dd><p>{{County}}</p></dd>
                            {{/if}}
                            <dt>Post Code:</dt>
                            <dd><p>{{PostalCode}}</p></dd>
                            {{/with}}
                        </dl>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </script>

    <script type="text/javascript">
        $(function () {
            setupTransactionsGrid();
            findModalLinks();
        });

        var salutations = [];
        @foreach (var salutation in ((SalutationEnum[]) Enum.GetValues(typeof (SalutationEnum))))
        {
            @:salutations.push("@salutation");
                }

        function setupTransactionsGrid() {
            var txGrid = new gridItem(
            {
                gridElementId: 'txGrid',
                url: '@Url.Action("GetSmsTransactions", "Transaction", new {area = "SmsTransaction"})',
                schema: { data: "Items", total: "Count", model: { id: "SmsTransaction.SmsTransactionID" } },
                type: 'odata-v4',
                serverSorting: true,
                serverPaging: true,
                defaultSort: { field: "SmsTransaction.CreatedOn", dir: "desc" },
                panels: ['rPanel'],
                jumpToId: '@TempData["SmsTransactionID"]',
                change: txChange,
                searchElementId: 'gridSearchInput',
                searchButtonId: 'gridSearchButton',
                columns: [
                    {
                        field: "SmsTransaction.SmsTransactionID",
                        hidden: true,
                    },
                    {
                        field: "SmsTransaction.Reference",
                        title: "Reference"
                    },
                    {
                        field: "SmsTransaction.Address.Line1",
                        title: "Address Line 1"
                    },
                    {
                        field: "SmsTransaction.Address.PostalCode",
                        title: "Postcode"
                    },
                    {
                        field: "SmsTransaction.CreatedOn",
                        title: "Created",
                        template: function (dataItem) { return dateString(dataItem.SmsTransaction.CreatedOn); }
                    }
                ]
            });
            txGrid.makeGrid();

            //data binding for the panes beneath each grid
            function txChange(dataItem) {
                $("p#ddAddressLine1").text(dataItem.SmsTransaction.Address.Line1 || "");
                $("p#ddAddressLine2").text(dataItem.SmsTransaction.Address.Line2 || "");
                $("p#ddTown").text(dataItem.SmsTransaction.Address.Town || "");
                $("p#ddCounty").text(dataItem.SmsTransaction.Address.County || "");
                $("p#ddPostCode").text(dataItem.SmsTransaction.Address.PostalCode || "");
                $("p#ddAdditionalAddressInformation").text(dataItem.SmsTransaction.Address.AdditionalAddressInformation || "");

                $("p#ddName").text(
                (dataItem.UserAccountOrganisation.Contact.Salutation || "") + " " +
                (dataItem.UserAccountOrganisation.Contact.FirstName || "") + " " +
                (dataItem.UserAccountOrganisation.Contact.LastName || ""));
                $("p#ddEmail").text(dataItem.UserAccountOrganisation.UserAccount.Email || "");

                $("#editButton").data('href', '@Url.Action("ViewEditSmsTransaction", "Transaction", new {area = "SmsTransaction"})' + "?txId=" + dataItem.SmsTransaction.SmsTransactionID + "&uaoID=" + dataItem.UserAccountOrganisationId);
                $("#resendButton").data('href', '@Url.Action("ViewResendLogins", "Transaction", new {area = "SmsTransaction"})' + "?txId=" + dataItem.SmsTransaction.SmsTransactionID + "&label=" +
                    encodeURIComponent(
                    (dataItem.UserAccountOrganisation.Contact.Salutation || "") + " " +
                    (dataItem.UserAccountOrganisation.Contact.FirstName || "") + " " +
                    (dataItem.UserAccountOrganisation.Contact.LastName || "")));

                $("#resendButton").attr("disabled", !dataItem.UserAccountOrganisation.UserAccount.IsTemporaryAccount);
                $("#addAdditionalBuyerButton").data('href', '@Url.Action("ViewAddAdditionalBuyer", "AdditionalBuyer", new {area = "SmsTransaction"})' + "?txId=" + dataItem.SmsTransaction.SmsTransactionID);

                toggleFields(dataItem);
                showTransactionRelatedParties(dataItem, '@Url.Action("Get", "AdditionalBuyer", new {area = "SmsTransaction"})', 'additionalBuyers', 'additionalBuyersAccordion', 'spinnerAdditionalBuyers');
                //showTransactionRelatedParties(dataItem, '@Url.Action("Get", "Giftor", new {area = "SmsTransaction"})', 'giftors', 'giftorsAccordion');
            }

            function toggleFields(dataItem) {
                $('#dtAddressLine1, p#ddAddressLine1').toggle(!!dataItem.SmsTransaction.Address.Line1);
                $('#dtAddressLine2, p#ddAddressLine2').toggle(!!dataItem.SmsTransaction.Address.Line2);
                $("#dtTown, p#ddTown").toggle(!!dataItem.SmsTransaction.Address.Town);
                $("#dtCounty, p#ddCounty").toggle(!!dataItem.SmsTransaction.Address.County);
                $("#dtPostCode, p#ddPostCode").toggle(!!dataItem.SmsTransaction.Address.PostalCode);
                $("#dtAdditionalAddressInformation, p#ddAdditionalAddressInformation").toggle(!!dataItem.SmsTransaction.Address.AdditionalAddressInformation);
            }

            function showTransactionRelatedParties(dataItem, url, targetElementId, accordionId, spinnerId) {
                $('#' + spinnerId).show();

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        transactionId: dataItem.SmsTransaction.SmsTransactionID
                    }
                })
                .success(function (data) {
                    var additionalBuyers = data.Items;
                    additionalBuyers = _.map(additionalBuyers, function (additionalBuyer) {
                        var contact = additionalBuyer.UserAccountOrganisation.Contact;
                        return _.extend({}, additionalBuyer, {
                            FullName: contact.Salutation + " " + contact.FirstName + " " + contact.LastName,
                            ElementId: 'id' + additionalBuyer.SmsUserAccountOrganisationTransactionId,
                            FormattedBirthDate: moment(additionalBuyer.UserAccountOrganisation.Contact.BirthDate).format('DD/MM/YYYY')
                        });
                    });
                    var templateData = {
                        accordionId: accordionId,
                        isEmpty: additionalBuyers.length === 0,
                        additionalBuyers: additionalBuyers
                    };

                    var source = $("#relatedPartiesTmpl").html();
                    var template = Handlebars.compile(source);
                    var html = template(templateData);
                    $('#' + targetElementId).html(html);
                })
                .error(function (data) {
                    console.log(data);
                })
                .always(function () {
                    $('#' + spinnerId).hide();
                });
            }
        }
    </script>
}