@using Bec.TargetFramework.Entities.Enums
<!-- MAIN CONTENT -->
<div id="content" data-templateurl="@Url.Action("GetTemplate", "Home", new { area = "" })">
    <div class="row">
        <h2 class="row-seperator-header inline-heading txt-color-blueDark"><i class="fa fa-lg fa-building-o margin-right-10"></i>View Transactions</h2>
        <button class="inline-heading btn btn-default btn-sm pull-right" id="gridSearchButton">Search</button>
        <input class="inline-heading pull-right" type="text" id="gridSearchInput" />

        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="txGrid" data-url="@Url.Action("GetSmsTransactions", "Transaction", new { area = "SmsTransaction" })" data-jumpto="@TempData["SmsTransactionID"]"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6">
                    <div class="well">
                        <h3>Transaction Details</h3>
                        <h5>Transaction Address</h5>
                        <dl class="dl-horizontal">
                            <dt id="dtAddressLine1">Address Line 1:</dt>
                            <dd><p id="ddAddressLine1"></p></dd>
                            <dt id="dtAddressLine2">Address Line 2:</dt>
                            <dd><p id="ddAddressLine2"></p></dd>
                            <dt id="dtTown">Town:</dt>
                            <dd><p id="ddTown"></p></dd>
                            <dt id="dtCounty">County:</dt>
                            <dd><p id="ddCounty"></p></dd>
                            <dt id="dtPostCode">Post Code:</dt>
                            <dd><p id="ddPostCode"></p></dd>
                            <dt id="dtAdditionalAddressInformation">Additional Information:</dt>
                            <dd><p id="ddAdditionalAddressInformation"></p></dd>
                        </dl>
                        <h5>Product</h5>
                        <dl class="dl-horizontal">
                            <dt>Product Name:</dt>
                            <dd>
                                <p>
                                    Buyer Products > Bank Account Check
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3>Primary Buyer</h3>
                        <h5>
                            Personal Details
                            <span class="pull-right">
                                <a id="editButton" class="btn btn-sm btn-primary" data-modallink="true" title="Edit Primary Buyer" data-url="@Url.Action("ViewEditSmsTransaction", "Transaction", new { area = "SmsTransaction" })"><i class="fa fa-pencil margin-right-5"></i>Edit</a>
                                <a id="resendButton" class="btn btn-sm btn-primary" data-modallink="true" data-url="@Url.Action("ViewResendLogins", "Transaction", new {area = "SmsTransaction"})"><i class="fa fa-envelope margin-right-5"></i>Resend Login Details</a>
                            </span>
                        </h5>
                        <div id="primaryBuyer"></div>
                    </div>
                    <div class="well">
                        <h3>
                            Additional Buyers
                            <i class="fa fa-spin fa-spinner margin-left-5" id="spinnerAdditionalBuyers" style="display:none;"></i>
                            <span class="pull-right">
                                <a id="addAdditionalBuyerButton" class="btn btn-sm btn-primary" data-modallink="true" title="Add Additional Buyer" data-url="@Url.Action("ViewAddAdditionalBuyer", "AdditionalBuyer", new {area = "SmsTransaction"})"><i class="fa fa-plus margin-right-5"></i>Add</a>
                            </span>
                        </h3>
                        <div id="additionalBuyers" data-url="@Url.Action("Get", "AdditionalBuyer", new {area = "SmsTransaction"})"></div>
                    </div>
                    <div class="well">
                        <h3>
                            Giftors
                            <i class="fa fa-spin fa-spinner margin-left-5" id="spinnerGiftors" style="display:none;"></i>
                            <span class="pull-right">
                                <a id="addGiftorButton" class="btn btn-sm btn-primary" data-modallink="true" title="Add Giftor" data-url="@Url.Action("ViewAddGiftor", "Giftor", new {area = "SmsTransaction"})"><i class="fa fa-plus margin-right-5"></i>Add</a>
                            </span>
                        </h3>
                        <div id="giftors" data-url="@Url.Action("Get", "Giftor", new {area = "SmsTransaction"})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/SmsTransaction/Transaction/Index")"></script>
}
