@model Bec.TargetFramework.Presentation.Web.Areas.Account.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <h2 class="row-seperator-header inline-heading"><i class="fa fa-lg fa-key margin-right-10"></i>Change Password</h2>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <form id="changePasswordForm" action="" method="POST" class="smart-form" autocomplete="off">
                <fieldset>
                    @Html.ValidationBootstrap()
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.PreventAutofill()

                    <section>
                        <label class="label">Old Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                            @Html.PasswordFor(m => m.OldPassword, new { autocomplete = "off", tabindex = "1", maxlength = 50 })
                        </label>
                    </section>
                    <section>
                        <label class="label">New Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                            @Html.PasswordFor(m => m.NewPassword, new { autocomplete = "off", tabindex = "2", maxlength = 50 })
                        </label>
                    </section>
                    <section>
                        <label class="label">Confirm New Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-asterisk" style="font-size:0.7em;"></i>
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { autocomplete = "off", tabindex = "3", maxlength = 50 })
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button id="changePasswordSubmit" type="submit" class="btn btn-primary">
                        <i class="fa fa-check margin-right-5"></i>Change
                    </button>
                    @if (!string.IsNullOrWhiteSpace(Model.ReturnUrl))
                    {
                        <a id="backBtn" href="@Model.ReturnUrl" class="btn btn-default">
                            Cancel
                        </a>
                    }
                    else
                    {
                        <button id="backBtn" type="button" class="btn btn-default" onclick="window.history.back();">
                            Cancel
                        </button>
                    }
                    
                </footer>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script async src="@Scripts.Url("~/Scripts/Account/MyAccount/ChangePassword")"></script>
}
