<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">

        <h2 class="row-seperator-header inline-heading">View Credit</h2>
        <a data-href="@Url.Action("ViewTopUpCredit", "Credit", new { area  = "ProOrganisation" })" class="btn btn-primary btn-sm inline-heading" data-modallink="true">Top Up Credit</a>
        <br />

        <div class="col-sm-12 well">

            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="form-control" id="from" type="text" placeholder="From">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="form-control" id="to" type="text" placeholder="To">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" onclick="applyFilter()">
                        Filter
                    </button>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <span>Opening Balance: </span>
                        <span id="openingBal"></span>
                        <span>&nbsp;Closing Balance: </span>
                        <span id="closingBal" style="margin-right: 8px;"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="margin-top-10">
                        <div id="statementGrid"></div>
                    </div>
                </div>
            </div>

            <div class="row hidden" id="rPanel">
                <div class="col-sm-6 margin-top-10">
                    <!-- well -->
                    <div class="well">

                        <h5>Selected Transaction</h5>
                        <dl class="dl-horizontal">
                            <dt>Reference:</dt>
                            <dd><p id="ddReference"></p></dd>
                            <dt>Amount:</dt>
                            <dd><p id="ddAmount"></p></dd>
                            <dt>Date:</dt>
                            <dd><p id="ddDate"></p></dd>
                            <dt>Created By:</dt>
                            <dd><p id="ddCreatedBy"></p></dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var shownMessage = false;
        //set up grid options for the three grids. most are passed straight on to kendo grid.
        var statementGrid = new gridItem(
            {
                gridElementId: 'statementGrid',
                url: '@Url.Action("GetStatement", "Credit", new { area = "ProOrganisation" })',
                schema: { data: "Items", total: "Count", model: { id: "TransactionOrderID" } },
                type: 'odata-v4',
                serverSorting: true,
                serverPaging: true,
                defaultSort: { field: "BalanceOn", dir: "desc" },
                panels: ['rPanel'],
                change: txChange,
                jumpToId: '@ViewBag.TransactionOrderId',
                onLoadFailed: function (data) {
                    console.log(data);
                    var title = "Invalid Request";
                    var message = "The request made is invalid. Make sure your search criteria are corect.";
                    handleModal({ url: '@Url.Action("ViewMessage", "Home", new { Area = "" })' + "?title=" + title + "&message=" + message + "&button=Back" }, { }, true);
                },
                extraParameters: function () {
                    var selectedDateRange = getSelectedDateRange();
                    return "&from=" + selectedDateRange.from + "&to=" + selectedDateRange.to;
                },
                columns: [
                        {
                            field: "InvoiceReference",
                            title: "Reference",
                            sortable: false
                        },
                        {
                            field: "Amount",
                            title: "Amount",
                            sortable: false,
                            template: function (dataItem) { return formatCurrency(dataItem.Amount); }
                        },
                        {
                            field: "Balance",
                            title: "Balance",
                            sortable: false,
                            template: function (dataItem) { return formatCurrency(dataItem.Balance); }
                        },
                        {
                            field: "BalanceOn",
                            title: "Date",
                            template: function (dataItem) { return dateString(dataItem.BalanceOn); }
                        },
                        {
                            field: "CreatedByName",
                            title: "Created By",
                            sortable: false
                        }
                ]
            });

        $(document).ready(function () {
            findModalLinks();
            setupDateRangeInputs();
            statementGrid.makeGrid();
            updateBalances();
        });

        function applyFilter() {
            statementGrid.refreshGrid();
            updateBalances();
        }

        function updateBalances() {
            var selectedDateRange = getSelectedDateRange();

            ajaxWrapper({ url: '@Url.Action("GetBalanceAsAt", "Credit", new { area = "ProOrganisation" })' + '?startOfDay=true&date=' + selectedDateRange.from })
                .done(function (res) {
                    $('#openingBal').text(formatCurrency(parseFloat(res)));
                });
            ajaxWrapper({ url: '@Url.Action("GetBalanceAsAt", "Credit", new { area = "ProOrganisation" })' + '?startOfDay=false&date=' + selectedDateRange.to })
                .done(function (res) {
                    $('#closingBal').text(formatCurrency(parseFloat(res)));
                });
        }

        //data binding for the panes beneath each grid
        function txChange(dataItem) {
            $("p#ddReference").text(dataItem.InvoiceReference || "");
            $("p#ddAmount").text(formatCurrency(dataItem.Amount));
            $("p#ddDate").text(dateString(dataItem.BalanceOn) || "");
            $("p#ddCreatedBy").text(dataItem.CreatedByName || "");
        }

        function getSelectedDateRange() {
            var dateFrom = moment($('#from').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
            var dateTo = moment($('#to').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
            return {
                from: dateFrom,
                to: dateTo
            };
        }

        function setupDateRangeInputs() {
            var dateTo = new Date();
            var dateFrom = new Date(dateTo.getFullYear() - 1, dateTo.getMonth(), dateTo.getDate());

            // Date Range Picker
            $("#from").datepicker({
                defaultDate: dateFrom,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                showButtonPanel: true,
                prevText: "<i class=\"fa fa-chevron-left\"></i>",
                nextText: "<i class=\"fa fa-chevron-right\"></i>",
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            }).datepicker("setDate", dateFrom);

            $("#to").datepicker({
                defaultDate: dateTo,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                showButtonPanel: true,
                maxDate: dateTo,
                prevText: "<i class=\"fa fa-chevron-left\"></i>",
                nextText: "<i class=\"fa fa-chevron-right\"></i>",
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            }).datepicker("setDate", dateTo);

            $("#from ~ .input-group-addon").click(function () {
                $("#from").datepicker("show");
            });
            $("#to ~ .input-group-addon").click(function () {
                $("#to").datepicker("show");
            });
        }

    </script>
}
